{% load oifilters %}
<input id="filename_{{divid}}" name="filename" type="hidden" />
<input id="ts_{{divid}}" name="ts" type="hidden" />
<span id="filespan_{{divid}}" {% if not spec %}style="display:none" {% endif %}>
    <img src='/img/icons/delete.png' alt='Supprimer' title='Supprimer' onclick='changeFile("{{divid}}")' /> {{spec.file.name|cleanfilename}}
</span>
<div id="filediv_{{divid}}" {% if spec %}style="display:none" {% endif %}>
    <form id="form_{{divid}}" method="POST" enctype="multipart/form-data" action="/project/{{project.id}}/uploadfile/{{spec.id|default:0}}" target="filedest_{{divid}}">
        <input id="divid_{{divid}}" name="divid" type="hidden" value="{{divid}}" />
        <input id="file_{{divid}}" name="file" type="file" onchange="document.getElementById('form_{{divid}}').submit()" />
    </form>
</div>
<iframe id="filedest_{{divid}}" name="filedest_{{divid}}" class="filedest"></iframe>
<textarea id="text_{{divid}}" class="msgfield">{{spec.text|oiunescape}}</textarea>
