{% extends "base.html" %}
{% load oifilters %}
{% block title %}Avancement de {{project.title}}{% endblock %}
{% block content %}
<div id="prjview_{{project.id}}">
    <div>Vue d'ensemble de <a href="/project/get/{{project.id}}">{{project.title}}</a></div>
    {% if project.tasks.all %}
    <div>Tâches :</div>
    <div id="gantt" class="gantt" style="height:{{project.tasks.all.count|add:4}}em;">
        <div class="ganttlabels">
            <div>Date</div>
            <div class="viewprjalign">
<!--m            <div class="viewprj" style="width:{{project.due_date|oidateshift:project.start_date}}em"></div>-->
            </div>
            {% for task in project.tasks.all %}
            {% include "projects/taskview.html" %}
            {% empty %}
                Pas de tache dans le projet
            {% endfor %}    
        </div>
        {% for day in days %}
        <div class="ganttday" style="left:{{forloop.counter0|add:20}}em;height:{{project.tasks.count|add:4}}em;{%if day.weekday > 5%}background:#F0F0F0;{%endif%};z-index:-1">
            <span class="smalltext">{{day.day}}</span>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

