{% load i18n %}
{% load oifilters %}
<div id="project_{{project.id}}" class="projectsum clickable" onclick="document.location='/project/get/{{project.id}}'">
    <div class="prjtopsum"></div>
    <div class="prjbodysum">
        <div class="prjtitle">
            {{project.title}}
        </div>
        <div style="text-align:right">
            {% trans "In charge" %} : {{project.assignee|default:_("Not assigned")}}<br />
            {% trans "Started on:" %} {{project.start_date|date:"d/m/Y"}}<br />
            {% trans "Due on:" %}  {{project.due_date|date:"d/m/Y"}}<br />
        </div>
        <div id="specs_{{project.id}}">
        {%for spec in project.spec_set.all|dictsort:"order"%}
            <div id="specs_{{project.id}}_{{spec.order}}">
                {{spec.text|summarize}}
            </div>
        {%endfor%}
        </div>
        <div class="details"><img src="/img/link.png" /> {% trans "See more" %}</div>
        {% trans "Project proposed by" %} {{project.author}} {% trans "on" %} {{project.created}}
    </div>
    <div class="prjbtmsum"></div>
</div>
