﻿{% load oifilters %}
{% load i18n %}
<div id="prjdialogue_{{project.id}}" class="popup invisible"></div>
<div onclick="setPriority({{project.id}})">
{% trans "Priority:" %}{% if project|can_write:user and project.state < 2 %}
{% with project.id|stringformat:"s"|add:"_priority" as dest %}{% show_stars project.priority dest %}{% endwith %}
{% else %}
{% show_stars project.priority %}
{% endif %}
</div>
<div id="specs_{{project.id}}">
    {%for spec in project.spec_set.all|dictsort:"order"%}
    {%include 'projects/spec/spec.html'%}
    {%endfor%}
</div>
{% if project|can_write:user %}{% if project.state < 4 %}<img class="clickable" src="/img/icons/add.png" onclick="addSpec({{project.id}}, -1)" alt="{% trans "Add a specification" %}" title="{% trans "Add a specification" %}"/> {% trans "Add a specification" %}{% endif %}{% endif %}
<h1>Discussions</h1>
<div id="discussions_{{project.id}}">
    {% for message in project.message_set.all %}
    {% include 'messages/message.html' %}
    {% endfor %}
</div>
{% if project|can_write:user %}<img class="clickable" src="/img/icons/add.png" onclick="addMessage(null, {{project.id}})" alt="{% trans "Add a discussion" %}" title="{% trans "Add a discussion" %}"/> {% trans "Add a discussion" %}{% endif %}
