{% load i18n %}
{% load oifilters %}
{% with object as project %}
<img src='/img/icons/delete.png' class="clickable actions" alt="{% trans 'delete this task' %}" title="{% trans 'delete this task' %}" onclick='this.parentElement.spot.remove()'/>
<div class="prjtitle"><a href="/project/{{object.id}}">{{object.title}}</a></div>
<div id="specs_{{object.id}}">
{% for spec in object.spec_set.all %}
{% include 'projects/spec/spec.html' %}
{% endfor %}
</div>
{% if object|can_write:user and project.state < 4 %}{% if object.spec_set.all %}
<a class="clickable" onclick="addSpec({{object.id}})"><img src="/img/icons/add.png" /> {% trans "Add a description" %}</a>
{% else %}
{% with object.id as divid %}
<div id="{{divid}}">{% include 'projects/spec/editspec.html' %}</div>
{% endwith %}
{% endif %}{% endif %}
{% endwith %}
