{% load oifilters %}
{% load i18n %}
<div class="top-overview">
    <div class="prjauthor">{% trans "Project created on" %} {{project.created|date:"d/m/Y"}} {% trans "by" %} <a href="/user/profile/{{object.author.username}}">{{object.author.get_profile}} </a></div>
    {% if object.spec_set.all %}
        <div class="spec-link-overview">
            <img class="clickable next-mini-spec" src="/img/icons/nextMiniSpec.png"/>
            <a href="/project/{{object.id}}/view/description">
            {% for spec in object.spec_set.all %}
                <div class="minispec {% if not forloop.first %}invisible {% endif %}">
                    {% include 'projects/spec/minispec.html' %}
                </div>
            {% endfor %}
        </a>
        <img class="clickable previous-mini-spec" src="/img/icons/previousMiniSpec.png"/>
        </div>
    {% else %}
        <div class="no-mini-spec"> <a href="/project/{{object.id}}/view/description"> {% trans "Click here to describe the task" %} </a> </div>
    {% endif %}
    <script type="text/javascript">
        $('.previous-mini-spec').click(function(){
            $('.minispec').animate({width: 'hide'});
            var prevSpec=$('.minispec:visible').prev(".minispec");
            (prevSpec.length?prevSpec:$('.minispec').last()).animate({width: 'show'});;
        });
        $('.next-mini-spec').click(function(){
            $('.minispec').animate({width: 'hide'});
            var nextSpec=$('.minispec:visible').next(".minispec");
            (nextSpec.length?nextSpec:$('.minispec').first()).animate({width: 'show'});;
        });
    </script>
    <div class="prjtitle">{{project.title}}</div>
    <div class="descrip-overview">
        <div><span class="entitle-overview">{% trans "Assignee:" %} </span><a href="/project/{{object.id}}/view/team">
            {% if project.assignee %}{{project.assignee.get_profile}}
            {% else %}{% trans "click here to take on the task" %}{% endif %}
            <img src="/img/icons/edit.png" />
        </a></div>
        <div><span class="entitle-overview">{% trans "Execution dates:" %} </span><a href="/project/{{object.id}}/view/planning">
            {% if project.due_date %}{{project.start_date|date:"d/m/Y"}} {% trans "to" %} {{project.due_date|date:"d/m/Y"}}
            {% else %}{% trans "click here to add a date" %}{% endif %}
            <img src="/img/icons/edit.png" />
        </a></div>
        <div><span class="entitle-overview">{% trans "Requested budget:" %} </span><a href="/project/{{object.id}}/view/budget"> {{project.offer}}€ <img src="/img/icons/edit.png" /></a></div>
    </div>
</div>  
{% with  project.descendants|filter_read:user as tasks %}
{% if tasks %}
    <div class="bottom-overview">
        <div class="prjtitle">
            {{tasks.count}} 
            {% blocktrans count counter=tasks|length %}task inside{% plural %}tasks inside{% endblocktrans %}
            {{project.title}}</div> <div id="load"></div>
        <div class="prj-table-overview">
            <table id="dynamicTableOverview">
                <tr id="headerTableOverview">
                    <th class="tableheader clickable" onclick="orderOverviewTable({{project.id}}, 'title')">{% trans "Title" %} </th>
                    <th class="tableheader clickable" onclick="orderOverviewTable({{project.id}}, 'state')">{% trans "State" %}</th>
                    <th class="tableheader clickable" onclick="orderOverviewTable({{project.id}}, 'due_date')">{% trans "Echeance" %}</th>
                    <th class="tableheader clickable" onclick="orderOverviewTable({{project.id}}, 'assignee')">{% trans "Assignee" %}</th>
                    <th class="tableheader clickable" onclick="orderOverviewTable({{project.id}}, 'offer')">{% trans "Budget" %}</th>
                </tr>
            </table>
            <span id="projectOverviewPagePrev" class="prj-overview-page-prev clickable" onclick="page = page<=1?1:page-1; populateOverviewTable({{project.id}}); document.getElementById('page').innerHTML=page">{% trans "previous" %}</span>
            <span id="projectOverviewPageNext" class="prj-overview-page-next clickable" onclick="page = page>=nbpage?nbpage:page+1; populateOverviewTable({{project.id}}); document.getElementById('page').innerHTML=page;">{% trans "next" %}</span>
            <script>
                nbtask = {{tasks.count}};
                nbpage = Math.ceil(nbtask / 25);
                order = null;
                page=1;
                $(".prj-table-overview").ready(populateOverviewTable({{project.id}}));
                document.write("<span class=change-page-overview>"+"<span id=page>"+page+"</span>"+"<span>"+"/"+nbpage+"</span>"+"</span>");
            </script>
        </div>
    </div>
{% endif %}
{% endwith %}
