{% load oifilters %}
{% load i18n %}
<div id="budget" class="prjtable"></div>
<div class="smallcolumn">
    <div class="assignee">
        <h3 class="assignee">{% trans "Offer" %}</h3>
    {% if project.assignee %}
        <img class="contactpicture" src="/user/getpicture/{{project.assignee.username}}" />
        <div class="username">{{project.assignee}}</div>
        <div>{{project.offer}} €</div>
        {% if project.assignee == user and project.state < 2 %}<div><img class="clickable" src="/img/icons/edit2.png" onclick="offerProject({{project.id}})" /> {% trans "Change my offer" %}</div>{% endif %}
        <div class="cleared">{% trans "Commission" %} 5% : {{project.commission}} €</div>
    {% else %}
        {% trans "No offer was made for this project" %}
        {% if project.state < 2 and if project|can_read:user %}
        <div class="bidaction clickable" onclick="offerProject({{project.id}})">
            {% trans "Make an offer" %} <img src="/img/icons/whitebtn.png" />
        </div>
        {% endif %}
    {% endif %}
    </div>
    <div class="cleared"></div>
    <div id="bids_{{project.id}}" class="participant">
        <h3>{% trans "Bids" %}</h3>
        {% for bid in project.bid_set.all %}
        <div>
            <img class="contactpicture" src="/user/getpicture/{{bid.user.username}}">
            <div class="username">{{bid.user}}</div>
            <div>{{bid.amount}} €</div>
            {% if user == bid.user and project.state < 3 %}
                <div><img class="clickable" src="/img/icons/add.png" onclick="bidProject({{project.id}})" /> {% trans "Add a new bid" %}</div>
                <div><img class="clickable" src="/img/icons/delete.png" onclick="cancelBid({{project.id}}, {% if project.state > 1 %}true{% else %}false{% endif %})" alt="{% trans "Cancel your bid on this project" %}" title="{% trans "Cancel your bid on this project" %}" /> {% trans "Cancel my bid" %}</div>
            {% endif %}
            <div class="cleared"></div>
        </div>
        {% empty %}
            {% trans "No bid on this project" %}
        {% endfor %}
        <div>
            <h3>{% if project.missing_bid > 0 %}{% trans "missing" %} {{project.missing_bid|floatformat:2}} €{% endif %}</h3>
            {% if project.state < 3 %}{% if project|can_read:user %}{% if not project|is_bidder:user %}
            <div onclick="bidProject({{project.id}})" class="clickable bidaction">
                {% trans "Bid_verb" %} <img src="/img/icons/whitebtn.png" />
            </div>
            {% endif %}{% endif %}{% endif %}
        </div>
    </div>
    {% ifequal user project.assignee %}
    {% for bid in project.cancelled_bids %}
    <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
        {{bid.user.username}} {% trans "wants to cancel his" %} <br /> {% trans "bid on this project" %}<br />
        {% trans "Your offer will be reduced of" %} {{bid.amount}}.<br />
        {% trans "Do you accept it?" %}
        <img class="clickable" src="/img/icons/ok.png" onclick="answerCancelBid({{project.id}}, {{bid.id}}, true, 'question_{{project.id}}_{{bid.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
        <img class="clickable" src="/img/icons/delete.png" onclick="answerCancelBid({{project.id}}, {{bid.id}}, false, 'question_{{project.id}}_{{bid.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
    </div>
    {% endfor %}
    {% endifequal %}
    {% if project|is_bidder:user %}
    {% ifequal project.state 11 %}
    <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
        {{project.assignee.username}} {% trans "wants to cancel this project." %}<br />
        {% trans "You will be reimbursed in full." %}<br />
        {% trans "Do you accept it?" %}
        <img class="clickable" src="/img/icons/ok.png" onclick="answerCancelProject({{project.id}}, true, 'question_{{project.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
        <img class="clickable" src="/img/icons/delete.png" onclick="answerCancelProject({{project.id}}, false, 'question_{{project.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
    </div>
    {% endifequal %}
    {% if project.delay %}
    <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
        {{project.assignee.username}} {% trans "wants to change this project due date to" %} {{project.delay|date:"d/m/Y"}}<br />
        {% trans "Do you accept it?" %}
        <img class="clickable" src="/img/icons/ok.png" onclick="answerDelayProject({{project.id}}, true, 'question_delay_{{project.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
        <img class="clickable" src="/img/icons/delete.png" onclick="answerDelayProject({{project.id}}, false, 'question_delay_{{project.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
    </div>
    {% endif %}
    {% endif %}
</div>
<script>
    oiTable = new OITable("budget", ["{% trans 'Budget' %}","{% trans 'Engaged' %}"]);
    oiTable.addLine({{project.master.id}}, ["{{project.master.alloffer_sum}} €", "{{project.master.allbid_sum}} €"])
</script>
