{% extends "base.html" %}
{% block content %}
<div id="project_{{project.id}}" class="project">
    <div class="prjup">
        <div class="msginfo">
            {{project.author}}
            {{project.created}}
        </div>
        <div class="msgtitle">
            {{project.title}}
            id : {{project.id}}
        </div>
    </div>
    <div class="prjbody">
        <div id="specs_{{project.id}}">
            {%for spec in project.get_specs%}
            <div id="specs_{{project.id}}_{{spec.order}}">
                {%include 'projects/spec.html'%}
            </div>
            {%endfor%}
        </div>
        assigné à : {{project.assignee}}<br />
        démarré le : {{project.start_date}}<br />
        du le : {{project.due_date}}<br />
        <button onclick="addSpec({{project.id}}, -1)">+</button>
        <a href="{% url oi.projects.views.deleteproject id=project.id%}">Supprimer le projet</a>
        <a href="{% url oi.projects.views.editproject id=project.id%}">Modifier le projet</a>
        <div id="tasks_{{project.id}}">
            {%if project.tasks.all%}
            Tâches :
            {%for task in project.tasks.all%}
            <div id="project_{{task.id}}">
                {%if task.is_simple_task%}
                    {%include 'projects/task.html'%}
                {%else%}
                    <a href="{% url oi.projects.views.getproject id=task.id%}">{{task}}</a>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <div>
            <input type="text" id="newtask_title_{{project.id}}"/>
            <button onclick="addTask({{project.id}})">Nouvelle tâche</button>
        </div>
        <a href="{% url oi.projects.views.projectview id=project.id%}">Vue d'ensemble</a>
    </div>
    <div class="prjbtm"></div>
</div>
{% endblock %}
