{% load oifilters %}
<div class="actions">
    {% if project.state = 1 %}
        {% ifequal project.assignee user %}
        <img class="clickable" onclick="startProject({{project.id}})" src="/img/icons/startprj.png" alt="Démarrer le projet" title="Démarrer le projet" />
        {% endifequal %}
    {% endif %}
    {% if project.state = 2 %}
        {% if project.assignee = user %} <img class="clickable" onclick="deliverProject({{project.id}})" src="/img/icons/okprj.png" alt="Marquer le projet comme terminé" title="Marquer le projet comme terminé" />{% endif %}
    {% endif %}
    {% if project.state < 3 %}
        {% if project|can_read:user %}
        <img class="clickable" onclick="bidProject({{project.id}})" src="/img/icons/miseprj.png" alt="Souscrire au projet" title="Souscrire au projet" />
        {% endif %}
    {% endif %}
    {% if project.state = 3 %}
        {% if project|is_bidder:user %} <img class="clickable" onclick="validateProject({{project.id}})" src="/img/icons/okprj.png" alt="Valider le projet" title="Valider le projet" />{% endif %}
    {% endif %}
    {% if project.state = 4 %}
        {% if project|is_bidder:user %} <img class="clickable" onclick="evalProject({{project.id}})" src="/img/icons/evalprj.png" alt="Evaluer le projet" title="Evaluer le projet" />{% endif %}
    {% endif %}
    {% if project|can_read:user %}<a href="{% url oi.projects.views.projectview id=project.id %}">
        <img src="/img/icons/viewprj.png" alt="Vue d'ensemble" title="Vue d'ensemble" />
    </a>{% endif %}
    {% if project|can_write:user %}
        {% if project.public %}
        <img class="clickable" src="/img/icons/privateprj.png" onclick="hideProject({{project.id}})" alt="Projet privé" title="Projet privé" />
        {% else %}
        <img class="clickable" src="/img/icons/shareprj.png" onclick="shareProject({{project.id}})" alt="Partager le projet" title="Partager le projet" />
        {% endif %}
        {% ifequal project.bid_set.count 0 %}
        <img class="clickable" src="/img/icons/delprj.png" onclick="deleteProject({{project.id}},{{project.message.id}})" alt="Supprimer le projet" title="Supprimer le projet" />
        {% else %}
            {% if project.state <= 3 %}
                {% ifequal user project.assignee %}
                <img class="clickable" src="/img/icons/delprj.png" onclick="cancelProject({{project.id}}, {% if project.state > 1 %}true{% else %}false{% endif %})" alt="Annuler le projet" title="Annuler le projet" />
                {% endifequal %}
                {% if project|is_bidder:user %}
                <img class="clickable" src="/img/icons/delprj.png" onclick="cancelBid({{project.id}}, {% if project.state > 1 %}true{% else %}false{% endif %})" alt="Annuler la participation au projet" title="Annuler la participation au projet" />
                {% endif %}
            {% endif %}
        {% endifequal %}
    {% endif %}
    <img class="clickable" src="/img/icons/favprj.png" onclick="observeProject({{project.id}})" alt="Suivre le projet" title="Suivre le projet" />
</div>
