{% load oifilters %}
{% load i18n %}
{% if object|can_write:user and object.state < 1 and object.bid_set.count == 0 and object.tasks.count == 0 %}
<img src="/img/icons/del-32.png" class="clickable" style="float:right" alt="{% trans "Delete the project" %}" title="{% trans "Delete the project" %}" onclick="deleteProject({{object.id}})" />
{% endif %}
{% if object.state < 4 and object.state > 0 and user == object.assignee %}
<img src="/img/icons/del-32.png" class="clickable" style="float:right" alt="{% trans "Cancel the project" %}" title="{% trans "Cancel the project" %}" onclick="cancelProject({{object.id}}, {{object.state}})" />
{% endif %}
{% if object.assignee == user %}
    {% if object.state < 2 and object.is_ready_to_start %}
    <div class="prjstatebtn clickable" onclick="startProject({{object.id}})">{% trans "Start the project" %} <img src="/img/icons/bluebtn.png" /></div>
    {% endif %}
    {% if object.state == 2 %}
    <div class="prjstatebtn clickable" onclick="deliverProject({{object.id}})">{% trans "Deliver the project" %} <img src="/img/icons/bluebtn.png" /></div>
    {% endif %}
{% endif %}
{% if object|is_bidder:user %}
    {% if object.state == 3 %}
    <div class="prjstatebtn clickable" onclick="validateProject({{object.id}})">{% trans "Validate the project" %} <img src="/img/icons/bluebtn.png" /></div>
    {% endif %}
    {% if object.state == 4 %}
    <div class="prjstatebtn clickable" onclick="evalProject({{object.id}})">{% trans "Evaluate the project" %} <img src="/img/icons/bluebtn.png" /></div>
    {% endif %}
{% endif %}
<div class="prjstate statebg{{object.state}}">
    {% trans "Project" %} {{OI_PRJ_STATES|get:object.state}}
    <img src="/img/icons/state0.png" />
    {% ifequal object.state 2 %}
    <div class="progressbar" {% ifequal object.assignee user %}onclick="updateProgress({{object.id}},(event.clientX-this.offsetLeft)/this.offsetWidth)"{% endifequal %}>
        <span id="progressbar_{{object.id}}" class="progress" style="width:{{object.progress|default:0|multiply:100|floatformat:0}}%;"></span>
        <span id="progresslabel_{{object.id}}" class="progresstitle" >{{object.progress|default:0|multiply:100|floatformat:0}}%</span>
    </div>
    {% endifequal %}
</div>


