{% extends "base.html" %}
{% block content %}
<div id="project_{{project.id}}" class="project">
    <div class="prjbox">
        {%include "projects/prjtop.html" %}
        <div class="msginfo">
            {{project.author}}
            {{project.created}}
        </div>
        <div class="msgtitle">
            {{project.title}}
            id : {{project.id}}
        </div>
        <div id="specs_{{project.id}}">
            {%for spec in project.get_specs%}
            <div id="specs_{{project.id}}_{{spec.order}}">
                {%include 'projects/spec.html'%}
            </div>
            {%endfor%}
        </div>
        <button onclick="addSpec({{project.id}}, -1)">+</button>
        <a href="/project/delete/{{project.id}}">Supprimer le projet</a>
        <div id="tasks_{{project.id}}">
            {%if project.tasks.all%}
            Tâches :
            {%for task in project.tasks.all%}
            <div id="project_{{task.id}}">
                {%if task.is_simple_task%}
                    {%include 'projects/task.html'%}
                {%else%}
                    <a href="/project/get/{{task.id}}">{{task}}</a>
                {%endif%}
            </div>
            {%endfor%}
            {%endif%}
        </div>
        <input type="text" id="newtask_title_{{project.id}}"/>
        <button onclick="addTask({{project.id}})">Nouvelle tâche</button>
    </div>
    {%include "projects/prjbottom.html" %}
</div>
{% endblock %}
