{% load oifilters %}
{% load i18n %}
<div id="budget" class="prjtable"></div>
<div class="largecolumn">
    <div>
        <h3>{% if project.missing_bid > 0 %}{% trans "Payment awaiting:" %} {{project.missing_bid|floatformat:2}} €{% endif %}</h3>
        {% if project.state < 3 %}{% if project|can_bid:user %}{% if not project|bids:user %}
        <div onclick="bidProject({{project.id}})" class="clickable bidaction">{% trans "Bid_verb" %}</div>
        {% endif %}{% endif %}{% endif %}
    </div>
    <div>
        <div class="smallcolumn">
            <div class="oired">
                <h3>{% trans "Offer" %}</h3>
            {% if project.assignee %}
                <img class="contactpicture" src="/user/getpicture/{{project.assignee.username}}" />
                <div class="username">{{project.assignee}}</div>
                <div>
                    {{project.offer|default:project.alloffer_sum}} €
                    <span class="cleared tax">{% if task.assignee.get_profile.tax_rate %}{% trans "Tax" %} {{task.assignee.get_profile.tax_rate}}% : ({{task.offer_with_tva|default:task.get_offer_tax|floatformat:2}}€){% else %} {% trans "No tax rate provided" %}<a href="/user/myaccount"><img src="/img/icons/edit.png" /></a> {% endif %}</span>
                </div>
                {% if project.assignee == user and project.state < 2 %}
                    <div>
                        {% if project.descendants.with_offer %}
                            {% trans "The task" %} "{{project.descendants.with_offer.0.title}}" {% trans "already has an offer" %} 
                        {% else %}
                            {% if project.ancestors.with_offer %}
                                {% trans "The task" %} "{{project.ancestors.with_offer.0.title}}" {% trans "already has an offer" %}
                            {% else %}
                                <img class="clickable" src="/img/icons/edit2.png" onclick="offerProject({{project.id}})" /> {% trans "Change my offer" %}
                            {% endif %} 
                        {% endif %}
                    </div>
                {% endif %}
                <br/>
                <div class="cleared">{% trans "Commission" %} 5% : {{project.commission|default:project.allcommission_sum}}€</div>
                
                <div class="cleared tax">{% trans "Tax" %} 19.6%: ({{task.get_commssion_tax|floatformat:2}}€)</div>
            {% else %}
                {% trans "No offer was made for this project" %}
                {% if project.state < 2 and project|can_bid:user %}
                <div class="bidaction clickable" onclick="offerProject({{project.id}})">{% trans "Make an offer" %}</div>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="smallcolumn">
            <h4>{% trans "includes" %}</h4>
            {% for task in project.descendants.all %}
            {% if task.offer %}
                <div><a href="/project/{{task.id}}/view/budget">{{task.title}} : {{task.offer}} €</a></div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="cleared"></div>
    </div>
    <div>
        <div class="smallcolumn">
            <h4>{% trans "Dependencies" %}</h4>
            {{project.missing_requirement_bid}} €
            {% if project|can_manage:user %}<div style="border:solid;padding:.5em" id="test">
                {% trans "Drop here tasks that are required for this one to start" %}
            </div>{% endif %}
            <script>
                {% if project|can_write:user and project.state < 2 %}
                    test.receiveNode = function receiveNode(id, event) {
                        OIajaxCall("/project/{{project.id}}/addrequirement", "req="+id, newDiv("requirements_{{project.id}}"));
                    }
                {% endif %}
            </script>
        </div>
        <div class="smallcolumn" id="requirements_{{project.id}}">
            <h4>{% trans "Depends on" %}</h4>
            {% for req in project.requirements.all %}
                <div id="req_{{req.id}}">
                    <a href="/project/{{req.id}}/view/budget">{{req.title}}: {{req.missing_bid}} €</a>
                    <img class="clickable" src="/img/icons/delete.png" alt="{% trans 'Delete this dependency' %}" title="{% trans 'Delete this dependency' %}" onclick="OIajaxCall('/project/{{project.id}}/removerequirement', 'req={{req.id}}', 'output', function(){req_{{req.id}}.innerHTML=''})" />
                </div>
            {% endfor %}
        </div>
        <div class="cleared"></div>
    </div>
    <div class="smallcolumn" >
        <div id="bids_{{project.id}}" class="participant">
            <h3>{{project.bid_set.count}} {% trans "Bids" %}: {{project.allbid_sum}} €</h3>
            {% for bid in project.bid_set.all %}
            <div>
                <img class="contactpicture" src="/user/getpicture/{{bid.user.username}}">
                <div class="username">{{bid.user}}</div>
                <div>{{bid.amount}} €</div>
                {% if user == bid.user and project.state < 3 %}
                    <div><img class="clickable" src="/img/icons/add.png" onclick="bidProject({{project.id}})" /> {% trans "Add a new bid" %}</div>
                    <div><img class="clickable" src="/img/icons/delete.png" onclick="cancelBid({{project.id}}, {% if project.state > 1 %}true{% else %}false{% endif %})" alt="{% trans "Cancel your bid on this task" %}" title="{% trans "Cancel your bid on this task" %}" /> {% trans "Cancel my bid" %}</div>
                {% endif %}
                <div class="cleared"></div>
            </div>
            {% empty %}
                {% trans "No bid on this task" %}
            {% endfor %}
        </div>
        {% ifequal user project.assignee %}
        {% for bid in project.canceled_bids %}
        <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
            {{bid.user.username}} {% trans "wants to cancel his" %} <br /> {% trans "bid on this task" %}<br />
            {% trans "Your offer will be reduced of" %} {{bid.amount}}.<br />
            {% trans "Do you accept it?" %}
            <img class="clickable" src="/img/icons/ok.png" onclick="answerCancelBid({{project.id}}, {{bid.id}}, true, 'question_{{project.id}}_{{bid.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
            <img class="clickable" src="/img/icons/delete.png" onclick="answerCancelBid({{project.id}}, {{bid.id}}, false, 'question_{{project.id}}_{{bid.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
        </div>
        {% endfor %}
        {% endifequal %}
        {% if project|bids:user %}
        {% ifequal project.state 11 %}
        <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
            {{project.assignee.username}} {% trans "wants to cancel this task." %}<br />
            {% trans "You will be reimbursed in full." %}<br />
            {% trans "Do you accept it?" %}
            <img class="clickable" src="/img/icons/ok.png" onclick="answerCancelProject({{project.id}}, true, 'question_{{project.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
            <img class="clickable" src="/img/icons/delete.png" onclick="answerCancelProject({{project.id}}, false, 'question_{{project.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
        </div>
        {% endifequal %}
        {% if project.delay %}
        <div id="question_{{project.id}}_{{bid.id}}" class="smalltext">
            {{project.assignee.username}} {% trans "wants to change this task due date to" %} {{project.delay|date:"d/m/Y"}}<br />
            {% trans "Do you accept it?" %}
            <img class="clickable" src="/img/icons/ok.png" onclick="answerDelayProject({{project.id}}, true, 'question_delay_{{project.id}}')" title="{% trans "Accept" %}" alt="{% trans "Accept" %}"/>
            <img class="clickable" src="/img/icons/delete.png" onclick="answerDelayProject({{project.id}}, false, 'question_delay_{{project.id}}')" title="{%trans "Refuse" %}" alt="{%trans "Refuse" %}"/>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <script>
    oiTable = new OITable("budget", ["{% trans 'Budget' %}","{% trans 'Engaged' %}"]);
    firstLine = ["{{project.master.get_budget}} €", "{{project.master.allbid_sum}} €"];
    
    oiTable.addFromTask = function addFromTask(task, afterid, bgClass) {
        var budget = parseFloat(task.fields.get_budget);
        var engaged = parseFloat(task.fields.allbid_sum);
        oiTable.addLine(task.pk, [budget + " €", engaged + " €"], afterid, bgClass);
    }
    </script>
</div>
