{% extends "base.html" %}
﻿﻿{% load oifilters %}
{% load i18n %}
{% block title %}{{object.title|default:_("Project")}}{% endblock %}
{% block spacetitle %}{{object.master.title}}{% endblock %}
{% block tabs %}
<div class="{% ifequal view "description" %}selectedtab{% else %}tab{% endifequal %}">
    <a href="description"><img class="tabicon" src="/img/icons/spec.png"/> description</a>
</div>
<div class="{% ifequal view "budget" %}selectedtab{% else %}tab{% endifequal %}">
    <a href="budget"><img class="tabicon" src="/img/icons/budget.png"/> budget</a>
</div>
<div class="{% ifequal view "team" %}selectedtab{% else %}tab{% endifequal %}">
    <a href="team"><img class="tabicon" src="/img/icons/team.png"/> team</a>
</div>
<div class="{% ifequal view "planning" %}selectedtab{% else %}tab{% endifequal %}">
    <a href="planning"><img class="tabicon" src="/img/icons/planning.png"/> planning</a>
</div>
{% endblock %}
{% block nav %}
<img id="treebtn_{{object.master.id}}" src="/img/treebtn1.png" onclick="listTasks({{object.master.id}})"/><a href="/project/get/{{object.master.id}}">{{object.master.title}}</a>
<form id="newtask_{{object.master.id}}"></form>
<div class="tasklist" id="tasks_{{object.master.id}}"></div>
{% endblock %}
{% block content %}
{% if object|can_read:user %}
{% with object as project %}
{% with "projects/project_"|add:view|add:".html" as template_name %}
{% include template_name %}
{% endwith %}
{% endwith %}
<script>
    username = '{{user.username}}';
    {% for ancestor in object.get_path %}
    listTasks({{ancestor.id}});
    {% endfor %}
    setActiveTask({{object.id}});
</script>
{% else %}
{% trans "Forbidden" %}
{% endif %}
{% endblock %}
