<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Open Initiative</title>
</head>
<body style="width: 630px; margin: auto; font-size: 14px; font-family: Helvetica, Arial, sans-serif; line-height: 19px; color: #333; background-color: #ffffff;color:#444444">
    <a href="http://www.openinitiative.com/?oi={{id}}">
        <div style="float: right; text-align: center; margin: 0 0 50px 50px; width: 200px; font-weight: bold; color: #D0574C">
            <img src="http://www.openinitiative.com/img/logo.png?oi={{id}}" alt="Open Initiative" style="border: none"/> <br />
            la communauté informatique au service des entreprises.
        </div>
    </a>
    <p style="color: #D0574C; font-size: 20px">Bonjour {{name}},</p>
    <p>Vous recherchez un prestataire informatique pour réaliser un projet ?<br />Vous souhaitez rencontrer des professionnels pour discuter de votre besoin ?</p>
    <p>Sur Open Initiative les professionnels sont présents pour réaliser votre site web, vos applications mobiles, votre informatique décisionnelle...</p>
    <p style="font-weight: bold; color: #D0574C">Ils vous répondront sur <a href="http://www.openinitiative.com/?oi={{id}}" style="color: #D0574C">www.openinitiative.com</a> :</p>
    <img style="float: left" src="http://www.openinitiative.com/img/agilearrow.png" alt="-" />
    <p>Publiez votre projet expliquant vos besoins, et discutez-en avec les professionnels présents sur Open Initiative.</p>
    <img style="float: left" src="http://www.openinitiative.com/img/agilearrow.png" alt="-" />
    <p>Recevez une une proposition de projet détaillée tâche par tâche et chiffrée, élaborée par un membre d'Open Initiative.</p>
    <img style="float: left" src="http://www.openinitiative.com/img/agilearrow.png" alt="-" />
    <p>Vous ne payez les tâches qu'au fur et à mesure qu'elles sont mises en oeuvre, selon votre rythme et votre budget.</p>
    <img style="float: left" src="http://www.openinitiative.com/img/agilearrow.png" alt="-" />
    <p>Open Initiative conserve les fonds avancés jusqu'à votre validation du travail accompli, de sorte que le prestataire ne sera payé qu'une fois que vous aurez obtenu entière satisfaction !</p>
    <p style="color: #0094B5">Vous avez un besoin particulier ? Vous souhaitez obtenir plus d'information ? N'hésitez pas à nous contacter : <a href="mailto:contact@openinitiative.com" style="color: #0094B5">contact@openinitiative.com</a></p>
    <p>Nous espérons vous voir bientôt sur notre site !</p>
    <p>Sylvain Le Bon,<br />fondateur d'Open Initiative</p>
    <p><a href="http://www.openinitiative.com/?oi={{id}}" style="font-weight: bold; color: #D0574C">www.openinitiative.com</a></p>
</body>
</html>
