{% load i18n %}
{% if request.session.project_clipboard.items %}
<h3><img src="/img/icons/clipboard-32.png" />{% trans "Clipboard" %}</h3>
<div id="project_clipboard" class="nav">
    {% for project_id,project_title in request.session.project_clipboard.items %}
    <div id="project_clipboard_{{project_id}}">
        <img class="clickable" src="/img/icons/delete.png" title="{% trans "remove from clipboard" %}" onclick="uncopyTask({{project_id}})"/>
        {{project_title}}
    </div>
    {% endfor %}
</div>
<div class="sep"></div>
{% endif %}
<a href="/message/get/{{project.message.id}}">
    <div class="navitem">
        <div class="navicon"><img src="/img/icons/msg32.png"/></div>
        {% trans "Discussion" %}
    </div>
</a>
<div class="sep"></div>
<a href="/project/get/{{project.id}}">
    <div class="navitem">
        <div class="navicon"><img src="/img/icons/prj32.png" /></div>
        {% trans "Specification" %}
    </div>
</a>
<div class="sep"></div>
<a href="/project/summary/{{project.master.id}}">
    <div class="navitem">
        <div class="navicon"><img src="/img/icons/search.png" /></div>
        {% trans "Planning" %}
    </div>
</a>
<div class="sep"></div>
<a href="">
    <div class="navitem">
        <div class="navicon"><img src="/img/icons/usr32.png" /></div>
        {% trans "Team" %}
    </div>
</a>
