{% extends "funding/base.html" %}
{% load i18n %}
{% block title %}{% trans "Connection" %}{% endblock %}
{% block content %}

{% if not user.is_authenticated %}

<!--login-in-->
<div class="logbox">
    <div style="font-size: 2em;margin-bottom: 8%;" class="fundinggreen form_center fundingtitle">{% trans "LOG-IN" %}</div>
    <br/>
    <form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
        <table>
            <tr>
                <td>
                    <b>{% trans "username" %}:</b>
                </td>
                <td>
                    <input id="username_field" type="text" name="username" tabindex=1/>
                </td>
            </tr>
            <tr>
                <td>
                    <b>{% trans "password" %}:</b>
                </td>
                <td>
                    <input type="password" name="password" id="id_password" tabindex=2/>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
        <p>
            <input type="hidden" name="next" value="{{request.GET.next}}" />
            <a href="/user/resetpassword" class="forgotpwd">{% trans "Forgot your password?" %}</a>
        </p>
        <br/>
        <p class="continuebtn clickable fundingright" style="padding:1.5%"><input class="nobtnstyle" type="submit" value="{% trans 'Log in' %}"></p>
        <div class="cleared"></div>
    </form>
</div>

{% else %}
<script>document.location.href = "/"</script>
{% endif %}

{% endblock %}
