{% load i18n %}

<div class="logbox">
    <div style="font-size: 2em;" class="fundinggreen form_center fundingtitle">{% trans "LOG-IN" %}</div>
    <br/>
    <form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
        <table>
            <tr>
                <td class="log_style">
                    <b>{% trans "Username" %}:</b>
                </td>
            </tr>
            <tr>
                <td class="log_separate">
                    <input id="username_field" type="text" name="username" tabindex=3/>
                </td>
            </tr>
            <tr>
                <td class="log_style">
                    <b>{% trans "Password" %}:</b>
                </td>
            </tr>
            <tr>
                <td class="log_separate">
                    <input type="password" name="password" id="id_password" tabindex=4/>
                </td>
            </tr>
        </table>
        <p class="no_p_style">
            <input type="hidden" name="next" value="{{next}}" />
            <a href="/user/resetpassword" class="forgotpwd subtitle"><b>{% trans "Forgot your password?" %}</b></a>
        </p>
        <br/>
        <img class="fundingright" src="/img/tete0.png">
        <p class="continuebtn clickable fundingleft no_p_style" style="padding:1.5%"><input class="nobtnstyle" type="submit" value="{% trans 'Log in' %}"></p>
        <div class="cleared"></div>
    </form>
</div>

