{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Notifications Settings" %}{% endblock %}
{% block pagetitle %}{% trans "Notifications Settings" %}{% endblock %}
{% block content %}
{% for observer in observers %}
<div class="project">
    {% if observer.project %}<a href="/funding/{{observer.project.id}}" target="_blank"><div class="prjtitle">{{observer.project.title}}</div></a>
    {% else %} <div class="prjtitle">{% trans "Default settings" %}</div> {% endif %}

    {% if observer.project %}
        <label for="Use_Default_{{observer.id}}">{% trans "Use default" %}</label>
        <input id="Use_Default_{{observer.id}}" type="checkbox" {% if observer.use_default %} checked {% endif %} onclick="saveSetting({{observer.id}}, this.checked);"/>
    {% endif %}
    <br/>
    <br/>
    <div id="notice_setting_{{observer.id}}" {% if observer.use_default %} class="invisible" {% endif %}>
        <label for="freq_{{observer.id}}">{% trans "Receive notices every" %}</label> 
        <select id="freq_{{observer.id}}" onchange="saveSetting({{observer.id}});">
            <option value="604800" {% if observer.send_every = 604800 %} selected {% endif %}>{% trans "week" %}</option> 
            <option value="86400" {% if observer.send_every = 86400 %} selected {% endif %}>{% trans "day" %}</option> 
            <option value="3600" {% if observer.send_every = 3600 %} selected {% endif %}>{% trans "hour" %}</option> 
            <option value="300" {% if observer.send_every = 300 %} selected {% endif %}>{% trans "5 minute" %}</option>
        </select>
        
        <ul style="margin-top: 0px;">{% for setting in observer.noticesetting_set.all %}
        <li><input type="checkbox" {% if setting.send %} checked {% endif %} onclick="saveSetting({{observer.id}}, null, '{{setting.notice_type.label}}', this.checked);"/>
        <label>{% trans setting.notice_type.display %}</label></li>
        {% endfor %}</ul><br/>
    </div>
</div>
{% endfor %}
{% endblock %}
