{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Open Initiative</title>
    <style type="text/css">
    a {text-decoration:underline;}
    </style>
</head>
<body>
<div style="width: 630px; margin: auto; font-size: 10px; font-family: Helvetica, Arial, sans-serif; line-height: 19px; color: #333; background-color: #ffffff;color:#444444">
    <div style="border:4px #0094B5 solid"></div>
    <a href="{{current_site}}/" style="text-decoration: none">
        <div style="text-align: center; margin: 0 0 50px 50px; width: 420px; font-weight: bold; color: #D0574C">
            <img src="{{current_site}}/img/logo.png" alt="Open Initiative" style="border: none; float: left"/>
            <p style="color: #0094B5; font-size: 11px; margin: 0 2px; text-transform: uppercase">{% trans "The IT community dedicated to your business" %}</p>
            <img src="{{current_site}}/img/baseunderline.png" alt="baseline" style="border: none"/>
        </div>
    </a>
    <p align="right" style="font-size: 14px; position: absolute; top: 7em; right: -6%;"> {% trans "login" %} <a href="{{current_site}}/" style="text-decoration: none"><img src="{{current_site}}/img/login.png" style="border: none; position: relative; top: 0.4em; right: 0%"/></a></p>
    <div style="border-top:1px gray solid"></div>
    </br>
    <p style="color: #0094B5; font-size: 20px">{% trans "Hello" %} {{recipient.get_profile}},</p>
    <p style="color: #0094B5; font-size: 18px">{% trans "You have received the following notices from" %} <a href="{{current_site}}" style="text-decoration: none"> Open Initiative </a></p>
    {% if project %}
        {% trans "on project" %} {{observed_project}}:
    {% endif %}
    {% for notice in notices %}{% with 'notification/'|add:notice.notice_type.label|add:'/notice.html' as template_name %}
    <p style="font-size: 14px">{% include template_name %}</p>
    {% endwith %}{% endfor %}
    <p style="color: #0094B5; font-size: 14px"><a href="{{current_site}}{{notices_url}}" style="text-decoration: none">{% trans "See all notices" %}
        <img src="{{current_site}}/img/notification.png" style="border: none; position: absolute; bottom: -0.5em; left: 32%"/></a>
    </p>
</br>
<div style="border-top:1px gray solid"></div>
</br>
<p style="font-size: 12px">{% trans "To change the frequency of sending of your notification, " %} <a href="{{current_site}}/notification/settings/"> {% trans "click here." %}</a></p>
</div>
</body>
</html>
