{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Open Initiative</title>
    <style type="text/css">
    a {text-decoration:underline;}
    </style>
</head>
<body>
<div style="width: 630px; margin: auto; font-size: 10px; font-family: Helvetica, Arial, sans-serif; line-height: 19px; color: #333; background-color: #ffffff;color:#444444">
    <div style="border:4px #0094B5 solid"></div>
    <a href="{{current_site}}/" style="text-decoration: none">
        <div style="text-align: center; margin: 0 0 50px 50px; width: 420px; font-weight: bold; color: #D0574C">
            <img src="{{current_site}}/img/logo.png" alt="Open Initiative" style="border: none; float: left"/>
            <p style="color: #0094B5; font-size: 11px; margin: 0 2px; text-transform: uppercase">{% trans "The IT community dedicated to your business" %}</p>
            <img src="{{current_site}}/img/baseunderline.png" alt="baseline" style="border: none"/>
        </div>
    </a>
    <p align="right" style="font-size: 14px; position: relative; top: -4.1em; right: 0%;"><a href="{{current_site}}/" style="text-decoration: none; color: #0094B5">  {% trans "login" %}  <img src="{{current_site}}/img/login.png" style="border: none; position: relative; top: 0.4em; right: 0%"/></a></p>
    <div style="border-top:1px gray solid; position: relative; top: -5em"></div>
    <div style="position: relative; top: -6.2em">
        <p style="color: #0094B5; font-size: 20px">{% trans "Hello" %} {{recipient.get_profile}},</p>
        <p style="color: #0094B5; font-size: 18px">{% trans "You have received the following notices from" %}<a href="{{current_site}}" style="text-decoration: none">Open Initiative</a></p>
        {% if observed_project %}
            <p style="color: #0094B5; font-size: 18px">{% trans "on project" %} {{observed_project.title}}</p>
        {% endif %}:
        {% for notice in notices %}{% with 'notification/'|add:notice.notice_type.label|add:'/notice.html' as template_name %}
        <p style="font-size: 13px">{% include template_name %}</p>
        {% endwith %}{% endfor %}
        <p style="color: #D0574C; font-size: 14px"><a href="{{current_site}}{{notices_url}}" style="text-decoration: none; color: #D0574C">{% trans "See all notices" %}
            <img src="{{current_site}}/img/notification.png" style="border: none; position: relative; bottom: -0.5em; left: 0%"/></a>
        </p>
    </div>
<div style="border-top:1px gray solid; position: relative; bottom: 6em"></div>
<p style="font-size: 12px; color: gray; position: relative; bottom: 5em">{% trans "To change the frequency of sending of your notification, " %} <a href="{{current_site}}/notification/settings/"> {% trans "click here." %}</a></p>
</div>
</body>
</html>
