<select id="type_{{divid}}" value="{{spec.type}}" onchange="changeSpecType('{{divid}}')">
{% for elttype in types.items %}
<option value={{elttype.0}} {% ifequal elttype.0 spec.type %}selected {% endifequal %}>{{elttype.1}}</option>
{% endfor %}
</select>
<input type="hidden" id="specid_{{divid}}" value="{{spec.id|default:0}}" />
<input type="hidden" id="projectid_{{divid}}" value="{{project.id}}" />
<div id="spec_{{divid}}"></div>
<img class="clickable" src="/img/icons/ok-32.png" onclick="saveSpec('{{divid}}',{{project.id}},{{specorder|default:0}},{{spec.id|default:0}})" />
<img class="clickable" src="/img/icons/del-32.png" onclick="clearDiv('{{divid}}')" />

