@font-face {
    font-family: "ProximaNova";
    src: url('/fonts/proximanova-light-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Light.otf') format('opentype');
}
@font-face {
    font-family: "ProximaNova";
    font-weight: bold;
    src: url('/fonts/proximanova-bold-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    src: url('/fonts/proximanova-extrabold-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Extrabold.otf') format('opentype');
}
@font-face {
    font-family: "CCRA";
    src: url('/fonts/CCRA.eot?') format('eot'), url('/fonts/CCRA.ttf') format('opentype');
}
body {
    margin:0;
    font-family: "ProximaNova",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #778e9c;
    background: #F9F9F9;
}
img {
    border: None;
}
h1, h2, h3, h4 {
    font-family: "ProximaNova", Helvetica, sans-serif;
    font-weight: bold;
    color: #0094B5;
    text-transform: uppercase;
}
h5, h6 {
    font-size: 1.3em;
    font-weight:bold;
    font-variant: small-caps;
    margin: 10px;
}
a {
    text-decoration: None;
    color: #0094B5;
}
a:hover {
    text-decoration: underline;
}
.prjtable td
{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.center{
    margin: auto;
    width: 1020px;
}
#footer {
    clear: left;
    background: #dce8ea;
    text-align: center;
    font-size: .9em;
    margin-top: 20px;
    padding: 10px;
}
#topline {
    background: #68274E;
    height: 2px;
    color: #0094B5;
}
#toptext {
    background: #0094B5;
    height:20px;
    border-radius: 5px;
    margin:auto;
    float:right;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 2px;
}
#toptext a {
    color: white;
}
#header {
    height: 75px;
    padding: 3px 0;
    background: white;
    box-shadow: 0 1px 2px #C6C7C8;
}
.headerpic {
    float:right;
    margin-top:5px
}
#logo {
    width:200px;
    float:left
}
#searchdiv {
    float: left;
    margin: 5px 20px 0 0;
    width: 250px;
    height: 60px;
}
#baseline {
    width:150px;
    color: #0094B5;
    text-transform: uppercase;
    font-family: "CCRA";
    font-size:13px;
}
#search {
    text-align: right;
}
.sepsearch {
    height: 15px;
}
.searchbox {
    height:20px;
    font-style: italic;
    position: relative;
    top: -4px;
    color: gray;
}
#searchbtn {
    position:relative;
    left:-25px;
    top:1px;
}
#userheader {
    margin-top: 5px;
    float:right;
    border-left:solid 1px #0094B5;
    color: #0094B5;
    height: 60px;
    padding-left: 0.5em;
}
.usertitle {
    color: #0094B5;
    text-transform: uppercase;
    font-weight: bold;
}
#loginbox {
    text-transform: uppercase;
    font-size:1.1em;
    font-weight: bold;
    padding: 0 10px;
}
#loginarea {
  letter-spacing: -1px;
  margin-right: 120px;
}
.loginlabel {
    position: absolute;
}
.loginfield {
    width: 130px;
    border: solid 1px #778e9c;
    font-size: .8em;
}
#loginbtn {
    background: none repeat scroll 0 0 #0094B5;
    border: medium none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    height: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
#registerarea {
    float: left;
    width: 120px;
    margin: 5px 0 0 5px;
}
#registerbtn {
    background:url('/img/register.png');
    width:100px;
    height:14px;
    padding:6px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    float: right;
    clear: right;
}
.registerline {
    repeat-x:repeat;
    height: 35px;
    margin: auto;
    width: 1020px;
}
.registertext {
    padding: 7px;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    float: left;
}
.forgotpwd {
    letter-spacing: -1px;
}
.toplink{
    color: #A8DCF4;
    padding: 0 2px;
}
.homelink{
    color: #0094B5;
}
#pagetitle {
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 2em;
    color: #D0574C;
    overflow: hidden;
    clear:left;
}
#messageoutput {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
}
.info {
    background: #D0574C;
    font-weight: bold;
    color: white;
}
div.column {
    float: left;
    margin: 5px;
}
div.smallcolumn {
    float: left;
    width: 200px;
    margin: 2px;
}
#sepheader {
    background:url('/img/agilebg.png');
    border-top:1px solid #D0574C;
    height:15px;
}
div.pagetop {
    color: #0094B5;
}
div.pagetitle {
    font-size: 1.5em;
    color: #D0574C;
    float: left;
    width: 165px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tabs {
    float: right;
    height: 30px;
    font-size: 1.2em;
}
div.tab {
    border-left: 1px solid;
    float: left;
    padding: 5px;
    text-transform: uppercase;
}
div.selectedtab {
    background: #0094B5;
    width: 135px;
}
div.selectedtab a {
    color: white;
}
#tools {
    height: 30px;
    clear: both;
    background: #0094B5;
    color: white;
}
img.tabicon {
    float: left;
    margin: -3px 5px;
}
.sep {
    background:url('/img/sep.png');
    height:1px;
}
#actions{
    height:65px;
    width: 275px;
}
#nav {
    background:#D7E7F0;
    width:275px;
}
#navhome {
    margin-bottom: 1em;
    margin-top: .35em;
}
#navhome div{
    background: none repeat scroll 0 0 white;
    border: 1px solid #E3E3E5;
    text-transform: uppercase;
    color: #0094B5;
    padding: .5em;
}
.navtitlehome {
    font-size: 1.4em;
    font-weight: bold;
}
.treetitlehome:after {
    content: url("/img/icons/next.png");
    position: relative;
    left: 3px;
    top: 3px;
}
div.navtitle {
    color: #D0574C;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}
div.navcontent {
    padding: 5px;
}
#content {
    width: 730px;
    padding-top: 5px;
    float: left;
}
.presslide {
    padding: 5px;
    background: white;
}
#breadcrumb {
    height:20px;
}
#catcherbg {
    background:#B3E1F4;
}
#catcher {
    background:url('/img/catcher.jpg') repeat-y;
    height:200px;
    width:1020px;
    margin:auto;
    clear: left;
}
.catcherleft {
    float: left;
    clear: left;
    margin-right: 30px;
    text-align: center;
    width:200px;
}
.catchercomment {
    font-size: .8em;
}
.catchericon {
    text-transform: uppercase;
    font-size:1.8em;
    color: #0094B5;
    padding: 10px 0;
}
.slider {
    float: left;
    width: 600px;
    width: 730px;
    font-size: 1.4em;
}
.slidermore {
    position: absolute;
    left: 800px;
    top: 250px;
    background: none repeat scroll 0 0 #D0574C;
    font-size: 1.1em;
    font-weight: bold;
    height: 15px;
    padding: 5px 12px;
    text-transform: uppercase;
    color: white;
    width: 144px;
    border-radius: 5px;
}
.indexslide {
    width: 490px;
    overflow: hidden;
}
.slidertip {
    text-transform: none;
    font-weight: normal;
    font-size: 0.9em;
    left: 650px;
    margin-bottom: 25px;
    color: #68274E;
}
.slidericons {
    position: absolute;
    top: 250px;
}
.slidericon {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    color: #0094B5;
    padding: 3px;
    margin-right: 10px;
    border-radius: 6px;
    border: solid;
    color: #0094B5;
}
.slidericonselected {
    font-weight: bold;
    background: white;
}
.slider dt {
    text-transform: uppercase;
    font-weight: bold;
    color: #D0574C;
    font-size: 2em;
}
.slider dl {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.slider dd {
    width: 420px;
    height: 50px;
    color: #0094B5;
}
.headersep {
    background: url('/img/headersep.png');
    clear: left;
    margin-bottom: 7px;
}
.agilearrow {
    vertical-align: -2px;
}
.agiletext {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    padding: 3px;
    color: #A8DCF4;
    height: 44px;
}
div.popup {
    background: white;
    border: solid 1px;
    left: 300px;
    position: fixed;
    top: 150px;
    z-index: 1;
}
.actions {
    clear: right;
    float: right;
    margin: 5px;
}
.actionbutton {
    background: url('/img/headersep.png');
    color: white;
    padding: 5%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}
.actionbutton div {
    margin-bottom: .3em;
    font-size: 1.2em;
    text-transform: uppercase;
}
#newproject_title {
    margin-top: 1em;
}
#newproject_add {
    position: relative;
    left: -20px;
}
.overlap {  
    margin-top: -60px;
}
.username {
    font-weight: bold;
}
div.pile {
    padding-top: 50px
}
div.morelink {
    float: right;
    width: 40px;
    font-size: .7em;
    position: relative;
}
.clickable {
    cursor: pointer;
}
.invisible {
    display: none;
}
.cleared {
    clear: both;
}
.hiddenfield {
    visibility:hidden;
    height:0;
    width:0;
    border:0;
    padding:0;
}
.filedest {
    visibility: hidden;
    height: 0;
    width: 0;
}
.norich {
    width: 500px;
    height: 200px;
}
.askoi {
    margin: -11px 0;
}
