body {
    margin:0;
    height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
html{
    height: 100%;
}
img {
    border: None;
}
#messages {
    height: 100%;
}
#header {
    background: #B3B3B3;
}
#logo {
    width: 210px;
}
.searchbox {
    font-style: italic;
    height: 1em;
    position: relative;
    top: -4px;
    color: gray;
}
#searchbtn {
    height: 20px;
}
div.list {
    float: left;
    padding: 3px;
    padding-left: 10px;
    margin: 5px;
    border-left: solid 1px lightgray;
}
div.userheader {
    float: right;
}
div.sepheader {
    width:100%;
    height:20px;
    background:url('/img/gradgray.png') repeat-x;
}
#content{
    height: 100%;
}
.homelink{
    color: white;
    font-weight: bold;
}
div.nav {
    width: 200px;
    margin-left: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    background: #EEEDFF;
}
span.indextitle {
    font-size: 1.5em;
    font-style:italic;
    font-weight: bold;
}
div.indexdesc {
    width: 450px;
}
/*div.vertsep {*/
/*    height: 100%;*/
/*   border-left: solid 1px gray;*/
/*    margin: 0 10px;*/
/*    float: left;*/
/*}*/
div.horsep {
    width: 100%;
    border-top: solid 1px gray;
    margin: 10px 0;
}
div.subcateg {
    margin-left: 10px;
}
div.actions {
    clear: right;
    float: right;
    margin: 5px;
}
.clickable {
    cursor:pointer;
}
