.slidertext dt {
    color: #1e9947
}
.slidertip {
    color: #0f4d42
}
.slidermore {
    background: #1e9947
}
#registerbtn {
    background: #1E9947
}
#content {
    width: 100%;
}
.projectlisttitle {
  color: #1E9947;
  font-size: 200%;
  font-weight: bold;
  margin: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.prjheader {
    padding: 2em;
}
.delbtn {
    float: right;
    margin-left: 5px;
}
div.prjauthor {
    float: right;
    color: #475E6C;
}
.prjdetail {
    text-align: right;
    font-size: .8em;
    float: right;
    clear: right;
    width: 50%;
    height: 110px;
}
div.prjdesc {
    padding-left: 10px;
}
.minispec-arrow {
    float: right;
    margin: 40px 5px;
}
.overview_title {
    font-size: 1.2em;
    color: #0094B5;
    padding: .5em;
}
div.prj-table-overview table tr:nth-child(even) {
    background: white;
}
div.prj-table-overview table tr:nth-child(odd) {
    background: #D7E7F0;
}
div.prj-table-overview table tr {
    height: 30px;
}
div.prj-table-overview table tr th {
    color: #0094B5;
    text-align:left;
    overflow: visible;
}
div.prj-table-overview table tr td {
    text-align:left;
    width: 150px;
    overflow:hidden;
    text-overflow:ellipsis;
}
#dynamicTableOverview{
    overflow: visible;
    table-layout: fixed;
    width: 100%;
}
col { 
    background: blue;
    border-style: none solid 
}
span.prj-overview-page-next{
    float:right;
    padding: 2em;
    color: #0094B5;
}
span.prj-overview-page-next img{
    padding-left: 20px;
}
span.prj-overview-page-prev{
    float:left;
    padding: 2em;
    color: #0094B5;
}
span.prj-overview-page-prev img{
    padding-left: 30px;
}
p.no-project-overview-table{
    text-align:center;
    font-size: 1.5em;
}
span.change-page-overview{
    position: relative;
    bottom: -1.5em;
    right: -23em;
}
div.no-mini-spec {
    float: right;
    width: 140px;
    margin: 3em 0;
    text-align:center;
}
div.prj-block-action {
    height:65px;
    margin-top: 30px;
}
.prj-btn {
    background-color: #0094B5;
    border-radius: 3px;
    padding: 5px;
    font-size:1.2em; 
    color:white; 
    display: table;
    clear: left;
    font-weight: bold;
    margin-top: 1.5em;
}
.prj-btn:after {
    content: url('/img/icons/nextwhite.png');
    left: 2px;
    position: relative;
    vertical-align: -3px;
}
.funding_btn {
    background-color: #0094B5;
    border-radius: 3px;
    padding: 5px;
    font-size:1.2em; 
    color:white; 
    display: table;
    clear: left;
    font-weight: bold;
    margin-top: 1.5em;
}
.funding_btn:before {
    content: url('/img/icons/previouswhite.png');
    left: 2px;
    position: relative;
    vertical-align: -3px;
}
div.prj-action-wait {
    background-color: gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    height: 24px;
    padding: 3px;
    color: white;
    display: table;
}
.prjstatebar {
    position: relative;
}
.prjstate {
    float: left;
    border: solid 1px #E0E0E0;
    width: 130px;
    padding: 3px 0 3px 40px;
    text-transform: uppercase;
    position: relative;
}
.prjstate:not(:last-child) {
    border-right: none;
}
.prjstate:not(:first-child) {
    border-left: none;
}
.prjstate:not(:last-child):after {
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    top: -1px;
    left: 169px;
    z-index: 1;
}
.prjstate:not(:first-child):before {
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-left: 10px solid #E0E0E0;
    content: " ";
    height: 0;
    position: absolute;
    top: -1px;
    left: 1px;
}
.prjstate:not(.currentstate):not(:last-child):after {
    border-left: 10px solid white;
}
.currentstate:not(:last-child):after {
    border-left: 10px solid #F9F9F9;
}
.currentstate {
    background: #F9F9F9;
    font-weight: bold;
}
.prj-block-fav{
    float: left;
    font-size: 0.8em;
    text-align: center;
}
.followicon {
    vertical-align: -5px;
}
.selected-arrow{
    border-bottom: 14px solid transparent;
    border-right: 15px solid #0094B5;
    border-top: 14px solid transparent;
    background-color: white;
}
.head-help{
    float: right;
    margin-left: 0;
    margin-right: 10px;
}
.filter_table{
    width:110px; 
    position:absolute; 
    padding-top:9px;
    overflow:hidden; 
    background:white; 
    border: 1px solid; 
    padding-left: 7px; 
    margin-left: -8px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 4px #888888;
}
.show_hide_popup{
    float:right; 
    margin-right: -7px;
}
.tasktip {
    padding: 5px;
    background: white;
}
.prjtitle-block {
    font-size: 1.2em;
    color: #0094B5;
    height: 131px;
    overflow: hidden;
}
.prjtitle {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}
.tasktitle {
    font-size: 2.5em;
    color: #1E9947;
    font-weight: bold;
    overflow: hidden;
}
.featuretitle {
    color: #0094B5;
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: .5em;
}
.funded {
    font-size: 2em;
    font-weight: bold;
}
.amount {
    font-weight: bold;
}
.featurebtns {
    clear: both;
    margin: 1em;
}
.prjbtm {
    width: 600px;
    height:17px;
    background: url('/img/prjbtm.png');
}
.prjcard {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E3E3E5;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 350px;
    margin: 1em;
    overflow: hidden;
    padding: 1.2em;
    position: relative;
    width: 275px;
}
.prjcardlink {
    position: absolute;
    top: 350px;
    left: 280px;
}
.prjcardauthor {
    color: #475E6C;
}
div.cardspec {
    margin: 0;
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
}
.fundingprogress {
    position: absolute;
    top: 335px;
}
.featureblock {
    padding: 10px;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    background: white;
    overflow: hidden;
    border: 1px solid #E3E3E5;
    border-radius: 3px;
    text-align: center;
}
.minispec dl {
    margin: 0;
    padding: 0;
}
.minispec dt {
    margin: 0;
    padding: 0;
    padding-right: 35px;
}
.minispec dd {
    margin: 0;
    padding: 0 0 10px;
}
div.minispec {
    width: 135px;
    height: 90px;
    float: right;
    border: 1px solid;
    margin: 2px;
    text-align:center;
    overflow: hidden;
}
.minispec p {
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.minispec img {
    max-width:100%
}
.cardspec img{
    max-width: 60%;
}
.state0, .state0 a {
    color: #0094B5;
}
.statebg0 {
    background: #0094B5;
}
.state1, .state1 a {
    color: #0094B5;
}
.statebg1 {
    background: #0094B5;
}
.state2, .state2 a {
    color: #D0574C;
}
.statebg2 {
    background: #D0574C;
}
.state3, .state3 a {
    color: #68274E;
}
.statebg3 {
    background: #68274E;
}
.state4, .state4 a {
    color: #6C6D6E;
}
.statebg4 {
    background: #6C6D6E;
}
.state11, .state11 a {
    color: #6C6D6E;
}
.statebg11 {
    background: #6C6D6E;
}
.selected {
    background: #0094B5;
    color: white;
    font-weight: bold;
}
.selected0 {
    background: #0094B5;
    color: white;
    font-weight: bold;
}
.selected1 {
    background: #0094B5;
    color: white;
    font-weight: bold;
}
.selected2 {
    background: #D0574C;
    color: white;
    font-weight: bold;
}
.selected3 {
    background: #68274E;
    color: white;
    font-weight: bold;
}
.selected4 {
    background: #6C6D6E;
    color: white;
    font-weight: bold;
}
.selected a {
    color: white;
}
.selected0 a {
    color: white;
}
.selected1 a {
    color: white;
}
.selected2 a {
    color: white;
}
.selected3 a {
    color: white;
}
.selected4 a {
    color: white;
}
div.nextrelease{
    border-bottom: 10px solid transparent;
    border-left: 24px solid #0094B5;
    border-top: 10px solid transparent;
    width: 70px;
    float: right;
}
#releaseblock{
    border: solid 1px;
    padding: .5em;
    background: #0094B5;
    color: white;
}
#releaseblock a {
    color: white;
}
.currentreleaseblock {
    border-bottom: solid #E4EFF5 1px;
    padding-bottom: .5em;
    margin-bottom: .5em;
}
.currentreleaseblock b {
    text-transform: uppercase;
}
.switchrelease {
    float: right;
}
.switchrelease:after {
    content: url("/img/icons/bluebtn.png");
    vertical-align: -2px;
}
option.currentrelease{
    color:#0094B5; 
    font-weight:bold;
}
option.oldrelease{
    color:#AAAAAA;
}
#nextreleaseblock {
    left: 35%;
    position: fixed;
    padding: 10px;
    background-color: white;
    border: medium solid;
    z-index: 1;
    color: #0094B5;
}
#nextrelease, #release{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
}
.prjbody {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E0E0E0;
    float: left;
    width: 730px;
}
.features {
    max-width: 275px;
    position: relative;
}
.features_manage {
    position: relative;
}
.featuredetail {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E3E3E5;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    left: auto;
    position: absolute;
    width: auto;
    z-index: 10;
}
.editoffer {
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 0.5em;
    padding: 10px;
}
.bidfeature {
    float: left;
    width: 50px;
}
.statebtns {
    margin-right: -3px;
}
.statebtn {
    background: none repeat scroll 0 0 #0094B5;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 32%;
    float: left;
    margin: 0 3px 3px 0;
    padding: 0.4em 0;
}
.supportbtn {
    background: none repeat scroll 0 0 #1E9947;
    border-radius: 4px 4px 4px 4px;
    color: white;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin: auto;
    padding: 0.5em;
    text-transform: uppercase;
    width: 75%;
}
.supportbtn:after {
    content: url("/img/icons/whitebtn.png");
    vertical-align: 2px;
}
.bidaction {
    background: #1E9947;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    display: table;
    margin: 5px;
    border-radius: 4px;
}
.bidaction:after {
    content: url("/img/icons/whitebtn.png");
    vertical-align: -2px;
}
.oigreen, .oigreen a, .oigreen h3 {
    color: #1E9947;
}
.newspot {
    padding: 2px;
    background: #E4EFF5;
}
input.newtask_title {
    width: 195px;
    height: 17px;
    border: none;
    font-size: .8em;
    font-style: italic;
    color: #81D3DA;
    margin-left: 3px;
}
div.treelist {
    padding-left: 20px;
    border-bottom: solid 1px #0094B5;
    margin-top: -1px;
    display: none;
}
div.treeroot {
    text-transform: uppercase;
    font-size: 1.2em;
}
div.treetitle {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    line-height: 1.5em;
}
div.treebg0 {
    background: #D7E7F0;
}
div.treebg1 {
    background: #E4EFF5;
}
div.treenext {
    border: solid #0094B5 2px;
    height: 5px;
}
#ganttdiv {
    overflow-y: hidden;
    overflow-x: scroll;
}
div.ganttbg {
    z-index: 0;
    position: relative;
}
div.ganttbg0 {
    width: 100%;
    background: #CCCCCC;
    opacity: .3;
    z-index: -1;
}
.ganttanchor {
    position: relative;
    top: -5px;
    height: 20px;
    width: 2px;
    background: green;
    float: left;
}
div.ganttbar1 {
    float: left;
    height: 2px;
    margin-top: 3px;
    background: #0094B5;
}
div.ganttbar2 {
    float: left;
    height: 8px;
    background: #D0574C;
}
div.ganttbar3 {
    float: left;
    height: 2px;
    margin-top: 3px;
    background: #68274E;
}
div.gantthighlight {
    border: solid 5px red;
    margin: -5px;
}
div.gantttoday {
    height: 100%;
    border: 1px red solid;
    position: absolute;
    top: 0;
    z-index: 1;
}
#ganttspace {
    position: absolute;
    width: 728px;
    height: 30px;
    z-index: 0;
    background: #6C6D6E;
    color: white;
}
.ganttdate {
    font-weight: bold;
}
.prjtable {
    float: left;
    margin-right: 30px;
    border-right: solid 1px #0094B5;
    width: 250px;
    min-height: 2px;
}
th.tableheader {
    text-transform: uppercase;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
    position: relative;
}
table.tablecell {
    table-layout: fixed;
    width: 240px;
    white-space: nowrap;
}
tr.tablebg0 {
    background: #D7E7F0;
}
div.spectypes {
    position: relative;
    top: 1px;
}
div.spectype {
    height: 15px;
    padding: 2px 10px;
    float: left;
    background: #F9F9F9;
    border: solid 1px #0094B5;
    border-radius: 3px;
}
div.spectypeselected {
    background: white;
    border-bottom: white 1px solid;
}
div.specedit {
    border-top: solid 1px #0094B5;
    margin-left: -10px;
    padding-left: 10px;
}
.speclegend {
    height: 50px;
    width: 650px;
}
.specauthor {
    font-weight: bold;
}
div.sepspec {
    background: url('/img/sepspec.png');
    height: 1px;
    margin: 20px;
    clear: both;
}
div.specfooter {
    height: 19px;
    width: 300px;
    float: right;
    text-align: right;
    background: #D7E7F0;
    color: #D0574C;
    padding: 3px;
}
div.sepspecfooter {
    width: 1px;
    height: 13px;
    background: white;
    display: inline-block;
}
.projectbaseline {
    width: 40em;
}
.spotnumber {
    height: 16px;
    width: 8px;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
}
.progressbar {
    position: relative;
    float:left;
    border:solid 1px;
    color: #6C6D6E;
    width: 90%;
    border-radius: 3px;
    font-size: 0.8em;
}
.progress {
    float:left;
    background:#1E9947;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 1em;
}
.progresstitle {
    margin: 2px;
    position: absolute;
}
.tax{
    font-size: 11px;
}
.inputnewtask{
    color: #0094B5;
}
#actions-f{
    width: 215px;
    float: right;
}
.linebar{
    left: 60px;
    position: relative;
    border-left: 1px solid #E0E0E0;
}
.bordermanage{
    width:  32%; 
    float:  left;
    margin-left: 3px; 
    margin-right: 3px;
}
.bordertitlemanage{
    border: 1px solid #E0E0E0;
    float: left;
    width: 45%;
    padding: 10px;
    margin-top: 0.5em;
}
.fundingright{
    float: right;
}
.fundingleft{
    float: left;
}
.boderline{
    border:1px solid !important;
}
.form_center{
    text-align: center;
}
.funding_minispec{
    word-wrap: break-word;
    text-align: justify;
}
.funding_space {
    margin-bottom: 4px;
}
.margin_auto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.funding_msg_position{
    left: -73%;
    position: relative;
}
.funding_short{
    color: black;
    font-size: 17px;
    font-weight: bolder;
    word-wrap: break-word;
    margin-left: 3px;
    margin-right: 3px;
}
.funding_long{
    word-wrap: break-word;
    margin-left: 3px;
    margin-right: 3px;
}
