/*La page d'acceuil*/

@media screen and (max-width:1025px){
/*    les deux images apparaissent sous le text*/
    #rocket {opacity: 0.3;position: absolute;}
    .sliderimg {opacity: 0.3;position: absolute;top: 10px;margin: 0 30%;}
    .sliderimgcloser4 {margin-left: -10px;}
    #catcher {padding: 1%;}
    .slider {float: none; width: auto;}
    .slidermore {left: 10px; padding: .2em%;} 
    .submitproject {margin: 0 auto;}
    .indexslide {overflow: auto; width: auto;}
    .slidertip {width: auto;}
    .slider dd {height: auto;width: auto;}
    #userheader_mobile {display: block;}
}
/*Push line qui disparait*/
@media screen and (max-width:845px){
    #searchdiv {display: none;}
}
/*fait disparaitre les deux boutons du header pour les faire apparaitre sous le logo*/
@media screen and (max-width:700px){
    .learn_more > a {display: none;}
    .learn_more2 {display: block;}
}
@media screen and (max-width:460px){
    .blue_band_line_text {display: none;}
    .actions.clickable.actionbutton {margin-top: 25px; float: none;}
}
@media screen and (max-width:435px){
    #arrow_header, arrow_header_up {display: none;}
}
@media screen and (max-width:410px){
    #name_header {display: none;}
    .slidermore {display: none;} 
}


/*La page projet*/
@media screen and (min-width:751px){
    #btn_extend_close, #btn_extend_open  {display: none;}
}
/*rend la page responsive*/
@media screen and (max-width:750px){
    .prjbody {margin-right: 25px;} /*à voir margin*/
    #related {background: white;}
    .discussion_column {margin: 0 3%;} /*à voir margin*/
/*    permet de voir le boutons pour voir la colonne de droite*/
/*    donne une taille bien visible pour le blockfeatureheight */
    .maxwidth50 {max-width: 100%;}
/*    affiche la popup à la bonne taille pour le projet*/
    .mobile_popup_size{width: auto !important;}
/*    permet de cacher la div en dessous d'une certaine taille*/
    #shrinkrelated {box-shadow: 0 2px 3px 2px; width: 20px;background: none repeat scroll 0 0 white;}
}
/*améliorer les messages pour les projets*/
@media screen and (max-width:400px){
    .discussion_column .column {float:none;}
    .speech {display: none;}
    .msgbubble {margin-left: 0;}
}

/*La page myaccount*/
@media screen and (max-width:580px){
    .largecolumn, .creditblock {display: table;float: none;margin: 0 auto;text-align: center;width: auto;}
}
