#registerbtn {
    background: #2EAC66;
}
.presnav {
    background: none repeat scroll 0 0 white;
    border-radius: 3px;
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.presnav_no_fixed{
    padding-bottom: 20px;
    background: #E3E3E3;
}
.presnav_fixed{
    position:fixed; 
    left: 0; 
    top:0;
    width: 100%;
    padding-bottom: 20px;
    background: #E3E3E3;
}
.presnavtitle {
    border-right: 1px solid;
    color: #0094B5;
    cursor: pointer;
}
.presnavtitle:last-child {
    border-right: none;
}
.presnavtitle:before {
    padding-left: 10px;
    content: "";
}
.presnavtitle:after {
    padding-right: 10px;
    content: "";
}
.presnavsection{
    margin-bottom: 3px;
}
.submitproject {
    max-width: 650px;
    margin: 0 auto;
}
.btn_extend {
    position: absolute;
    left: -27px;
}
.projectlisttitle {
  color: #2EAC66;
  font-size: 200%;
  font-weight: bold;
  margin: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.prjheader {
    padding: 28px 28px 28px 9px;
}
.delbtn {
    float: right;
    margin-left: 5px;
}
div.prjauthor {
    float: right;
    color: #475E6C;
}
.prjdetail {
    text-align: right;
    font-size: .8em;
    float: right;
    clear: right;
    width: 50%;
    height: 110px;
}
div.prjdesc {
    padding-left: 1%;
    padding-right: 1%;
}
.prjdesc img {
    max-width: 700px;
}
.minispec-arrow {
    float: right;
    margin: 40px 5px;
}
.overview_title {
    font-size: 1.2em;
    color: #0595BA;
    padding: .5em;
}
col { 
    background: blue;
    border-style: none solid 
}
div.no-mini-spec {
    float: right;
    width: 140px;
    margin: 3em 0;
    text-align:center;
}
div.prj-block-action {
    height:65px;
    margin-top: 30px;
}
.prj-btn {
    background-color: #0595BA;
    border-radius: 3px;
    padding: 5px;
    font-size:1.2em; 
    color:white; 
    display: table;
    clear: left;
    font-weight: bold;
}
.prj-btn:after {
    content: url('/img/icons/nextwhite.png');
    left: 2px;
    position: relative;
    vertical-align: -3px;
}
.funding_btn {
    background-color: #0595BA;
    border-radius: 3px;
    padding: 5px;
    font-size:1.2em; 
    color:white; 
    display: table;
    clear: left;
    font-weight: bold;
}
.funding_btn:before {
    content: url('/img/icons/previouswhite.png');
    left: 2px;
    position: relative;
    vertical-align: -3px;
}
.prj-btn_green {
    background-color: #2EAC66;
    border-radius: 3px;
    padding: 5px;
    font-size:1.2em; 
    color:white; 
    display: table;
    clear: left;
    font-weight: bold;
}
div.prj-action-wait {
    background-color: gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    height: 24px;
    padding: 3px;
    color: white;
    display: table;
}
.currentstate:not(:last-child):after {
    border-left: 10px solid #F9F9F9;
}
.currentstate {
    background: #F9F9F9;
    font-weight: bold;
}
.followicon {
    vertical-align: -5px;
    background: #E3E3E3;
    border-radius: 60%;
}
.selected-arrow{
    border-bottom: 14px solid transparent;
    border-right: 15px solid #0595BA;
    border-top: 14px solid transparent;
    background-color: white;
}
.head-help{
    float: right;
    margin-left: 0;
    margin-right: 10px;
}
.filter_table{
    width:110px; 
    position:absolute; 
    padding-top:9px;
    overflow:hidden; 
    background:white; 
    border: 1px solid; 
    padding-left: 7px; 
    margin-left: -8px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 4px #888888;
}
.show_hide_popup{
    float:right; 
    margin-right: -7px;
}
.tasktip {
    padding: 5px;
    background: white;
}
.prjtitle-block {
    font-size: 1.2em;
    color: #0595BA;
    height: 131px;
    overflow: hidden;
}
.prjtitle {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}
.tasktitle {
    font-size: 2.3em;
    color: #2EAC66;
    font-weight: bold;
    overflow: hidden;
}
.featuretitle {
    color: #0595BA;
    font-size: 1.5em;
    overflow: hidden;
    text-align: left;
}
.funded {
    font-size: 2em;
    font-weight: bold;
}
.amount {
    font-weight: bold;
}
.featurebtns {
    clear: both;
    margin: 1em 0;
}
.prjbtm {
    width: 600px;
    height:17px;
    background: url('/img/prjbtm.png');
}
.prjcard {
    background: white;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 350px;
    margin: 2px;
    overflow: hidden;
    padding: 1.2em;
    position: relative;
    width: 275px;
}
.prjcard_comingsoon {
    filter:alpha(opacity=50);
    opacity:0.5;
}
.prjcard_comingsoon_tag {
    font-size: 200%;
    transform: rotate(-20deg);
    position: absolute;
    left: 2.5em;
    top: 6em;
    border: solid;
    padding: .1em;
}

ul.home_ul_center {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
ul.home_ul_center li {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
}
.prjcardlink {
    position: absolute;
    top: 350px;
    left: 280px;
}
.prjcardauthor {
    color: #475E6C;
}
div.cardspec {
    margin: 0;
}
.fundingprogress {
    position: absolute;
    top: 320px;
    border-top: medium dotted #D3CFCF;
    width: 80%;
    padding-top: 10px;
}
.featureblock {
    margin-top: 0.5em;
    overflow: hidden;
}
.featureblock img {
    max-width: 100%;
    height: auto;
}
.minispec dl {
    margin: 0;
    padding: 0;
}
.minispec dt {
    margin: 0;
    padding: 0;
    padding-right: 35px;
}
.minispec dd {
    margin: 0;
    padding: 0 0 10px;
}
div.minispec {
    width: 135px;
    height: 90px;
    float: right;
    border: 1px solid;
    margin: 2px;
    text-align:center;
    overflow: hidden;
}
.minispec p {
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.minispec img {
    max-width:100%
}
.cardspec img{
    max-height: 85px;
    max-width: 175px;
}
.prjbody {
    width: auto;
    max-width: 750px;
    overflow: hidden;
    margin-right: 275px;
}
.prjbodypresentation {
    background: white;
    max-width: 860px;
    margin: 0 auto;
    padding: 10px 30px;
}
.prjbodyprofile {
    margin: 0 auto;
}
.features {
    max-width: 275px;
    position: relative;
}
.features_manage {
    position: relative;
    list-style-type: none;
    padding: 0;
}
.editoffer {
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 0.5em;
    padding: 10px;
}
.bidfeature {
    float: left;
    width: 50px;
}
.statebtn {
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 5.5em;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.6em;
}
.supportbtn_complete {
    background: none repeat scroll 0 0 #0094B5;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: auto;
    padding: 0.3em;
    text-transform: uppercase;
}
.supportbtn {
    background: none repeat scroll 0 0 #0094B5;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.3em;
    text-transform: uppercase;
}
.bidaction {
    background: #2EAC66;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    display: table;
    margin: 5px;
    border-radius: 4px;
}
.bidaction:after {
    content: url("/img/icons/whitebtn.png");
    vertical-align: -2px;
}
.oigreen, .oigreen a, .oigreen h3 {
    color: #2EAC66;
}
.newspot {
    padding: 2px;
    background: #E4EFF5;
}
input.newtask_title {
    width: 195px;
    height: 17px;
    border: none;
    font-size: .8em;
    font-style: italic;
    color: #81D3DA;
    margin-left: 3px;
}
.specauthor {
    font-weight: bold;
}
div.sepspec {
    background: url('/img/sepspec.png');
    height: 1px;
    margin: 20px;
    clear: both;
}
div.specfooter {
    height: 19px;
    width: 300px;
    float: right;
    text-align: right;
    background: #D7E7F0;
    color: #2EAC66;
    padding: 3px;
}
div.sepspecfooter {
    width: 1px;
    height: 13px;
    background: white;
    display: inline-block;
}
.projectbaseline {
    width: 100%;
}
.progressbar {
    background: #E4E5E5;
    border-radius: 3px;
    color: black;
    float:left;
    font-size: 0.8em;
    height: 1.2em;
    overflow: hidden;
    position: relative;
    width: 90%;
}
.progress {
    float:left;
    background:#0094B5;
    height: 1.2em;
}
.progresstitle {
    margin: 1px;
    position: absolute;
    left: 50%;
}
.tax{
    font-size: 11px;
}
#actions-f {
    width: 215px;
    float: right;
}
.funding_minispec{
    word-wrap: break-word;
    text-align: left;
}
.funding_space {
    margin-bottom: 1%;
}
/*TODO a voir*/ 
.margin_auto {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.funding_short {
    color: #6F6F6E;
    font-size: 17px;
    font-weight: bolder;
    word-wrap: break-word;
    margin-left: 3px;
    margin-right: 3px;
}
.discussion_column {
    margin: 5px;
    max-width: 630px;
}
/*TODO*/
.column-right {
    background-color: #F6F6F6;
    padding: 5%;
}
.help-funding {
    background-color: #A0D2E9;
    border-radius: 3px;
    color: black;
    float: right;
    font-size: 11px;
    padding: 0.5%;
    width: 240px;
    margin-bottom: 10px;
}
.detail_subtitle {
    font-size:25px; 
    padding-left: 1%;
    margin-top: 2%;
}
.edit_add_new_language {
    font-weight: bold;
    margin-left: 8%;
    padding-top: 1%;
}
.edit_title {
    font-size: 1.6em;
    text-align: center;
}
.spec_author {
    color: #475E6C;
    margin-left: 10px;
    margin-top: -3%;
}
.bid_popup_title {
    color: #0595BA;
    font-size: 20px;
}
.pluginsmall {
    background: white;
    border: solid 1px #E0E0E0;
    width: 230px;
    height: 90px;
    color: #0595BA;
    font-weight: bold;
    padding: 3px;
    overflow: hidden;
}
.plugintiny {
    background: white;
    border: solid 1px #E0E0E0;
    color: #0595BA;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
    width: 80px;
}
.progresstiny {
    background: #2EAC66;
    color: white;
    float: left;
    font-weight: bold;
    height: .3em;
    text-align: center;
}
/*TODO*/
.plugin-arrow {
    float: left;
    margin: 100px 5px;
}
/*TODO*/
.pluginsum {
    color: black;
    margin: 7px;
    text-align: center;
}
/*TODO*/
.plugin-nobold {
    font-weight: normal;
}
/*TODO*/
.pluginlogo {
    float: right;
    width: 80px;
}
/*TODO*/
.funding_profilepicture{
    float: right;
    max-width:150px; 
    max-height:150px;
    padding: 5%;
    width: 30%;
}
.editfeature{
    color: black;
    font-size: 10px;
}
.bordertitledetails {
    padding: 10px;
}
.blockfeatureheight {
    background-color: white;
    padding: 1%;
    margin-bottom: 10px;
}
.maxwidth50 {
    max-width: 48%;
}
.fieldfeature{
    border:1px solid #E0E0E0; 
    margin-bottom: 10px;
    color: #0595BA;
    font-style: italic;
}
.rewardtitle{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.popup_reward {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    color: black;
    max-width: 500px;
    min-width: 310px;
    padding: 2%;
    position: fixed;
    top: 20px;
    z-index: 20;
    max-height: 85%;
    overflow: auto;
}
.popup_reward th {
    width: 40%;
}
.reward_bottom_line{
    border-top: 2px dotted #D3CFCF;
    margin-top: 10px;
}
.details_task{
    background-color: #F5F3F3;
    margin: 1%;
    padding: 1%;
}
.details_title{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.popup_corner {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    color: black;
    padding: 2%;
    position: fixed;
    top: 20px;
    z-index: 20;
}
.popup_complete{
    background: white;
    border: solid 1px #E0E0E0;
    color: black;
    position: fixed;
    padding: 1%;
    z-index: 20;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    top: 151px;
    max-width: 460px;
}
/*TODO*/
.of_close{
    width: 55%;
}
.project{
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 2%;
    padding: 1% 1% 1% 20px;
    min-height: 220px;
}
.btn_feature {
    border: 1px solid;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
}
.btn_feature:hover {
    color: #004f44;
    text-decoration: none;
}
.displayblock{
    display: block;
}
.addfeature{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fund{
    color: #0595BA;
    text-align: start;
}
.goal{
    color: #2EAC66;
    text-align: end;
}
.block_fund_goal {
    width: 90%;
    margin-top: 10px;
}
.subtitle{
    color: #9D9C9C;
}
.submit_feature{
    background: #F6F6F6;
    border-radius: 3px;
    padding: 1%;
}
.header_close{
    position: absolute;
    right: 30px;
    top: 40px;
}
.user_picture_effect{
    border-radius: 60%;
    position: relative;
}
.bluesky{
    background: #CCE4F3;
}
.helpstart {
    padding-top: 2%;
}
.log_style{
    color: #0595BA;
    padding-bottom: 2%;
}
.log_separate{
    padding-bottom: 4%;
}
.popup_form_register{
    background: white;
    border: solid 1px #E0E0E0;
    color: black;
    left: 50%;
    position: absolute;
    padding: 1%;
    z-index: 20;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
}
.prjcard_margin_bottom{
    margin-bottom: 10px;
}
.headernews{
    color: #8F9595;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.headernews:last-child {
    padding-right: 0;
}
.headerbtn{
    border: 1px solid #0595BA;
    border-radius: 3px;
    padding: 5px 12px;
    position: relative;
    margin-right: 5px;
    font-weight: bold;
}
.btnlogin{
    color: #0595BA;
    background-color: #CCE4F3;
    top: 20px;
}
.btnregister{
    color: white;
    background-color: #0595BA;
}
.sliderimg {
    margin-top: 20px;
}
.sliderimgcloser{
    margin-left: 70px;
}
.sliderimgcloser3{
    margin-left: 70px;
}
.sliderimgcloser1{
    margin-left: 130px;
}
.sliderimgcloser4{
    margin-left: -90px;
    margin-top: 0px;
}
.body_color{
    color: #6F6F6E !important;
}
.extrat_amount{
    border-left: 1px dashed #E0E0E0;
    float: right;
    margin-right: 10px;
    max-width: 100px;
    padding:5px 5px 5px 10px;
    text-align: center;
}
.column_right_dotted{
    border-top: dotted 2px;
    border-color: #E0E0E0;
    margin: 5px 0;
}
.corner_developpeur{
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 14px;
}
.subtitle_news{
    color: #9D9C9C;
    font-size: 16px;
    font-weight: bold;
}
@font-face {
    font-family: "ProximaNova";
    src: url('/fonts/proximanova-light-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Light.otf') format('opentype');
}
@font-face {
    font-family: "ProximaNova";
    font-weight: bold;
    src: url('/fonts/proximanova-bold-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
    font-family: "ProximaNova";
    font-weight: 900;
    src: url('/fonts/proximanova-extrabold-webfont.eot?') format('eot'), url('/fonts/ProximaNova-Extrabold.otf') format('opentype');
}
@font-face {
    font-family: "CCRA";
    src: url('/fonts/CCRA.eot?') format('eot'), url('/fonts/CCRA.ttf') format('opentype');
}
body {
    margin:0;
    font-family: "ProximaNova",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #6F6F6E;
    background: #E3E3E3;
    min-width: 320px;
}
.pagebody {
    background: white;
    clear: left;
}
img {
    border: None;
}
h1, h2, h3, h4 {
    font-family: "ProximaNova", Helvetica, sans-serif;
    font-weight: bold;
    color: #0094B5;
/*    text-transform: uppercase;*/
}
h5, h6 {
    font-size: 1.3em;
    font-weight:bold;
    font-variant: small-caps;
    margin: 10px;
}
a {
    text-decoration: None;
    color: #0094B5;
}
a:hover {
    text-decoration: underline;
}
.center{
    margin: auto;
    max-width: 1020px;
}
.space {
    height: 1.5em;
}
#footer {
    background: white;
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
#toptext {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0595BA;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    float: right;
    font-size: 1.2em;
    padding: 10px;
    position: relative;
    z-index: 3;
    min-height: 109px;
    min-width: 170px;
}
.toplink {
    padding: 5px 20px;
    display: table;
    padding: 5px 10px;
    max-width: 150px;
    width: 100%;
}
.toplink:hover{
    background: #E3E3E3;
}
#toptext img {
    position: relative;
    top: 2px;
    left: -2px;
    vertical-align: -2px;
    margin-right: 5px;
}
#header {
    padding: 10px 0;
    background: white;
    min-height: 85px;
}
#logo {
    width:145px;
    padding-top: 5px;
    float:left
}
#searchdiv {
    float: left;
    margin-top: 5px;
    margin-right: 30px;
}
#baseline {
    width: 161px;
    color: #0094B5;
    text-transform: uppercase;
    font-family: "CCRA";
    font-size:13px;
}
#search {
    text-align: right;
}
#searchbtn {
    position:relative;
    left:-25px;
    top:1px;
}
#beta {
    float: left;
    left: 135px;
    position: relative;
}
#userheader {
    position: relative;
    top: 20px;
}
.usertitle {
    color: #0094B5;
    text-transform: uppercase;
    font-weight: bold;
}
.loginlabel {
    color: #2EAC66;
    position: absolute;
    padding: 2px;
}
.registerline {
    repeat-x:repeat;
    height: 35px;
    margin: auto;
    width: 1020px;
}
.registerline:after {
    content: url("/img/icons/next.png");
    vertical-align: -1.8em;
}
.registertext {
    padding: 7px;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    float: left;
}
.blogtag {
    border-radius: 5px;
    color: #0094B5;
    text-align: center;
    background: #362a32;
    padding: 0.5em 1em;
    margin: 1%;
    float: none;
    margin-left: 26%;
    width: 41%;
    margin-bottom: 10px;
}
.blogtagline {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.2em;
    color: white;
}
#pagetitle {
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 2em;
    color: #D0574C;
    overflow: hidden;
    clear:left;
}
#messageoutput {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 21;
}
.info {
    background: #D0574C;
    font-weight: bold;
    color: white;
}
.column {
    float: left;
    margin: 5px;
}
.largecolumn {
    float: left;
    width: 60%;
    margin: 2px;
    max-width: 595px;
}
div.smallcolumn {
    float: left;
    width: 200px;
    margin: 2px;
}
#sepheader {
    background:url('/img/agilebg.png');
    border-top:1px solid #D0574C;
    height:15px;
}
div.pagetitle {
    font-size: 1.5em;
    color: #D0574C;
    float: left;
    width: 165px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
img.tabicon {
    float: left;
    margin: -3px 5px;
}
#actions{
    max-width: 275px;
}
#nav {
    background:#D7E7F0;
    max-width:280px;
}
.navtitlehome {
    font-size: 1.4em;
    font-weight: bold;
}
#content {
    padding-top: 20px;
    margin: auto;
    max-width: 1020px;
    position: relative;
}
#related {
    width: 265px;
}
#shrinkrelated {
    overflow:hidden;
}
.block_shrinkrelated {
    position: relative;
    float:right; 
    overflow: visible; 
    width: 20px;
    z-index: 2;
}
.presslide {
    padding: 5px;
    background: white;
    border-radius: 3px;
}
#catcherbg {
    background: #E4E5E5;
    background-image: url('/img/sliderbg.png');
    overflow: hidden;
}
#catcher {
    height: 220px;
    max-width: 1020px;
    margin: auto;
    position: relative;
}
.slider {
    float: right;
    width: 670px;
    font-size: 1.4em;
}
.slidermore {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 12px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #CCE4F3;
    color: #0595BA;
    border: 1px solid #0595BA;
    left: 350px;
    top: 160px;
}
.indexslide {
    width: 650px;
    overflow: hidden;
}
.slidertip {
    text-transform: none;
    font-weight: normal;
    left: 650px;
    margin-bottom: 25px;
    color: #767676;
    font-size: 16px;
    width: 550px;
}
.slidericons {
    right: 40px;
    position: absolute;
    top: 170px;
    width: 70px;
    z-index: 1;
}
.slidericon {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px;
    margin-right: 7px;
    border-radius: 6px;
    border:2px solid;
    color: #D3CFCF;
    background-color: white;
}
.slidericonselected {
    font-weight: bold;
    background: #0595BA;
}
.slider dl {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: bold;
}
.slider dd {
    width: 600px;
    height: 30px;
    color: #0094B5;
    font-size: 1.4em;
    margin: 0 0 4%;
}
.fundingdesc {
    font-size: 22px;
    background-color: #0595BA;
    color: white;
    height: 80px;
}
.fundingtitle {
    font-size: 120%;
    font-weight: bold;
}
.fundinggreen {
    color: #1E9947;
}
.fundinglogo {
    float: left;
    margin-top: .3em;
}
.teampicture {
    float: left;
    height: 100px;
    margin-left: 0.2em;
    margin-right: 0.6em;
}
.surrondteampicture{
    margin-bottom: 40px;
    float: left;
}
div.popup_spec {
    background: white;
    border: solid 1px #E0E0E0;
    position: fixed;
    padding: 10px;
    z-index: 20;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    left: 5%;
    top: 30px;
    max-height: 85%;
    overflow: auto;
    min-width: 270px;
    max-width: 600px;
    width: 50%;
}
.popup{
    background: white;
    border: solid 1px #E0E0E0;
    color: black;
    position: fixed;
    padding: 10px 15px;
    z-index: 20;
    border-radius: 3px;
    box-shadow: 3px 3px 4px;
    left: 0;
    top: 20px;
    max-height: 85%;
    max-width: 400px;
    min-width: 280px;
    overflow: auto;
    width: 350px;
}
.actions {
    clear: right;
    float: right;
    margin: 5px;
}
.actionbutton {
    cursor: pointer;
    font-weight: bold;
    background-color: #E3E3E3;
    background-image: none;  
    border-radius: 3px;
    color: #0595BA;
    font-size: 15px;
    padding: 5px 12px;
}
.actionbutton_presentation {
    cursor: pointer;
    font-weight: bold;
    background-color: #E3E3E3;
    background-image: none;  
    border-radius: 3px;
    color: #0595BA;
    font-size: 15px;
    padding: 5px 12px;
    position: absolute;
    right: 0;
}
.block_action_presentation{
    margin-bottom: 60px;
    position: relative;
}
.username {
    font-weight: bold;
}
.clickable {
    cursor: pointer;
}
.invisible {
    display: none;
}
.cleared {
    clear: both;
}
.filedest {
    visibility: hidden;
    height: 0;
    width: 0;
}
.norich {
    width: 500px;
    height: 200px;
}
.askoi {
    margin: -11px 0;
}
.op_icon {
    width: 30%;
    margin: 0 auto;
    min-width: 320px;
}
.op_icon img{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 26px;
}
.op_larger{
    font-size: 16px;
    font-weight: bold;
}
.oired {
    color: #D0574C;
}
div.spectype {
    padding: 6px 14px;
    float: left;
    border: solid 2px #CCCCCC;
    margin: 1.5%;
    font-size: 15px;
    color: black;
}
div.spectypeselected {
    border: solid 2px gray;
    font-weight: bold;
}
.speclegend {
    height: 70px;
    margin-left: 10px;
    width: 600px;
}
.speclegend_file{
    height: 50px;
    margin: 11px;
    width: 95%;
}
div.spectype {
    padding: 6px 14px;
    float: left;
    border: solid 2px #CCCCCC;
    margin: 1.5%;
    font-size: 15px;
    color: black;
}
.fundingleft{
    float: left;
}
.fundingright{
    float: right;
}
.logbox{
    background-color: white;
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: 3px;
    width: 95%;
    min-width: 280px;
    max-width: 410px;
}
.continuebtn{
    background: #0595BA;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.nobtnstyle{
    border: 0 none;
    color: white;
    font-weight: bold;
}
.form_center{
    text-align: center;
}
.no_margin{
    margin: 0;
}
.blur{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.91;
    z-index: 19;
    position: fixed;
    background-color: #E3E3E3;
}
.boldtext {
    font-weight: bold;
}
.learn_more {
    float: left;
    padding-top: 25px;
}
.name_header {
    float: left;
    position: relative;
    text-align: right;
    top: 25px;
}
.arrow_header {
    background: url("/img/icons/arrow_header.png") no-repeat scroll 0 0 transparent;
    position: relative;
    top: 25px;
    z-index: 1;
}
.arrow_header:hover {
    background: url("/img/icons/arrow_header_hover.png") no-repeat scroll 0 0 transparent;
}
.arrow_header_up {
    background: url("/img/icons/arrow_header_up.png") no-repeat scroll 0 0 transparent;
    position: relative;
    top: 25px;
    z-index: 1;
}
.arrow_header_up:hover {
    background: url("/img/icons/arrow_header_up_hover.png") no-repeat scroll 0 0 transparent;
}
.popup_login_header {
    background: none repeat scroll 0 0 white;
    border: 1px solid #0094B5;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 4px;
    color: black;
    padding: 10px 10px 40px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 20;
}
.little_help {
    font-size: 9px;
}
.other_initiative_subtitle{
    border-left: 1px solid #0094B5;
    border-right: 1px solid #0094B5;
    color: #0094B5;
    display: table;
    font-size: 2em;
    font-weight: bold;
    margin: 40px auto;
    padding: 5px;
}
.radio_order{
    display: inline-block;
}
.presslide > h3:first-child {
    margin-top: 16px;
}
.presslide > h3 {
    margin-top: 36px;
}
.newsproject {
    margin-bottom: 10px;
    padding: 12px 1% 12px 20px;
    background-color: white;
    border-radius: 3px;
}
.separate_project_feature {
    clear: both;
    border-top: 2px dotted #D3CFCF;
    margin: 10px 0;
    margin-bottom: 10px;
}
.tabs_project {
    background: #F9F9F9;
    float: left;
    margin-bottom: 10px;
}
.tab_project {
    padding: 10px;
    color: #0094B5;
    border-right: solid 1px white;
    font-size: 20px;
    font-weight: normal;
    float: left;
    display: block;
    cursor: pointer;
    margin: 0;
}
.tab_project:last-child {
    border-right: none;
}
.tab_project_selected {
    background: #0094B5;
    color: white;
    font-weight: bold;
}
.tab_project_selected > a {
    color: white;
}
.participant {
    border-top: 1px dotted;
    padding: 10px 0;
    min-height: 50px;
}
.follow_project {
    float: right;
    padding: 5px;
    background: #0094B5;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-right: 7px;
}
.line_featureuser {
    margin-top: 10px;
}
.avoid_overlapping{
    position: relative;
    width: 215px;
    z-index: 1;
}
.social_integration{
    background: none repeat scroll 0 0 white;
    border-radius: 5px 0 0 5px;
    height: 150px;
    left: -20px;
    position: absolute;
    top: 80px;
    width: 35px;
}
.social_integration_img{
    margin: 5px 3px;
}
.social_integration_text{
    background: #737477;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    left: -30px;
    padding: 5px;
    position: absolute;
    top: -10px;
    text-align: center;
    top: -55px;
    width: 85px;
    z-index: 1;
}
.social_integration_buble{
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-top: 12px solid #737477;
    opacity: 0.8;
    position: absolute;
    top: -15px;
    left: 5px;
}
/*Open The World*/
.opentheworld_annoncement{
    max-width: 1020px; 
    width: auto; 
    margin: 0 auto; 
    text-align: center;
    padding-top: 10px;
    position: relative;
}
.opentheworld_logo{
    left: 20px;
    position: absolute; 
    z-index: 1;
}
.opentheworld_sentence{
    color: black; 
    font-size: 2.5em;
    float: left;
    position: relative;
    top: 50px;
    left: 10px;
}
.opentheworld_learn_more{
    background: #0094B5; 
    font-size: 1.5em;
    color: white;
    padding: 10px;
    border-radius: 3px; 
    position: absolute; 
    top:190px; 
    left: 260px;
}
.opentheworld_progressbar{
    float: right;
    width: 270px;
    text-align: start;
    position:absolute; 
    top:70px; 
    right: 100px;
}
.opentheworld_content{
    background: white; 
    padding: 20px;
    position: relative;
    margin-top: 200px;
}
.opentheworld_help{
    font-size: 18px; 
    padding: 10px;
}
.opentheworld_title{
    font-size: 1.7em;
    color: #0094B5;
    display: table;
    margin: 20px auto;
    border-left: 1px solid #0094B5;
    border-right: 1px solid #0094B5;
    padding: 5px;
}
.opentheworld_frame{
    border: 1px dashed #0094B5;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
    padding: 1.2em;
    position: relative;
    max-width: 900px;
    margin: 0 auto 40px;
}
.opentheworld_separate_part{
    border-right: 1px dashed #0094B5;
    min-height: 175px; 
    float: left; 
    margin: 0 10px;
}
.opentheworld_part1{
    float:left; 
    width: 385px;
    position: relative;
}
.opentheworld_part2{
    float: left;
    width: 200px;
    text-align: justify;
    position: relative;
}
.opentheworld_photo{
    width:170px;
    margin-right: 10px;
}
.opentheworld_description{
    max-width: 200px;
    overflow:hidden;
}
.opentheworld_btn_part1{
    position:relative;
    margin-top: 142px;
    margin-bottom: 10px;
}
.opentheworld_projects_progressbar{
    padding-top: 10px;
    position: relative;
    float:left;
    width: 190px;
}
.opentheworld_btn_part2{
    position:absolute;
    margin-left: 40px;
    margin-top: 35px;
}
.opentheworld_block_fund_goal{
    border-bottom: 1px dashed #D3CFCF;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 85%;
}
.opentheworld_follower{
    float: left;
    position: relative;
    margin-top: 50px;
}
