div.message {
   height: 100%;
   width: 500px;
}

div.msgbody {
    background: url('/img/msgmid.png');
    padding: 1px 20px;
}
div.msgtext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
div.msgup {
    width: 500px;
    height:70px;
    background: url('/img/msgup.png');
}
div.msgbtm {
    width: 500px;
    height:30px;
    background: url('/img/msgbtm.png');
}
div.msginfo {
    float: left;
    width: 100px;
    padding: 20px;
    font-style: italic;
    font-size: 1em;
    z-index: 2;
}
div.msgtitle {
    margin-top: 5px;
    padding: 30px;
    font-weight: bold;
    z-index: 2;
}

div.prjlist {
    border-top: solid black 1px;
    margin-top: 25px;
}
div.childrenlist {
    clear: left;
    padding-left: 20px;
}
div.smallmsg {
    width: 260px;
    height: 60px;  
    margin-top: -60px;
    padding: 20px;
    background: url('/img/message.png');
    font-weight: bold;
}

span.selectedcateg {
    background: #BBBCEE;
}
.msgfield {
    width:100%;
}
