div.prjbody {
    background: url('/img/prjmid.png');
    width: 560px;
    padding: 1px 20px;
    font-size: 12px;
}
div.prjtop {
    width: 600px;
    height:17px;
    background: url('/img/prjtop.png');
}
div.prjbtm {
    width: 600px;
    height:17px;
    background: url('/img/prjbtm.png');
}
div.prjbodysum {
    background: url('/img/prjmidsum.png');
    width: 330px;
    padding: 1px 20px;
    font-size: 12px;
}
div.prjtopsum {
    width: 370px;
    height:17px;
    background: url('/img/prjtopsum.png');
}
div.prjbtmsum {
    width: 370px;
    height:17px;
    background: url('/img/prjbtmsum.png');
}

.prjtitle {
    font-size: 1.2em;
}
div.tasklist {
    border-top: solid black 1px;
    margin-top: 25px;
}

div.smallprj {
    width: 270px;
    height: 70px;
    padding: 15px;
    background: url('/img/project.png');
    color: #778e9c;
    position: relative;
}
.viewtaskalign {
    position:relative;
    top:5px;
}
.viewtask {
    position:absolute;
    height:5px;
}
.progressbar {
    float:left;
    height:.8em;
    width:10em;
    border:solid 1px;
}
.progress {
    float:left;
    height:.8em;
    background:green;
}
.smalltext {
    font-size:.7em;
}
.viewprjalign {
    position:relative;
    top:-6px;
}
.viewprj {
    position:absolute;
    left:20em;
    height:8px;
    border:gray solid;
    border-width: 2px 2px 0 2px;
}
.gantt {
    position:relative;
    border:solid 1px;
    overflow-x:auto;
}
.ganttlabels {
    float:left;
    width:20em;
}
.ganttday {
    position:absolute;
    width:1em;
    border-right:solid lightgray 1px;
}
