div.prjbody {
    background: url('/img/prjmid.png');
    width: 560px;
    padding: 1px 20px;
}
div.prjtop {
    width: 600px;
    height:17px;
    background: url('/img/prjtop.png');
}
div.prjbtm {
    width: 600px;
    height:17px;
    background: url('/img/prjbtm.png');
}
.prjtitle {
    font-weight: bold;
    text-transform: uppercase;
}
.prjstate {
    clear: right;
    float: right;
    font-size: .8em;
}
div.tasklist {
    border-top: solid black 1px;
    margin-top: 25px;
}
div.smallprj {
    width: 280px;
    height: 80px;
    padding: 10px;
    margin-left: 12px;
    background: url('/img/project.png');
    color: #778e9c;
    position: relative;
    overflow: hidden;
}
.viewtaskalign {
    position:relative;
    top:5px;
}
.viewtask {
    position:absolute;
    height:5px;
}
.progressbar {
    float:left;
    height:.8em;
    width:10em;
    border:solid 1px;
}
.progress {
    float:left;
    height:.8em;
    background:green;
}
.smalltext {
    font-size:.7em;
}
.hiddenfield {
    visibility:hidden;
    height:0;
    width:0;
    border:0;
    padding:0;
}
.taskcolumn {
    float: left;
    width:180px;
}
.copyicon {
    float: left;
    margin-top: 20px;
}
.viewprjalign {
    position:relative;
    top:-6px;
}
.viewprj {
    position:absolute;
    left:20em;
    height:8px;
    border:gray solid;
    border-width: 2px 2px 0 2px;
}
.gantt {
    position:relative;
    border:solid .1em;
    overflow-x:auto;
}
.ganttlabels {
    float: left;
    width: 25em;
    white-space: nowrap;
    overflow: auto;
}
.ganttday {
    position:relative;
    width:.92em;
    float:left;
    border-right:.1em solid lightgray;
    height:95%;
    z-index:-1;
}
.ganttmonth {
    width:0px;
    position:relative;
    float:left;
    top:-1.1em;
}
