div.prjbody {
    background: url('/img/prjmid.png');
    width: 560px;
    padding: 1px 20px;
    font-size: 12px;
}
div.prjtop {
    width: 600px;
    height:17px;
    background: url('/img/prjtop.png');
}
div.prjbtm {
    width: 600px;
    height:17px;
    background: url('/img/prjbtm.png');
}
div.prjbodysum {
    background: url('/img/prjmidsum.png');
    width: 330px;
    padding: 1px 20px;
    font-size: 12px;
}
div.prjtopsum {
    width: 370px;
    height:17px;
    background: url('/img/prjtopsum.png');
}
div.prjbtmsum {
    width: 370px;
    height:17px;
    background: url('/img/prjbtmsum.png');
}

div.prjtitle {
    font-size: 1.2em;
}
div.tasklist {
    border-top: solid black 1px;
    margin-top: 25px;
}

div.smallprj {
    width: 260px;
    height: 60px;
    padding: 20px;
    background: url('/img/project.png');
    color: #778e9c;
}
.filedest {
    visibility: hidden;
    height: 0;
    width: 0;
}
