div.userpage {
    width: 600px;
    float: left;
}
div.userblock {
    float: left;
    clear: left;
    padding: 10px;
    width: 400px;
}
div.related {
    float: right;
    clear: right;
    width: 300px;
}
div.usermsg {
    padding: 70px;
}
.contactinfo {
    clear: left;
}
.contactpicture {
    float: left;
    width: 40px;
    height: 60px;
    margin-left: .2em;
    margin-right: .6em;
}
.dashboardlist {
    width:400px;
    margin:0 20px;
}
