{% extends "base.html" %}
{% load oifilters %}
{% load i18n %}
{% block title %}Avancement de {{project.title}}{% endblock %}
{% block nav %}
    {% include "projects/project_nav.html" %}
{% endblock %}
{% block content %}
<div id="prjview_{{project.id}}">
    <div>{% trans "Overview of" %} <a href="/project/get/{{project.id}}">{{project.title}}</a></div>
    {% if project.tasks.all %}
    <div>{% trans "Tasks" %}</div>
    <div class="ganttlabels">
        <div>{% trans "Month" %}</div>
        <div>{% trans "day" %}</div>
        {% for task in project.tasks.all %}
        {% include "projects/gantt/tasknames.html" %}
        {% empty %}
            {% trans "No task in the project" %}
        {% endfor %}    
    </div>
    <div id="gantt" class="gantt" style="height:{{project.subprojects.all.count|add:10}}em;">
        <div style="position:absolute">
            <div style="height:2.66em"></div>
            {% for task in project.tasks.all %}
            {% include "projects/gantt/taskview.html" %}
            {% endfor %}    
        </div>
        <div style="width:{{days|length|add:2}}em;height:95%">
            <div>{{days.1|date:"F"}}</div>
            {% for day in days %}
            {% ifequal day.day 1 %}<div class="ganttmonth">{{day|date:"F"}}</div>{% endifequal %}
            <div class="ganttday" style="{% ifequal day|date:"ymd" day.now|date:"ymd" %}background:#FFDDBB{% else %}{%if day.weekday > 5%}background:#F0F0F0;{%endif%}{% endifequal %};" {% ifequal day|date:"ymd" day.now|date:"ymd" %}id="today"{% endifequal %}>
                <span class="smalltext">{{day.day}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

