{% load i18n %}{% load oifilters %}
{% if notice.sender.is_authenticated %}
<a href="{{current_site}}/user/profile/{{notice.sender.username}}" target="_blank">{{notice.sender.get_profile}}</a>
{% else %} {% trans "guest" %} {% endif %}
{% if notice.project.parent %}
{% blocktrans %} has published a message on a task you follow:{% endblocktrans %} 
{% else %}
{% blocktrans %} has published a message on a project you follow:{% endblocktrans %}
{% endif %}
</br>
<div style="background-color: rgb(245, 243, 243); width: 70%; margin: auto; padding: 2%; border-radius: 20px 20px 20px 20px;">
	<b>{% trans "Object" %}:</b> {{notice.project.title}}
	<br>
	<b>{% trans "Message" %}:</b> {{notice.param|oiunescape}}
</div>
<p>{% trans "If you’d like to see the original message or respond to the user you can go" %} <a href="{{current_site}}{{REDIRECT_URL}}{{notice.project.id}}" target="_blank">{% trans "here" %}</a></p>
