{% load i18n %}
<a href="javascript:orderOverviewTable({{project.id}}, 'assignee')" class="clickable">
    {% trans "Assignee" %} </a>
<img src="/img/icons/treebtn1-open.png" class="clickable show_hide_popup" onclick="addPopup($('#table_assignee').toggle()[0]);document.ignoreClosePopups = true;"> 
<div id="table_assignee" class="invisible filter_table">
    <select name="filter_assignee" class="smallinput" onchange="(populateOverviewTable({{project.id}}))">
        <option selected> </option>
        <option value="{% trans 'Me' %}"> {% trans "Me" %} </option>
        <option value="{% trans 'Other' %}"> {% trans "Other" %} </option>
    </select>
</div>
