{% load i18n %}
<a href="javascript:orderOverviewTable({{project.id}}, 'state')" class="clickable">
    {% trans "State" %} </a>
<img src="/img/icons/treebtn1-open.png" class="clickable show_hide_popup" onclick="addPopup($('#table_state').toggle()[0]);document.ignoreClosePopups = true;">
<div id="table_state" class="invisible filter_table">
    <select name="filter_state" class="smallinput" onchange="(populateOverviewTable({{project.id}}))">
        <option selected> </option>
        <option value="0"> {% trans "Proposed" %} </option>
        <option value="2"> {% trans "Started" %} </option>
        <option value="3"> {% trans "Delivered" %} </option>
        <option value="4"> {% trans "Done" %} </option>
    </select>
</div> 
