.discussions {
    margin-top: 1em;
}
.speech {
    border-bottom: 1px solid transparent;
    border-right: 30px solid #D7E7F0;
    border-top: 20px solid transparent;
    float: left;
    margin-left: -20px;
    margin-top: 20px;
}
.msgbubble {
    background: none repeat scroll 0 0 #D7E7F0;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 10px;
}
div.rfptop {
    border-top: 1px solid;
    padding-top: 2px;
}
.msgtext {
    padding: 1px;
}
.msgtext p {
    text-overflow: ellipsis;
    word-wrap: break-word;
}
div.msgred {
    color: #D0574C;
    position: relative;
}
div.msgblue {
    color: #0094B5;
}
div.author {
    clear:left;
    font-variant:small-caps;
    font-weight:bold;
    width:80px;
}
.moreblue {
/*    background:url('/img/discblue.png');*/
/*    height:17px;*/
/*    width:8px;*/
/*    padding:3px 9px;*/
/*    margin: -0.2em -0.8em;*/
    float:right;
/*    color:white;*/
    font-weight:bold;
    font-size: 25px;
    margin-top: -4px;
}
.moreicon {
    height:23px;
}
div.smallmsg {
    background: none repeat scroll 0 0 #D7E7F0;
    border-radius: 10px 10px 10px 10px;
    clear: left;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    max-width: 300px;
}
.msgtitle {
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: bold;
}
div.childrenlist {
    clear: left;
    padding-left: 20px;
}
