{% load oifilters %}
{% load i18n %}
<div>{% trans "A file describing the job..." %}</div>
<input id="filename_{{divid}}" name="filename" type="hidden" />
<input id="ts_{{divid}}" name="ts" type="hidden" />
<span id="filespan_{{divid}}" {% if not spec %}class="invisible" {% endif %}>
    <img src='/img/icons/delete.png' alt='{% trans "Delete" %} ' title='{% trans "Delete" %}' onclick='changeFile("{{divid}}")' /> {{spec.file.name|cleanfilename}}
</span>
<div id="filediv_{{divid}}" {% if spec %}class="invisible" {% endif %}style="float: left;">
    <form id="form_{{divid}}" method="post" enctype="multipart/form-data" action="/project/{{project.id}}/uploadfile/{{spec.id|default:0}}" target="filedest_{{divid}}">
        {% csrf_token %}
        <input id="divid_{{divid}}" name="divid" type="hidden" value="{{divid}}" />
        <input id="file_{{divid}}" name="file" type="file" onchange="document.getElementById('form_{{divid}}').submit()" />
    </form>
</div>
<iframe id="filedest_{{divid}}" name="filedest_{{divid}}" class="filedest"></iframe>
<textarea id="text_{{divid}}" class="speclegend">{{spec.text|oiunescape}}</textarea>
<div id="validspec_{{divid}}" class="actions"><img class="clickable" src="/img/icons/ok-32.png" onclick="saveSpec('{{divid}}',{{project.id}},{{specorder|default:-1}},{{spec.id|default:0}})"/></div>
<div class="cleared"></div>
