{% load oifilters %}
{% load i18n %}
<div style="height: 24px;padding-bottom: 20px;padding-top: 20px;text-align: center;">{% trans "Please insert here the 'embed' code from either Youtube, Dailymotion or Vimeo." %}</div>
<div style="margin-bottom: 6%;margin-left: 32%;">
    <label for="url_{{divid}}">{% trans "Source video" %}</label>
    <input style="border: 1px solid #CCCCCC;" id="url_{{divid}}" type="text" value="{{spec.url|default:"http://"}}" />
</div>

<textarea id="text_{{divid}}" class="speclegend_file">{{spec.text|oiunescape}}</textarea>
