{% load oifilters %}
<div id="spec_{{project.id}}_{{spec.order}}">
    <div class="actions">
        {% if project|can_write:user %}
        <img class="clickable" src="/img/icons/delspec.png" onclick="deleteSpec({{project.id}}, {{spec.order}})" alt="Supprimer la spécification" title="Supprimer la spécification"/>
        <img class="clickable" src="/img/icons/editspec.png" onclick="editSpec({{project.id}}, {{spec.order}})" alt="Modifier la spécification" title="Modifier la spécification"/>
        <img class="clickable" src="/img/icons/addspec.png" onclick="addSpec({{project.id}}, {{spec.order}})" alt="Ajouter une spécification" title="Ajouter une spécification"/>
        {% endif %}
    </div>
    <input type="hidden" id="specid_{{spec.order}}" value="{{spec.id}}" />
    {% if spec.type == 3 or spec.type == 4 %}<a href="{{spec.url}}" >{% endif %}
    {{spec.text|oiunescape}}
    {% if spec.type == 3 or spec.type == 4 %}</a>{% endif %}
    {% if spec.type == 2 %}<img src="{{spec.file.url}}" />{% endif %}
    {% if spec.type == 5 %}
    <a href="{{spec.file.url}}"><img src="/img/icons/dlspec.png" alt="Télécharger la spécification" title="Télécharger la spécification"/></a>
    {% endif %}
    Publié par {% if spec.author %}
    <a href="/user/profile/{{spec.author.username}}">{{spec.author}}</a>
    {% else %}
    invité
    {% endif %} le {{spec.created}}
</div>
