{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{{selected_user.username}}{% endblock %}
{% block content %}
    <div class="userpicture">
        <img style="border: 1px solid #E0E0E0" id="user_picture" width="125" height="150" src="/user/getpicture/{{user.username}}" />
        <img class="clickable" src="/img/icons/edit.png" onclick="$('#profile_picture').toggle()" />
        <div id="profile_picture">
            <form id="profile_picture_form" method="post" enctype="multipart/form-data" action="/user/uploadpicture" target="picturedest">
                {% csrf_token %}
                <input id="picture" name="picture" type="file" size="1" onchange="document.getElementById('profile_picture_form').submit();hide('profile_picture')" />
            </form>
        </div>
        <iframe id="picturedest" name="picturedest" class="filedest"></iframe>
    </div>
    <div class="" >
        <div id="sendmp" class="popup invisible"></div>
        <div class="actions">
            {% ifnotequal user selected_user %}
            <img class="clickable" src="/img/icons/sendmsg.png" onclick="writeMP('{{selected_user.username}}')" alt="{% trans "Send a message" %}" title="{% trans "Send a message" %}" />
            {% if not user|is_contact:selected_user %}
            <img class="clickable" src="/img/icons/addcontact.png" onclick="addContact('{{selected_user.username}}')" alt="{% trans "Add to my contacts" %}" title="{% trans "Add to my contacts" %}" />
            {% endif %}
            {% endifnotequal %}
            <a href="/user/exportresume/{{selected_user.username}}"><img class="clickable" src="/img/icons/cvexport.png" alt="{% trans "Export this resume" %}" title="{% trans "Export this resume" %}" /></a>
        </div>
    </div>
    {% include "users/profile/related.html" %}
{% endblock %}
