{% extends "base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{{selected_user.username}}{% endblock %}
{% block nav %}
    <div>
        <h3>{% trans "My Contacts" %} ({{selected_user.get_profile.contacts.count}})</h3>
        {% for contact in selected_user.get_profile.contacts.all %}
        <div class="contactinfo">
            <img class="contactpicture" src="/user/getpicture/{{contact.user.username}}" />
            <a href="/user/profile/{{contact.user.username}}">{{contact.user.get_profile}}</a><br />
            {% if contact.title %}
            {{contact.title}}
            {% else %}
            {{contact.get_titles|first}}
            {% endif %}
        </div>
        {% endfor %}
        <div class="cleared"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="userpage" >
        <div id="sendmp" class="popup invisible"></div>
        <div class="actions">
            {% ifnotequal user selected_user %}
            <img class="clickable" src="/img/icons/sendmsg.png" onclick="writeMP({{selected_user.id}})" alt="{% trans "Send a message" %}" title="{% trans "Send a message" %}" />
            {% if not user|is_contact:selected_user %}
            <img class="clickable" src="/img/icons/addcontact.png" onclick="addContact({{selected_user.id}})" alt="{% trans "Add to my contacts" %}" title="{% trans "Add to my contacts" %}" />
            {% endif %}
            {% endifnotequal %}
            <a href="/user/exportresume/{{selected_user.username}}"><img class="clickable" src="/img/icons/cvexport.png" alt="{% trans "Export this resume" %}" title="{% trans "Export this resume" %}" /></a>
        </div>
        {% include "users/profile/resume.html" %}
    </div>
    {% include "users/profile/related.html" %}
{% endblock %}
