{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{{selected_user.username}}{% endblock %}
{% block content %}
<div class="prjbody prjbodyprofile">
    <div class="block_picture">
        <img id="user_picture" class="profilepicture" src="/user/getpicture/{{selected_user.username}}" />
        {% ifequal user selected_user %}
        <div class="cleared"></div>
        <a class="clickable" onclick="$('#profile_picture').toggle()" >
            {% trans "Change image" %}<img src="/img/icons/edit.png"/>
        </a>
        <div id="profile_picture" class="cleared filebox invisible">
            <form id="profile_picture_form" method="post" enctype="multipart/form-data" action="/user/uploadpicture" target="picturedest">
                {% csrf_token %}
                <input id="picture" name="picture" type="file" size="1" onchange="document.getElementById('profile_picture_form').submit();hide('profile_picture')" class="filepicker" />
            </form>
        </div>
        <iframe id="picturedest" name="picturedest" class="filedest"></iframe>
        {% endifequal %}
        {% ifnotequal user selected_user %}
        <div class="contact_me"><a class="clickable" onclick="writeMP('{{selected_user.username}}')">{% trans "Contact Me!" %}</a></div>
        {% endifnotequal %}
    </div>
    
    <div class="profilecolumn">
    
        <div class="fundingright"><span style="color:#0094B5">{{selected_user.get_profile.city}}, {{selected_user.get_profile.country}}</span><br/>{{selected_user.date_joined|date:"M"}}, {{selected_user.date_joined|date:"Y"}}</div>
        
        <div class="h2title">
            {{selected_user.get_profile|capfirst }}
            {% ifequal user selected_user %}<a href="/user/myaccount"><img src="/img/icons/edit.png" /></a>{% endifequal %}
        </div>
        
        <div class="cleared">
            <img src="/img/logo_small.png" class="column" style="margin-top: -7px; margin-right: 15px;"> 
            {{selected_user.get_profile.get_created_projects.count}} {% trans "Projects created" %},
            {{selected_user.get_profile.get_funded_projects.count}} {% trans "Projects funded" %}
        </div>
        
        <h2>
            {% trans "My bio" %}
            {% ifequal user selected_user %}<img src="/img/icons/edit.png" onclick="editBio()" class="clickable"/>{% endifequal %}
            </h2>
        <div id="bio">{% autoescape off %}{{selected_user.get_profile.bio|oiunescape}}{% endautoescape %}</div>
        <div id="bio_edit" class="invisible">
            <div class="actions">
                <img class="clickable" src="/img/icons/ok-32.png" onclick="saveBio()"/>
                <img class="clickable" src="/img/icons/delete.png" onclick="cancelBio()"/>
            </div>
            <div class="cleared">
            {% with textvalue=selected_user.get_profile.bio id='bio' %}
                {% include 'messages/uploadImageTextarea.html' %}
            {% endwith %}
            </div>
        </div>
    </div>
</div>
<div class="blue_band cleared"></div>
<div class="related">
    <div>
        <span id="created" class="profile_subtitle clickable" onclick="profile_content('all_created_project')">{% trans "Projects created" %}</span>
        
        <span id="funded" class="profile_subtitle clickable" onclick="profile_content('all_funded_project')">{% trans "Projects funded" %}</span>
    </div>
    
    <div class="cleared"></div>
    
    <div id="all_created_project" class="invisible">
        <div id="created_visible">
            <ul class="home_ul_center">
            {% for project in selected_user.get_profile.get_created_projects|filter_read:user|slice:":3" %}
                <li>
                    {% include 'funding/project_card.html' %}
                </li>
            {% empty %}
                <p>{% trans "No project created" %}</p>
            {% endfor %}
            </ul>
            <div class="cleared"></div>
            {% with tasks=selected_user.get_profile.get_funded_projects|filter_read:user %}
            {% if tasks.count > 3 %}<span class="clickable" onclick="seeMore('created_visible', 'created_invisible')"><a class="btn_feature fundingright bluesky">{% trans "See more" %}</a></span>
            {% endif %}
            {% endwith %}
        </div>
        
        <div id="created_invisible" class="invisible">
            <ul class="home_ul_center">
            {% for project in selected_user.get_profile.get_created_projects|filter_read:user %}
                <li>
                    {% include 'funding/project_card.html' %}
                </li>
            {% endfor %}
            </ul>
            <span class="clickable" onclick="seeMore('created_visible', 'created_invisible')"><a class="btn_feature fundingright bluesky">{% trans "See less" %}</a></span>
        </div>
    </div>
    
    <div class="cleared"></div>
    
    <div id="all_funded_project" class="invisible">
        <div id="funded_visible">
            <ul class="home_ul_center">
            {% for project in selected_user.get_profile.get_funded_projects|filter_read:user|slice:":3" %}
                <li>
                    {% include 'funding/project_card.html' %}
                </li>
            {% empty %}
                <p>{% trans "No project funded" %}</p>
            {% endfor %}
            </ul>
            <div class="cleared"></div>
            {% with tasks=selected_user.get_profile.get_funded_projects|filter_read:user %}
            {% if tasks.count > 3 %}<span class="clickable" onclick="seeMore('funded_visible', 'funded_invisible')"><a class="btn_feature fundingright bluesky">{% trans "See more" %}</a></span>
            {% endif %}
            {% endwith %}
        </div>
        <div id="funded_invisible" class="invisible">
            <ul class="home_ul_center">
            {% for project in selected_user.get_profile.get_funded_projects|filter_read:user %}
                <li>
                    {% include 'funding/project_card.html' %}
                </li>
            {% endfor %}
            </ul>
            <div class="cleared"></div>
            <span class="clickable" onclick="seeMore('funded_visible', 'funded_invisible')"><a class="btn_feature fundingright bluesky">{% trans "See less" %}</a></span>
        </div>
    </div>
</div>
<div id="sendmp" class="popupmsg invisible"></div>
<script>
profile_content('all_created_project');
</script>
{% endblock %}
