<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicons.ico" />
    <link rel="stylesheet" href="/css/oi.css" />
    <link rel="stylesheet" href="/css/oimessages.css" />
    <link rel="stylesheet" href="/css/oiprojects.css" />
    <link rel="stylesheet" href="/css/oiusers.css" />
    <script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/js/oijs.js"></script>
    <script type="text/javascript" src="/js/oimessage.js"></script>
    <script type="text/javascript" src="/js/oiproject.js"></script>
    <script type="text/javascript" src="/js/oiuser.js"></script>
    <title>{% block title %}{% endblock %} - Open Initiative</title>
</head>

<body>
    <div id="popup"></div>
    <div id="header">
        {% block header %}
        <a href="/"><img src="/img/logo.png" id="logo" /></a><span style="position:absolute;top:80px;left:180px;font-size:16px;font-weight:bold">BETA</span>
        <div class="userheader">
            {%if user.is_authenticated%}
            {{user}}
            <div><a class="homelink" href="/user/myprofile">Mon profil</a></div>
            <div><a class="homelink" href="">Préférences</a></div>
            <div><a class="homelink" href="/logout">Vous n'êtes pas {{user}} ?</a></div>
            {%else%}
            <div><a class="homelink" href="/login">Se connecter</a></div>
            {%endif%}
            <div><form name="searchform" action="/search" method="GET">
                <input class="searchbox" name="q" type="texte" value="Rechercher..." onclick="value=''" />
                <input id="searchbtn" type="image" src="/img/icons/loupe.png" />
            </form></div>
        </div>
        <div id="output"></div>
        {% endblock %}
    </div>
    <div class="sepheader"></div>

    <div class="list">
        <div class="navitem"><img src="/img/pictoOI.png" /><img src="/img/link.png" /> <a href="#">Présentation</a></div>
        {% block nav %}
        <div class="nav">
            <div class="navtitle">Catégories</div>
            <div id="arbo">
                <script>OIajaxCall("/message/listcategories/0?dest=index","","arbo");</script>
            </div>
        </div>
        <div class="nav">
            <div class="navtitle">Mes tâches en cours</div>
        </div>
        {% endblock %}
    </div>
    <div class="vertsep"></div>
    <div id="breadcrumb">
        {% block breadcrumb %}
        {% for path in object.get_ancestors %}
        {% for ancestor in path %}
        <a href="{% url oi.messages.views.getmessage id=ancestor.id%}">{{ancestor.title}}</a> - 
        {% endfor %} <br />
        {% endfor %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a href="">Mensions Légales</a>,
        <a href="">Conditions générales d'utilisation</a>,
        <a href="">Charte des forums</a>,
        <a href="">Contact</a>
    </div>
</body>
</html>
