{% load i18n %}
{% load oifilters %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicons.ico" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/root.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oimessages.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oiprojects.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oiusers.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui-1.9.1.custom.css" /> 
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript" src="/js/dateFormat.js"></script>
    <script type="text/javascript" src="/js/oijs.js"></script>
    <script>
        sites = {{Sites|safe}};
        prjsite = "http://" + sites["Open Initiative Projects"];
        fundingsite = "http://" + sites["Open Funding"];
    </script>
    <title>Open Initiative</title>
</head>
<body>

    <div id="catcherbg">
        <form action="/i18n/setlang/" method="post" class="actions">
            {% csrf_token %}
            <input type="hidden" name="language" value="{% if LANGUAGE_CODE = "fr" %}en{% else %}fr{% endif %}">
            <input type="image" src="/img/{% if LANGUAGE_CODE = "fr" %}en{% else %}fr{% endif %}.png" />
        </form>
        <div style="width:0;float: left;font-size: 12px;font-weight: bold;left: 185px;padding: 1px;position: relative;top: 56px;">BETA</div>
        <div id="logo">
            <img class="rootlogo" src="/img/logo.png" style="height: 65px; width: 183px;" alt="logo openinitiative" />
        </div>
        <div id="searchdiv">
            <div id="baseline">{% trans "The IT community dedicated to your business" %}</div>
            <img src="/img/baseunderline.png">
        </div>
        <div class="cleared" ></div>
    </div>    
    <div class="cleared" ></div>
    <div style="border-top: 3px solid #E3E3E3"></div>
    
    <div class="root_home_page">
        <a href="http://{{Sites|get:"Open Funding"}}">
            <img class="root_img" src="/img/logo_funding.png" alt="logo Open Funding">
        </a>
        <p>{% trans "Fund your free software on OpenFunding the" %} <b>{% trans "co-funding" %}</b> {% trans "platform for all your free software" %}</p> 
        <a href="http://{{Sites|get:"Open Funding"}}" class="join_community clickable">{% trans "Join the community" %}</a>   
    </div>
    
    <div class="contact_us">
        <div class="center_contact_us">
            <img class="root_project" src="/img/root_project.png" alt="project">
            <a href="/contact"><div>{% trans "Contact us!" %}</div></a>
            <p>{% trans "You're wishing for a project to be funded?" %}</p>
            <p>{% trans "You're looking for a great project to develop?" %}</p>
        </div>
    </div>
    
    <div class="other_initiative">
        <span class="other_initiative_subtitle">{% trans "Our other initiatives" %}</span>
        <div class="cleared"></div>
        
        <div class="center">
            <ul class="root_ul">
                
                <li id="blog">
                    <a href="http://blog.openinitiative.com/">
                        <div class="rootdesc">
                            <div>Follow us on</div>
                            <div class="blogtag blogtagline">The blog</div>
                        </div>
                    </a>
                </li>
                
                <li id="openinitiative">
                    <a href="http://{{Sites|get:"Open Initiative Projects"}}">
                        <div class="rootdesc">
                            <div>
                                <img class="rootlogo" src="/img/logo.png" alt="logo openinitiative" />
                                <div class="cleared" style="margin-bottom: 5px;"></div>
                                <span>{% trans "An agile project management platform" %}</span>
                            </div>
                        </div>
                    </a>
                </li>
                
                <li id="conference">
                    <a href="http://flat-conference.com/">
                        <div class="rootdesc">
                            <div>
                                <img class="rootlogo" src="/img/flat.png" alt="flat logo" />
                                <div class="cleared" style="margin-bottom: 5px;"></div>
                                <span>{% trans "A conference rethinking management" %}</span>
                            </div>
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
        
        <div class="cleared"></div>
    </div>
    
    <div id="footer">
        <div class="op_icon">
            <a class="footlink" href="https://www.facebook.com/myopeninitiative?filter=1"><img alt="Facebook" title="{% trans 'Follow us on facebook' %}" src="/img/facebook.png"></a>
            <a class="footlink" href="https://twitter.com/Open_Initiative"><img alt="Twitter" title="{% trans 'Follow us on twitter' %}" src="/img/twitter.png"></a>
            <a class="footlink" href="https://plus.google.com/104128139611924726489/posts" target="_blank"><img title="{% trans 'Follow us on google+' %}" alt="Google+" src="/img/google+.png"></a>
        </div>
        <a class="footlink" href="/cgu">{% trans "Terms of Use" %}</a> |
        <a class="footlink" href="/contact">{% trans "Legal notice" %}</a> |
        <a class="footlink" href="/contact">{% trans "Contact" %}</a>
    </div>
</body>
</html>

