{% extends "base.html" %}
{% load oifilters %}
{% block title %}Accueil{% endblock %}
{% block nav %}
    <div class="navitem"><img src="/img/fleche2.png" /> Catégories</div>
    <div id="arbo" class="subcateg">
        <script>OIajaxCall("/message/listcategories/0",null,"arbo");</script>
    </div>
    {% if params.id %}<script>selectCateg(document.getElementById("categ_{{params.id}}"),{{params.id}})</script>{% endif %}
    <div class="nav">
        <div class="navtitle">Date</div>
            <div class="navitem clickable"><span onclick="setDateDelta(this)">Indifférent</span></div>
            <div class="navitem clickable"><span onclick="setDateDelta(this,7)">Depuis une semaine</span></div>
            <div class="navitem clickable"><span onclick="setDateDelta(this,30)">Depuis un mois</span></div>
            <div class="navitem clickable"><span onclick="setDateDelta(this,365)">Depuis un an</span></div>
            <div class="navitem clickable"><span onclick="setDateDelta(this,0)">Période précise</span></div>
    </div>
    <div class="nav">
        <div class="navtitle">Projets</div>
            <div class="navitem clickable"><span onclick="setPrjState(this)">Tous</span></div>
            <div class="navitem clickable"><span onclick="setPrjState(this,0)">Proposés</div>
            <div class="navitem clickable"><span onclick="setPrjState(this,1)">Acceptés</div>
            <div class="navitem clickable"><span onclick="setPrjState(this,2)">En cours</div>
            <div class="navitem clickable"><span onclick="setPrjState(this,3)">Livrés</div>
            <div class="navitem clickable"><span onclick="setPrjState(this,4)">Validés</div>
    </div>
{% endblock %}
{% block content %}
    <div class="list">
        <div id="msgheader">
            <img src="/img/pictoOI.png" /><span class="indextitle">Trouvez une réponse</span>
            <div class="headersep"></div>
            <div class="indexdesc">Publiez votre cahier des charges, posez vos questions, obtenez la réponse à votre besoin !</div>
        </div>
        <div id="messages"></div>
    </div>
    <div class="list">
        <div id="prjheader">
            <img src="/img/pictoOI.png" /><span class="indextitle">Participez aux projets</span>
            <div class="headersep"></div>
            <div class="indexdesc">Misez sur les projets qui vous intéressent, proposez vos services, et apportez des solutions concrètes aux problèmes posés !</div>
        </div>
        <div id="projects"><script>applyFilter()</script></div>
    </div>
{% endblock %}
