{% load oifilters %}
<div class="message">
    <div class="msgtop"></div>
    <div class="msgbody">
        <div class="msgtitle">
            <input id="title_{{divid}}" class="msgfield" type="text" value="{{message.title}}"/>
        </div>
        <textarea id="text_{{divid}}" rows="15" class="msgfield">{{message.text|oiunescape}}</textarea>
        <input id="parents_{{divid}}"type="hidden"  value="{{parents}}" />
        <img class="clickable" src="/img/icons/ok-32.png" onclick="saveMessage('{{divid}}',{{message.id|default:0}})" />
        <img class="clickable" src="/img/icons/del-32.png" onclick="history.back()" />
    </div>
    <div class="msgbtm"></div>
</div>
