{% load oifilters %}
﻿<div id="message_{{message.id}}" class="message" onclick="document.location='/message/get/{{message.id}}'">
    <div class="msgbox">
        <div class="msgup">
            <div class="msginfo">
                {{message.author|default:"invité"}}
                {{message.created|date:"d/m/Y"}}
            </div>
            <div class="msgtitle">
                {{message.title}}
            </div>
        </div>
        <div class="msgbody">
            {{message.text|oiunescape}}
            Pertinence : {{message.relevance}}
            id : {{message.id}}
            <br />
            Experts :
            {%for expert in message.expert_set.select_related%}
                {{expert.user}} : {{expert.score}},
            {%endfor%}
        </div>
        <div class="msgbtm"></div>
    </div>
</div>
