{% load oifilters %}
{% load i18n %}
<div id="message_{{message.id}}" class="msgblue cleared">
    <div class="column">
        <img class="contactpicture" src="/user/getpicture/{{message.author.username}}" /><br />
        <div class="author">{{message.author.get_profile}}<br />{{message.created|date:"d/m/Y"}}</div>
    </div>
    <div class="msgbubble">
        <div class="msgtop">
            <div class="msgtitle">
                {{message.title}}
            </div>
        </div>
        <div class="msgbody">
            <div class="msgtext">
                {{message.text|summarize}}
            </div>
            <div class="moreicon"><div class="more{% if message.rfp %}red{% else %}blue{% endif %}">+</div></div>
        </div>
        <div class="msgbtm"></div>
    </div>
</div>
