{% load oifilters %}
<div id="message_{{message.id}}" class="message" >
    <div class="msgtop"></div>
    <div class="msgbody">
        <div class="actions">
            {% if not message|has_voted:user %}{% if not message|ip_has_voted:request.META.REMOTE_ADDR %}
                <img class="clickable" src="/img/pouce1.gif" onclick="vote({{message.id}},1)" title="Message pertinent">
                <img class="clickable" src="/img/pouce2.gif" onclick="vote({{message.id}},-1)" title="Message non pertinent">
            {% endif %}{% endif %}
            {% if message|can_answer:user %}<a href="/project/edit/0?message={{message.id}}">
                <img src="/img/icons/addprj.png" alt="Proposer un nouveau projet" title="Proposer un nouveau projet"/>
            </a>
            <img class="clickable" src="/img/icons/answermsg.png" onclick="addMessage({{message.id}})" alt="Répondre au message" title="Répondre au message" />
            {% endif %}
            {% if message|can_write:user %}
            {% if message.public %}
            <img class="clickable" src="/img/icons/privatemsg.png" onclick="hideMessage({{message.id}})" alt="Message privé" title="Message privé" />
            {% else %}
            <img class="clickable" src="/img/icons/sharemsg.png" onclick="shareMessage({{message.id}})" alt="Partager le message" title="Partager le message" />
            {% endif %}
            <img class="clickable" src="/img/icons/delmsg.png" onclick="deleteMessage({{message.id}})" alt="Supprimer le message" title="Supprimer le message" />
            <img class="clickable" src="/img/icons/editmsg.png" onclick="editMessage({{message.id}})" alt="Modifier le message" title="Modifier le message" />
            {% endif %}
        </div>
        <div class="msgtitle">
            {{message.title}}
        </div>
        <div id="msgdialogue_{{message.id}}"></div>
        <div class="msgtext">
            {{message.text|oiunescape}}
        </div>
        Publié par {% if message.author %}
        <a href="/user/profile/{{message.author.username}}">{{message.author}}</a>
        {% else %}
        invité
        {% endif %} le {{message.created|date:"d/m/Y"}}
        {% if message.get_projects %}
        <div id="projects_{{message.id}}" class="prjlist">
            <div>Projets en réponse :</div>
            {% for project in message.get_projects %}
            <a id="project_{{project.id}}" href="/project/get/{{project.id}}">
                <div class="smallprj">
                    {{project.title}}
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="msgbtm"></div>
    <div id="children_{{message.id}}" {%if message.children.all%}class="childrenlist pile"{%endif%}>
        {% if depth > 1 %}
        {% if message.children.all|length == 1 %}
            {% with message.children.all|first as message %}
            <div id="message_{{message.id}}_box" class="overlap">
            {% with depth|add:-1 as depth %}
            {% with "messages/message.html" as templatename %}
                {% include templatename %}
            {% endwith %}
            {% endwith %}
            </div>
            {% endwith %}
        {% else %}
        {% for child in message.get_children %}
        {% if child|can_read:user %}
        <div id="message_{{child.id}}_box" style="position:relative" onclick="expandMessage({{child.id}}, {{depth}})">
            <div class="smallmsg overlap clickable">
                <div class="morelink"><img src="/img/link.png" /> Lire la suite</div>
                <span class="msgtitle">{{child.title}}</span> {{child.text|summarize}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
</div>
