{% load oifilters %}
{% load i18n %}
<div class="actions">
    {% if not message|ip_has_voted:request.META.REMOTE_ADDR and user.is_anonymous or not message|has_voted:user and user.is_authenticated %}
        <img class="clickable" src="/img/icons/relevantmsg.png" onclick="vote({{message.id}},1)" alt="{% trans "Message relevant" %}" title="{% trans "Message relevant" %}">
        <img class="clickable" src="/img/icons/irrelevantmsg.png" onclick="vote({{message.id}},-1)" alt="{% trans "Message irrelevant" %}" title="{% trans "Message irrelevant" %}">
    {% endif %}
    {% if message|can_write:user %}
    {% if message.public %}
<!--    <img class="clickable" src="/img/icons/privatemsg.png" onclick="hideMessage({{message.id}})" alt="{% trans "Make this message private" %}" title="{% trans "Make this message private" %}" />-->
    {% else %}
<!--    <img class="clickable" src="/img/icons/sharemsg.png" onclick="shareMessage({{message.id}})" alt="{% trans "Share this message" %}" title="{% trans "Share this message" %}" />-->
    {% endif %}
    <img class="clickable" src="/img/icons/delmsg.png" onclick="deleteMessage({{message.id}})" alt="{% trans "Delete this message" %}" title="{% trans "Delete this message" %}" />
    <img class="clickable" src="/img/icons/editmsg.png" onclick="editMessage({{message.id}})" alt="{% trans "Correct this message" %}" title="{% trans "Correct this message" %}" />
    {% endif %}
<!--    <img class="clickable" src="/img/icons/favmsg.png" onclick="observeMessage({{message.id}})" alt="{% trans "Follow this message" %}" title="{% trans "Follow this message" %}" />-->
</div>
