{% extends "base.html" %}
{% load i18n %}
{% block title %}Nouvelle discussion{% endblock %}
{% block nav %}
<!--{% trans "Create in" %}:-->
<!--<div id="arbo"></div>-->
<!--<script>-->
<!--    OIajaxCall("/message/listcategories/0","","arbo");-->
<!--    {% for categ in categs %}selectCateg(document.getElementById("categ_{{categ}}"),{{categ}});{% endfor %}-->
<!--</script>-->
{% endblock %}
{% block content %}
<div class="column">
    {% with "newmessage" as divid %}
    <div id="newmessage">
        {% include "messages/editmessage.html" %}
    </div>
    {% endwith %}
</div>
{% endblock %}
