{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My account" %}{% endblock %}
{% block nav %}
    <h4>{%trans "Balance:" %} {{user.get_profile.balance}} €</h4>
    <h3>{% trans "Fund my account" %}</h3>
    <div>
        <div class="invisible" id="deposit">
            {% trans "You don't have enough money on your account. Please indicate below how much you want to add:" %}
        </div>
        <form method="post" action="/user/confirmpayment">
            {% csrf_token %}
            <input type="text" name="amount" id="amount" class="smallinput accountinput" value="0"/>
            <input type="image" src="/img/icons/ok-32.png" id="submit2" name="submit2">
        </form>
    </div>
{% endblock %}
{% block content %}
<div class="usercontentlarge">
    <h1>{% trans "My account" %}</h1>
    <h3>{% trans "History" %}</h3>
    <table>
        {% for payment in user.payment_set.all|dictsort:"transaction_date" %}
        <tr>
            <td>{{payment.transaction_date|date:"d/m/y H:i:s"}}</td>
            <td>{{payment.reason}}
            {% if payment.project %}{% trans "on project" %} <a href="/project/get/{{payment.project.id}}">{{payment.project.title}}</a></td>{% endif %}
            <td>{{payment.amount}} €</td>
        </tr>
        {% endfor %}
    </table>
    <h2>{%trans "Balance:" %} {{user.get_profile.balance}} €</h2>
</div>
<div class="column">
    <h1>{% trans "My invoices" %}</h1>
    <a href="/user/invoice">{% trans "Download current period history" %}</a>
</div>
<script>
    ajaxParams = document.location.hash.split("/");
    if(ajaxParams[0] == "#deposit"){
        show('deposit');
        document.getElementById('amount').value = ajaxParams[1];
    }
</script>
{% endblock %}
