{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Payment confirmation" %}{% endblock %}
{% block nav %} <h4>{% trans "Former balance:" %}</h4> {{user.get_profile.balance}} €{% endblock %}
{% block content %}
    <h1>{% trans "Do you confirm the deposit?" %}</h1>
    {% trans "You are about to be redirected to our payment service provider who will confirm transaction." %}<br />
    {% trans "This will add" %} {{amount}} {{params.currency}} {% trans "to your account. Do you confirm?" %}
    <form method="post" action="{{action}}" id=form1 name=form1>
        {% for key,value in params.items %}
        <input type="hidden" name="{{key}}" value="{{value}}" />{% endfor %}
        <input type="image" src="/img/icons/ok-32.png" id=submit2 name=submit2>
        <a href="/user/paymenthistory"><img src="/img/icons/del-32.png" /></a>
    </form>
{% endblock %}
