{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "Personal messages" %}{% endblock %}
{% block nav %}
<div class="navitem">{% trans "Personal messages" %}</div>
{% endblock %}
{% block content %}
<div class="column">
    <h1>{% trans "Received messages" %}</h1>
    {% for pm in user.get_profile.get_discussions %}
    <div class="contactinfo">
        <img class="contactpicture" src="/user/getpicture/{{pm.from_user.username}}" />
        <a href="/user/messageswith/{{pm.from_user.username}}">
            {{pm.from_user.username}} : {{pm.subject}}
            <div>{{pm.text|summarize}}</div>
        </a>
    </div>
    {% empty %}
    {% trans "No message received" %}
    {% endfor %}
</div>
{% endblock %}
