{% extends "base.html" %}
{% block content %}
{% include "users/related.html" %}
<div id="userprofile">
    <form action="/user/saveprofile" method="POST">
        <tr>
            <td><label for="lastname">Nom</label></td>
            <td><input type="text" name="lastname" value="{{user.last_name}}" /></td>
        </tr>
        <tr>
            <td><label for="firstname">Prénom</label></td>
            <td><input type="text" name="firstname" value="{{user.first_name}}" /></td>
        </tr>
        {{ form.as_p }}
        <script>new JsDatePick({useMode:2,target:"id_birthdate",dateFormat:"%Y-%m-%d"});</script>
        <input type="submit" />
    </form>
</div>
{% endblock %}
