{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "User settings" %}{% endblock %}
{% block content %}
<div class="usercontent">
    <div>
        <h2>{% trans "Contact information" %}</h2>
        <div class="actions">
            <img class="clickable" src="/img/icons/ok-32.png" onclick="saveContactInfo()" />
            <input type="image" class="clickable" src="/img/icons/del-32.png" onclick="document.forms['contact_form'].reset()" />
        </div>
        <form id="contact_form">
            <table>{{contact_form.as_table}}</table>
        </form>
    </div>
    <div>
        <a href="/user/changepassword">{% trans "Change your password" %}</a>
    </div>
    <div>
        {{user.email}}
        <a href="/user/changeemail">{% trans "Change your e-mail address" %}</a>
    </div>
    <div>
        <a href="/notification/settings">{% trans "Notification settings" %}</a>
<!--    <div>-->
<!--        <h2>Privacy settings</h2>-->
<!--    </div>-->
</div>
{% endblock %}
