{% extends "base.html" %}
{% block title %}{{selected_user.username}}{% endblock %}
{% block content %}
{% include "users/related.html" %}
<div class="userpage" >
    <div id="userprofile">
        <div class="actions">
            {% ifequal user selected_user %}
            <a href="/user/editprofile"><img src="/img/icons/editcontact.png" alt="Editer le profil" title="Editer le profil" /></a>
            {% else %}
            <img src="/img/icons/addcontact.png" onclick="addContact({{selected_user.id}})" alt="Ajouter à mes contacts" title="Ajouter à mes contacts" />
            {% endifequal %}
        </div>
        {{selected_user}}
        <div>
            {{selected_user.last_name}}
            {{selected_user.first_name}}
        </div>
        <div class="clickable" onclick="writeMP({{selected_user.id}})">Envoyer un message</div>
        <div id="sendmp"></div>
        <div>
            {{selected_user.get_profile.address}}
            {{selected_user.get_profile.postcode}}
            {{selected_user.get_profile.city}}
            {{selected_user.get_profile.country}}
        </div>
        Date de naissance : {{selected_user.get_profile.birthdate|date:"d/m/Y"}}
    </div>
    <div>
        <div id="training" class="column" style="width:200px">
            <div class="actions">
                <img src="/img/icons/addmsg.png" id="addtrain" onclick="addTraining()" alt="Ajouter une formation" title="Ajouter une formation" />
            </div>
            Ma formation
            {% for training in selected_user.training_set.all %}
            <p>{{training.university}}<br />({{training.begining.year}} à {{training.end.year}})<br />{{training.degree}}</p>
            {% endfor %}
        </div>
        <div id="experience" class="column" style="width:200px">
            <div class="actions">
                <img src="/img/icons/addmsg.png" id="addxp" onclick="addExperience()" alt="Ajouter une expérience" title="Ajouter une expérience" />
            </div>
            Mon expérience
            {% for experience in selected_user.experience_set.all %}
            <p>{{experience.company}}<br />({{experience.begining.year}} à {{experience.end.year}})<br />{{experience.job}}</p>
            {% endfor %}
        </div>
        <div class="contacts">
            <div><img src="/img/icons/contacts.png" />{{selected_user.get_profile.contacts.count}} Contacts</div>
            {% for contact in selected_user.get_profile.contacts.all %}
            <a href="/user/profile/{{contact.user.username}}">{{contact.user}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
