<div class="related">
Mes derniers messages :
<div class="pile">
{%for message in selected_user.ownmessages.all%}
    <a href="{% url oi.messages.views.getmessage id=message.id %}">
        <div id="message_{{message.id}}" class="smallmsg overlap">
            {{message.title}}
        </div>
    </a>
{%endfor%}
</div>
Mes derniers projets :
<div class="pile">
{%for project in selected_user.ownprojects.all%}
    <a href="/project/get/{{project.id}}">
        <div id="project_{{project.id}}" onclick="expandProject({{project.id}})" class="smallprj overlap">
            {{project.title}}
        </div>
    </a>
{%endfor%}
</div>
</div>

