{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "Personal messages" %}{% endblock %}
{% block compress_js %}
    <script type="text/javascript" src="/js/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/advlist/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/autolink/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/image/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/lists/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/charmap/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/spellchecker/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/wordcount/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/visualblocks/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/media/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/paste/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/themes/modern/theme.min.js"></script> 
{% endblock %}
{% block nav %}<a href="#sendmp">{% trans "Send a personal message to" %} {{contact.get_profile}}</a>{% endblock %}
{% block content %}
<div class="usercontentlarge">
    <h1>Messages personnels avec <a href="/user/profile/{{contact.get_profile}}">{{contact}}</a></h1>
    {% for pm in personalmessages %}
    <div class="contactinfo">
        <div class="column">
            <img class="contactpicture" src="/user/getpicture/{{pm.from_user.username}}" />
            <div class="author">{{pm.from_user.get_profile}}<br />{{pm.sent_date|date:"d/m/Y"}}</div>
        </div>
        <div>
        <h3>{{pm.subject}}</h3>
            {{pm.text|oiunescape}}
        </div>
    </div>
    {% endfor %}
    <h2>{% trans "Reply" %}</h2>
    <div id="sendmp">
        {% with contact as params %}
        {% include "users/writemp.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
