{% extends "base.html" %}
﻿{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "My Publications" %}{% endblock %}
{% block nav %}
{% if not selected_user or selected_user = user %}
{% with user.get_profile as username %}
<h5>{% blocktrans %}{{username}}'s blog{% endblocktrans %}</h5>
{% endwith %}
<div><a href="/message/new?parent={{user.get_profile.blog.id}}">
    <div class="blogicon">!</div> {% trans "Add a publication" %}
</a></div>
<div class="cleared">
    <div><img src="/img/icons/rss_icon.gif" /> {% trans "Subscribe to a RSS feed" %}</div>
    <input id="rssfeed" class="smallinput" value="{{user.get_profile.rss_feed}}"/>
    <img class="clickable" src="/img/icons/ok.png" onclick="setRSS()" />
</div>
{% else %}
<a href="/user/profile/{{selected_user}}">
{% with selected_user.get_profile as username %}
{% blocktrans %}{{username}}'s profile{% endblocktrans %}
{% endwith %}
</a>
{% endif %}
{% endblock %}
{% block content %}
{% with selected_user|default:user as selected_user %}
{{selected_user.get_profile.blog.children.all|length}} {% trans "Posts" %}
{% with selected_user.get_profile.blog.children.all|dictsortreversed:"created" as object_list %}
{% if object_list %}
{% with "ajax" as is_ajax %}
{% include "messages/message_list.html" %}
{% endwith %}
{% else %}
{% trans "No publication" %}
{% endif %}
{% endwith %}
{% endwith %}
{% endblock %}

