{% load i18n %}
{% load oifilters %}
{% load compress %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicons.ico" />
    {% block metadata %}{% endblock %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" media="all" href="/css/oimessages.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oifunding.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oiusers.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui-1.9.1.custom.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/oifundingmobile.css" />
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.js"></script>
    <script type="text/javascript" src="/js/hammer.min.js"></script>
    <script type="text/javascript" src="/js/plugins/hammer.fakemultitouch.js"></script>
    <script type="text/javascript" src="/js/plugins/hammer.showtouches.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/advlist/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/autolink/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/image/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/lists/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/charmap/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/spellchecker/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/wordcount/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/visualblocks/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/media/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/plugins/paste/plugin.min.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/themes/modern/theme.min.js"></script> 
    <script type="text/javascript" src="/js/dateFormat.js"></script>
    <script type="text/javascript" src="/js/oijs.js"></script>
    <script type="text/javascript" src="/js/oimessage.js"></script>
    <script type="text/javascript" src="/js/oiproject.js"></script>
    <script type="text/javascript" src="/js/oifunding.js"></script>
    <script type="text/javascript" src="/js/oiuser.js"></script>
    <script>
        sites = {{Sites|safe}};
        prjsite = "http://" + sites["Open Initiative Projects"];
    </script>
    {% endcompress %}
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <title>{% block title %}{% endblock %} - Open Funding</title>
</head>

<body>
    <div id="messageoutput">
        {% for message in messages %}
        <div><span class="{{ message.tags }}">{{ message }}</span></div>
        {% endfor %}
        <div><span id="output" class="info"></span></div>
    </div>
    <div id="header">
        <div class="center">
            {% block header %}
            <div id="logo"><a href="/"><img src="/img/logo_funding.png" /></a><img id="beta" src="/img/beta0.png" /></div>
            <div id="searchdiv">
                <div id="baseline">{% trans "The Co-funding platform for free software" %}</div>
                <img src="/img/baseunderline.png" />
            </div>
            <div id="userheader">
                {% with fr="fr" en="en" %}
                <form method="post" onsubmit="OIajaxCall('/user/changeuserlanguage', 'language={% if request.LANGUAGE_CODE == fr %}en{% else %}fr{% endif %}', 'output'); return false;" class="actions">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{% if LANGUAGE_CODE = "fr" %}en{% else %}fr{% endif %}"/>
                    <input id="oi_lang" type="image" src="/img/{% if LANGUAGE_CODE = "fr" %}en{% else %}fr{% endif %}.png" />
                </form>
                {% endwith %}
                {%if user.is_authenticated%}
                <div class="header_close">
                    <div class="cleared"></div>
                    <div id="toptext" class="invisible">
                        <b><a class="toplink" href="/user/myprofile"><img src="/img/icons/miniuser_blue.png">{% trans "My profile" %}</a></b>
                        <div class="cleared" style="border-top: solid 1px #0595BA; margin: 5px 0;"></div>
                        <b><a class="toplink" href="/user/myaccount"><img src="/img/icons/minisettings_blue.png">{% trans "My account" %}</a></b>
                        <div class="cleared" style="border-top: solid 1px #0595BA; margin: 5px 0;"></div>
                        <b><a class="toplink subtitle" href="/logout"><img src="/img/icons/minilogout_blue.png">{% trans "Log out" %}</a></b>
                    </div>
                </div>
                {% else %}
                
                <div id="popup_register" class="invisible popup_login_header" onclick="document.ignoreClosePopups = true;" >
                
                    <form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
                        <table>
                            <tr>
                                <td class="log_style">
                                    {% trans "Username" %}
                                </td>
                            </tr>
                            <tr>
                                <td class="log_separate">
                                    <input id="username_field" type="text" name="username" tabindex=3/>
                                </td>
                            </tr>
                            <tr>
                                <td class="log_style">
                                    {% trans "Password" %}
                                </td>
                            </tr>
                            <tr>
                                <td class="log_separate">
                                    <input type="password" name="password" id="id_password" tabindex=4/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input style="padding:1.5%" class="nobtnstyle continuebtn clickable fundingleft" type="submit" value="{% trans 'Log in' %}"/>
                                    <img class="fundingright" style="width:40px;" src="/img/tete0.png"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <input type="hidden" name="next" value="{{request.get_full_path}}" />
                                        <a href="/user/resetpassword" class="subtitle little_help"><b>{% trans "Forgot your password?" %}</b></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="border-top: solid 1px #0595BA; margin: 10px 0;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="subtitle little_help"><b>{% trans "Don't have an account yet???" %}</b></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input style="padding:1.5%" class="nobtnstyle continuebtn clickable fundingleft" onclick="document.location.href='/user/accounts/register/'" type="button" value="{% trans 'Register' %}"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    
                </div>
                
                {%endif%}
            </div>
            <div class="fundingright">
                {% if user.is_authenticated %}
                <div class="fundingleft">
                    <span id="name_header" class="usertitle name_header clickable" onclick="arrow_Up_Down('toptext')">{{user.get_profile}}</span>
                
                    <img class="contactpicture user_picture_effect clickable" src="/user/getpicture/{{user.username}}" onclick="arrow_Up_Down('toptext')" />
                </div>
                {% endif %}
                
                {%if not user.is_authenticated%}
                <div class="clickable fundingleft headerbtn btnlogin" onmouseover="this.style.color='#004f44'" onmouseout="this.style.color='#0094B5'" onclick="arrow_Up_Down('popup_register')">{% trans "Log in" %}</div>
                {%endif%}
                
                {%if user.is_authenticated%}
                <span id="arrow_header" class="arrow_header clickable" onclick="arrow_Up_Down('toptext')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span id="arrow_header_up" class="arrow_header_up clickable invisible" onclick="arrow_Up_Down('toptext')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {% else %}
                
                <span id="arrow_header" class="clickable arrow_header" onclick="arrow_Up_Down('popup_register')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span id="arrow_header_up" class="arrow_header_up clickable invisible" onclick="arrow_Up_Down('popup_register')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                {%endif%}
            </div>
               <div class="learn_more">
                    <a href="/presentation" class="clickable headernews">{% trans "Learn more" %}</a>
                    <a href="/#submit" class="clickable headernews" onclick="submitProject()">{% trans "Submit a project" %}</a>
                    <a href="/opentheworld" class="clickable headernews">{% trans "OpenTheWorld Campaign" %}</a>
                </div> 
            </div>
            {% endblock %}
            
        <div class="cleared"></div>
    </div>
    {% block announcement %}
    {% endblock %}
    
    <div class="cleared"></div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div class="cleared"></div>
    <div id="footer">
        <div class="op_icon">
            <a class="footlink" href="https://www.facebook.com/myopeninitiative?filter=1" target="_blank"><img alt="Facebook" title="{% trans 'Follow us on facebook' %}" src="/img/facebook.png"></a>
            <a class="footlink" href="https://twitter.com/Open_Initiative" target="_blank"><img alt="Twitter" title="{% trans 'Follow us on twitter' %}" src="/img/twitter.png"></a>
            <a class="footlink" href="https://plus.google.com/104128139611924726489/posts" target="_blank"><img title="{% trans 'Follow us on google+' %}" alt="Google+" src="/img/google+.png"></a>
            <br/>
            <a href="http://blog.openinitiative.com/" target="_blank">
                <div class="blogtag">
                    <div>Follow us on</div>
                    <div class="blogtagline">The blog</div>
                </div>
            </a>
            <div class="cleared"></div>
        </div>
        <a class="footlink" href="/cgu">{% trans "Terms of Use" %}</a> |
        <a class="footlink" href="{%trans "/presentation" %}">{% trans "Presentation" %}</a> |
        <a class="footlink" href="/contact">{% trans "Legal notice" %}</a> |
        <a class="footlink" href="/contact">{% trans "Contact" %}</a>
    </div>
</body>
</html>
