{% extends "funding/base.html" %}
﻿{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "My projects" %}{% endblock %}
{% block related %}
<div class="actionbutton"><form onsubmit="addTask(getValue('newproject_title'), null,function(task){document.location = '/funding/'+task.pk+'/edit'});return false"><img class="actions" src="/img/icons/descriptionwhite.png" />
    <div>{% trans "Create" %}</div>{% trans "a new project:" %}
    <input id="newproject_title"/><input id="newproject_add" type="image" src="/img/icons/add.png" />
</form></div>
{% endblock %}
{% block content %}
<div class="prjlist" id="prjlist{{projects.grouper}}">
{% for project in user.get_profile.get_observed_projects.distinct %}
{% include 'funding/project_card.html' %}
{% endfor %}
</div>
<div class="cleared" style="width:100%"></div>
{% endblock %}
