{% extends "funding/base.html" %}
﻿{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "My projects" %}{% endblock %}
{% block nav %}
<div class="column" id="actions">
    <div id="navhome">
        <div class="navtitlehome">{% trans "Projects on Open Funding" %}</div>
        <a href="#0" onclick="switchPrjList(0)"><div class="treetitlehome">{% trans "Our selection" %}</div></a>
        <a href="#1" onclick="switchPrjList(1)"><div class="treetitlehome">{% trans "My projects" %}</div></a>
    </div>
    <div class="actionbutton"><form onsubmit="addTask(getValue('newproject_title'), null,function(task){document.location = '/funding/'+task.pk+'/edit'});return false"><img class="actions" src="/img/icons/descriptionwhite.png" />
        <div>{% trans "Create" %}</div>{% trans "a new project:" %}
        <input id="newproject_title"/><input id="newproject_add" type="image" src="/img/icons/add.png" />
    </form></div>
</div>
{% endblock %}
{% block content %}
<div class="invisible prjlist" id="prjlist0">
{% for project in object_list %}
{% include 'funding/project_card.html' %}
{% endfor %}
</div>
<div class="prjlist" id="prjlist1">
{% for project in user.get_profile.get_observed_projects.distinct %}
{% include 'funding/project_card.html' %}
{% endfor %}
</div>
<div class="cleared" style="width:100%"></div>
{% endblock %}
