{% load oifilters %}
{% load i18n %}
{% if task|can_read:user %}
{% if task|can_manage:user %}
<div id="featurebudget_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
    {% include 'funding/feature_budget.html' %}
</div>
{% endif %}
{% if task|can_manage:user or task.spec_set.count%}
<div id="featuredesc_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
    {% include 'funding/feature_description.html' %}
</div>
{% endif %}

<div id="featureDiv_{{task.id}}" class="featureblock" title="{{task.title}}">
    {% if task|can_write:user and task.state < 4 %}<div class="actions">
        <img src="/img/icons/edit.png" alt="{% trans 'edit title' %}" title="{% trans 'edit title' %}" class="clickable" onclick="var newtitle = prompt(gettext('Please insert a title :'), '{{task.title}}');if(newtitle){confirmEditTitle({{task.id}}, newtitle);}" />
        <img src="/img/icons/delete.png" alt="{% trans 'delete feature' %}" title="{% trans 'delete feature' %}" class="clickable" onclick="deleteProject({{task.id}})" />
    </div>{% endif %}
    <div id="feature_{{task.id}}" class="featuretitle">{{task.title}}</div>
    {% if task|can_manage:user or task.spec_set.count%}<a class="clickable" onclick="showPopup(featuredesc_{{task.id}})">{% trans "Description" %}</a>{% endif %}
    <div>
        <div><span class="funded">{{task.allbid_sum|default:0|floatformat:"-2"}} €</span> {% trans "funded" %}</div>
        {% include 'funding/project_actions.html' %}
        <div class="progressbar">
            <span id="progressbar_{{object.id}}" class="progress" style="width:{{task.get_funding_progress|default:0|floatformat:0}}%;">{{task.get_funding_progress|default:0|floatformat:0}}%</span>
            <span id="progresslabel_{{object.id}}" class="progresstitle" ></span>
        </div>
        <div class="cleared">
            <span class="amount">{{task.get_budget|default:0|floatformat:"-2"}} €</span> {% trans "needed" %} -
            <span class="amount">{{task.missing_bid|floatformat:"-2"}} €</span> {% trans "to go" %}
        </div>
        {% if task|can_manage:user %}<a class="clickable" onclick="showPopup(featurebudget_{{task.id}})">{% trans "Funding details" %}</a>{% endif %}
    </div>
</div>

<script>
    $(function() {
        $("#featuredetail_{{task.id}}").draggable();
        $("#spec_{{task.id}}_details").draggable();
        $("#bidpopup_{{task.id}}").draggable();
    });
</script>
{% endif %}
