﻿{% load oifilters %}
{% load i18n %}
<div id="feature_form_popup">

    <img class="clickable actions" src="/img/icons/delete.png" alt="{% trans 'close' %}" title="{% trans 'close' %}" onclick="hide('featuredesc_{{task.id}}')" />

    <h3 style="width:300px; margin-top:0px">{{task.title}}</h3>

    <div class="prjauthor">{% trans "Project created by" %} {{task.author.get_profile}}</div>
    <div id="specs_{{task.id}}">
        {%for spec in task.spec_set.all|dictsort:"order"%}
        <div style="position:relative" id="spec_{{task.id}}_{{spec.order}}" class="cleared">
            {% with task as object %}
                {%include 'funding/spec/spec.html'%}
            {% endwith %}
        </div>
        {% endfor %}
    </div>
    {% if task|can_write:user and task.state < 4 %}
        <a class="clickable" onclick="addSpec({{task.id}})"><img src="/img/icons/add.png" /> 
            {% trans "Add a description" %}
        </a>
    {% endif %}
    
</div>
