{% load oifilters %}
{% load i18n %}
{% if task|can_read:user %}


    {% if task.state < 4 and task|can_manage:user or not user.is_authenticated %}
    <div id="completepopup_{{task.id}}" class="popup_complete invisible" onclick="document.ignoreClosePopups = true;">
            <img class="clickable actions" src="/img/icons/delete.png" alt="{% trans 'close' %}" title="{% trans 'close' %}" onclick="hidePopups()" />
            <p class="bid_popup_title form_center">{% trans "Complete the fund of the feature" %} <b>{{task.title}}</b><br/> {% trans "by the project fund" %} <u>{{object.title}}</u></p>
            <div class="cleared"></div>
        <p>{% trans "You are about to fund the feature with the project fund, are you sure you want to do it?" %}</p>
        <span style="position: relative;left: -3%;top: 2%;" class="fundingright continuebtn clickable" onclick="completeTask({{object.id}}, {{task.id}})">{% trans "Continue" %}</span>
    </div>
    {% endif %}
    
    <div id="featurebudget_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
        <div id="prjdialogue_{{task.id}}" class="popup invisible"></div>
        {% include 'funding/feature_budget.html' %}
    </div>

    <div id="featureDiv_{{task.id}}" class="featureblock" {% if not task.public_read %} style="opacity:.4;"{% endif %}>
        
        <div id="feature_{{task.id}}" class="featuretitle clickable" onclick="expandFeature({{task.id}})">{% if linktitte %}<a href="/funding/{{object.id}}#feature_{{task.id}}" target="_blank">{{task.title}}</a>{% else %}{{task.title}}{% endif %}</div>
        
        <form onsubmit="var newtitle = getValue('feature_{{task.id}}_edit');if(newtitle){confirmEditTitle({{task.id}}, newtitle);}; seeMore('feature_{{task.id}}_edit', 'feature_{{task.id}}'); return false">
        <input id="feature_{{task.id}}_edit" class="featuretitle invisible" value="{{task.title}}">
        </form>
        
        <div>
        {% if task|can_write:user and task.state < 4 %}
            <span class="editfeature">
                {% if task.state < 2 %}{% trans "Edit" %} <img src="/img/icons/edit.png" alt="{% trans 'edit title' %}" title="{% trans 'edit title' %}" class="clickable" onclick="seeMore('feature_{{task.id}}_edit', 'feature_{{task.id}}')" />{% endif %}
                {% trans "Delete" %} <img src="/img/icons/delete.png" alt="{% trans 'delete feature' %}" title="{% trans 'delete feature' %}" class="clickable" onclick="deleteFeature({{task.id}})" />
            </span>
        {% endif %}
        </div>
        
        <div class="fundingright avoid_overlapping">
            <div class="funding_space subtitle_news">{% trans "Funding phase" %}:</div>
            <div class="progressbar">
                <span id="progressbar_{{object.id}}" class="progress" style="width:{% widthratio task.allbid_sum|default:0 task.get_budget|default:0 100 %}%;"></span>
                <span id="progresslabel_{{object.id}}" class="progresstitle" >{% widthratio task.allbid_sum|default:0 task.get_budget|default:0 100 %}%</span>
            </div>
            <div class="cleared"></div>
            <div class="block_fund_goal">
                <div class="fundingleft fund">
                    <span class="displayblock">{% trans "Funded" %}</span>
                    <span>{{task.allbid_sum|default:0|floatformat:"-2"}} €</span>
                </div>
                
                <div class="goal">
                    <span class="displayblock">{% trans "Goal" %}</span>
                    <span class="">{{task.get_budget|floatformat:"-2"}} €</span>
                </div>
            </div>
            
            {% if task.state < 4 and task.assignee == user %}
                <form class="funding_space" onsubmit="OIajaxCall('/project/confirmoffer/{{task.id}}', 'offer='+getValue('offer_manage_{{task.id}}'), 'output', function(){hide('offer_manage_{{task.id}}')}); return false">
                    <input type="text" id="offer_manage_{{task.id}}" value="{{task.offer}}" onFocus="this.select()" class="smallinput invisible" />
                    <a id="changesum_{{task.id}}" class="clickable" onclick="$('#offer_manage_{{task.id}}').toggle(); $('#changesum_{{task.id}}').toggle(); $('#ok_{{task.id}}').toggle();$('#changesum_{{task.id}}_del').toggle();">
                        {% trans "Change the price of this feature" %}
                        <img src="/img/icons/edit.png"/>
                    </a>
                    <img id="changesum_{{task.id}}_del" class="invisible" onclick="$('#offer_manage_{{task.id}}').toggle(); $('#changesum_{{task.id}}').toggle(); $('#ok_{{task.id}}').toggle();$('#changesum_{{task.id}}_del').toggle();" src="/img/icons/delete.png"/>
                    <img id="ok_{{task.id}}" src="/img/icons/ok.png" class="clickable invisible" onclick="OIajaxCall('/project/confirmoffer/{{task.id}}', 'offer='+getValue('offer_manage_{{task.id}}'), 'output', function(){hide('offer_manage_{{task.id}}')});">
                </form>
            {% endif %}
            
            <div class="profile_info">
                {% if task.state < 3 and task|can_manage:user %}
                <p class="form_center">
                    <span>{% trans "Awaiting payment" %} <b>{{task.missing_bid|floatformat:2}}€</b></span><br><br><span class="tax">{% trans "Tax" %} 5% : <b>{{task.commission|default:task.allcommission_sum}}€</b></span><span class="tax"> {% trans "Commisions" %} 19.6%: <b>({{task.get_commission_tax|floatformat:2}}€)</b></span><br>
                </p>
                {% endif %}
                <img src="/img/logo_small.png" class="column">
                <p><a class="clickable" href="#community" onclick="project_content('communityproject')">{{task.bid_set.count}} {% trans "users" %}</a></p>
            </div>            
            
            {% include 'funding/project_actions.html' %}
            <div class="featurebtns">
                {% if task.state < 4 and task|can_bid:user or not user.is_authenticated and task.state < 4 %}
                    <span class="supportbtn clickable" onclick="showPopup(document.getElementById('bidpopup_{{object.id}}')); document.getElementById('order_{{task.id}}').checked=true;">{% trans "Order the feature" %}</span>
                {% endif %}
                <br/>
                {% if task.state < 4 and task|can_manage:user and object.bid_sum and task.missing_bid %}
                    <span class="supportbtn_complete clickable" onclick="showPopup(document.getElementById('completepopup_{{task.id}}'));">{% trans "Complete the funding" %}</span>
                {% endif %}
            </div>
            
            {% if task|can_manage:user %}
            <div class="cleared funding_space"></div>
            <div id="visible_{{task.id}}">
                <form>
                   <label>{% trans "Visible feature to the users" %}</label> 
                   <input id="public_read_{{task.id}}" type="checkbox" {% if task.public_read %}checked="checked"{% endif %} onclick="visibleFeature({{task.id}})"/>
                </form>
            </div>
            {% endif %}
        </div>
        
        <div style="word-break: break-all;" id="specs_{{task.id}}_hide">
        {% with spec=task.spec_set.all|filter_order:1 %}
            {% if spec.type == 2 %}<br/>{% endif %}
            {{spec.text|oiunescape|summarize_html}}
        {% endwith %}
        </div>
        
        {% if task|can_manage:user or task.spec_set.count %}
            {% include 'funding/feature_description.html' %}
        {% else %}
            <div id="specs_{{task.id}}" class="invisible"></div>
            <div id="see_more_{{task.id}}" class="invisible"></div>
            <div id="see_less_{{task.id}}" class="invisible"></div>
        {% endif %}
        
        <div class="cleared">
            {% if task|can_manage:user or task.spec_set.count%}
            <a id="see_more_{{task.id}}" class="clickable see-more btn_feature fundingleft bluesky" onclick="expandFeature({{task.id}});{% if task|can_write:user and task.state < 4 and task.spec_set.all.count < 1 %}addSpec('{{task.id}}')">{% trans "Add a description" %}{% else %}">{% trans "See more" %}{% endif %}</a>
            
            <a id="see_less_{{task.id}}" class="clickable see-less btn_feature fundingleft bluesky invisible" onclick="expandFeature({{task.id}})">{% trans "See less" %}</a>
            {% endif %}
        </div>
        
    </div>
    <script>
        hide('see_less_{{task.id}}');
        $(function() {
            $("#featurebudget_{{task.id}}").draggable();
        });
        $( document ).ready(function() {
            if(document.location.hash=='#feature_{{task.id}}'){
                show('specs_{{task.id}}');
                hide('specs_{{task.id}}_hide');
                hide('see_more_{{task.id}}');
                show('see_less_{{task.id}}');
            }
        });
    </script>
    <div class="reward_bottom_line"></div>
{% endif %}
