{% load oifilters %}
{% load i18n %}
{% if task|can_read:user %}
{% if task|can_manage:user %}

    <div id="featurebudget_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
        <div id="prjdialogue_{{task.id}}" class="popup invisible"></div>
        {% include 'funding/feature_budget.html' %}
    </div>
    {% endif %}
    {% if task|can_manage:user or task.spec_set.count%}
    <div id="featuredesc_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
        {% include 'funding/feature_description.html' %}
    </div>
    {% endif %}
    {% if task.state < 4 and task|can_bid:user or not user.is_authenticated %}
    <div id="bidpopup_{{task.id}}" class="popup_spec invisible" onclick="document.ignoreClosePopups = true;">
            <img class="clickable actions" src="/img/icons/delete.png" alt="{% trans 'close' %}" title="{% trans 'close' %}" onclick="hide('bidpopup_{{task.id}}')" />
        <p>{% trans "By funding this feature you will enable improvements to this software. You will be given the chance to validate that the development is done the way you want. An e-mail will let you know that you can test the feature when it is developped, so that you can validate it is done."%}</p><p>{% trans "Thanks for supporting this software!" %}</p>
        <form onsubmit="OIajaxCall('/project/confirmbid/{{task.id}}', 'bid='+getValue('bid_{{task.id}}'), 'output');return false">
            <label for="bid_{{task.id}}">{% trans "Please enter the amount you want to fund:" %}</label><br />
            <input id="bid_{{task.id}}" name="bid_{{task.id}}" class="bidfeature" value="{{task.missing_bid|floatformat:"-2"}}" /> €
            <input type="image" src="/img/icons/ok-32.png" />
        </form>
        {% trans "By funding this feature, you agree to the" %} <a href="/cgu" target="_blank">{% trans "Terms of Use" %}</a>
    </div>
    {% endif %}

    <div id="featureDiv_{{task.id}}" class="featureblock" title="{{task.title}}"{% if not task.public_read %} style="opacity:.4"{% endif %}>
        {% if task|can_write:user and task.state < 4 %}<div class="actions">
            {% if task.state < 2 %}<img src="/img/icons/edit.png" alt="{% trans 'edit title' %}" title="{% trans 'edit title' %}" class="clickable" onclick="var newtitle = prompt(gettext('Please insert a title :'), '{{task.title}}');if(newtitle){confirmEditTitle({{task.id}}, newtitle);}" />{% endif %}
            <img src="/img/icons/delete.png" alt="{% trans 'delete feature' %}" title="{% trans 'delete feature' %}" class="clickable" onclick="deleteFeature({{task.id}})" />
        </div>{% endif %}
        <div id="feature_{{task.id}}" class="featuretitle">{{task.title}}</div>
        
        <div style="text-align: left;">
        {% for spec in task.spec_set.all %}
            {% if spec.order == 1 %}
                <p style="text-align: left;" class="ellipsis">{{spec.text|oiunescape|slice:":100"}} {% if spec.text|length > 101 %}...{% endif %}</p>
            {% endif %}
        {% endfor %}
        </div>
        
        {% if task|can_manage:user or task.spec_set.count%}<a style="display: block; text-align: right" class="clickable" onclick="showPopup(document.getElementById('featuredesc_{{task.id}}'))">{% trans "See more" %}</a>{% endif %}
        <div>
            <div><span class="funded">{{task.allbid_sum|default:0|floatformat:"-2"}} €</span> {% trans "funded" %}</div>
            
            <div class="progressbar">
                <span id="progressbar_{{object.id}}" class="progress" style="width:{% widthratio task.allbid_sum|default:0 task.get_budget|default:0 100 %}%;">{% widthratio task.allbid_sum|default:0 task.get_budget|default:0 100 %}%</span>
                <span id="progresslabel_{{object.id}}" class="progresstitle" ></span>
            </div>
            <div class="cleared funding_space">
                <span class="amount">{{task.get_budget|default:0|floatformat:"-2"}} €</span> {% trans "needed" %} -
                <span class="amount">{{task.missing_bid|floatformat:"-2"}} €</span> {% trans "to go" %}
            </div>
            
            {% if task.state < 4 and task.assignee == user %}
                <form class="funding_space" onsubmit="OIajaxCall('/project/confirmoffer/{{task.id}}', 'offer='+getValue('offer_manage_{{task.id}}'), 'output', function(){hide('offer_manage_{{task.id}}')}); return false">
                    <input type="text" id="offer_manage_{{task.id}}" value="{{task.offer}}" onFocus="this.select()" class="smallinput invisible" />
                    <span id="changesum_{{task.id}}">{% trans "Change the sum of this feature" %}</span>
                    <img src="/img/icons/edit.png" class="clickable" onclick="$('#offer_manage_{{task.id}}').toggle(); $('#changesum_{{task.id}}').toggle(); $('#ok_{{task.id}}').toggle()">
                    <img id="ok_{{task.id}}" src="/img/icons/ok.png" class="clickable invisible" onclick="OIajaxCall('/project/confirmoffer/{{task.id}}', 'offer='+getValue('offer_manage_{{task.id}}'), 'output', function(){hide('offer_manage_{{task.id}}')});">
                </form>
            {% endif %}
            
            {% include 'funding/project_actions.html' %}
            
            {% if task|can_manage:user %}<a class="clickable" onclick="showPopup(document.getElementById('featurebudget_{{task.id}}'))">{% trans "Funding details" %}</a>{% endif %}
            
            
            <div class="cleared funding_space"></div>
            <div id="visible_{{task.id}}">
                <form>
                   <label>{% trans "Visible feature to the users" %}</label> 
                   <input id="public_read_{{task.id}}" type="checkbox" {% if task.public_read %}checked="checked"{% endif %} onclick="visibleFeature({{task.id}})">
                </form>
            </div>
            
        </div>
    </div>

    <script>
        $(function() {
            //$("#featuredesc_{{task.id}}").draggable();
            $("#featurebudget_{{task.id}}").draggable();
        });
    </script>

{% endif %}
