﻿{% load oifilters %}
{% load i18n %}
<div id="specs_{{task.id}}">
    {%for spec in task.spec_set.all|dictsort:"order"%}
    <div style="position:relative" id="spec_{{task.id}}_{{spec.order}}">
        {% with task as object %}
            {%include 'funding/spec/spec_feature.html'%}
        {% endwith %}
    </div>
    {% endfor %}
</div>
{% if task|can_write:user and task.state < 4 %}
    <a class="clickable" onclick="addSpec({{task.id}})"><img src="/img/icons/add.png" /> 
        {% trans "Add a description" %}
    </a>
{% endif %}    
