{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "Fund your software!" %}{% endblock %}
{% block announcement %}
{% if user.is_anonymous %}
<div id="catcherbg">
    <div id="catcher">
        <div id="slider" class="slider" onmouseover="window.slide=false" onmouseout="if(event.target.id=='slider')window.slide=true">
            <div class="slidertext">
                <dl>
                    <div id="indexslide1" class="indexslide"><dt>{% trans "fund" %}</dt>
                        <dd>{% trans "your favorite free software" %}</dd>
                    </div>
                    <div class="slidertip">{% trans "Open Funding enables you to contribute to the funding of the free software you need." %}</div>
                    <div id="indexslide2" class="indexslide invisible"><dt>{% trans "follow" %}</dt>
                        <dd>{% trans "the evolution of the projects" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Find out the new features of each project and suggest your ideas." %}</div>
                    <div id="indexslide3" class="indexslide invisible"><dt>{% trans "Get involved" %}</dt>
                        <dd>{% trans "and make it happen" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Join the community supporting free software! Free software is never obscure anymore." %}</div>
                </dl>
            </div>
            <div class="clickable slidericons">
                <div id="slidericon1" class="slidericon slidericonselected" onclick="slideIndex(1)"></div>
                <div id="slidericon2" class="slidericon" onclick="slideIndex(2)"></div>
                <div id="slidericon3" class="slidericon" onclick="slideIndex(3)"></div>
            </div>
        </div>
        <script type="text/javascript">
            window.slide = true;
            window.sliding = false;
            window.setInterval(function (){if(window.slide) slideIndex()}, 8000);
        </script>
        <a id="preslink" href="/presentation#1"><div class="slidermore" onmouseover="this.style.color='#004f44'" onmouseout="this.style.color='white'">
            {% trans "Learn More" %}
        </div></a>
        <img id="sliderimg1" src="/img/funding1.png" class="sliderimg" />
        <img id="sliderimg2" src="/img/funding2.png" class="sliderimg invisible" />
        <img id="sliderimg3" src="/img/funding3.png" class="sliderimg invisible" />
    </div>
</div>
{% endif %}
{% endblock %}
{% block headersep %}
{% if user.is_anonymous %}
<div class="registerline">
    <a href="/user/accounts/register"><div class="registertext">{% trans "Register now!" %}</div></a>
</div>
<div class="pagebody">
    <div class="center">
        <a><div class="fundingdesc">
            <div class="actions clickable actionbutton" onclick="$('#prjlist0').toggle(); $('#promoted_project').toggle(); $('#prjlist3').toggle()">
                <div>{% trans "submit" %}</div>
                {% trans "your project" %}
                <input id="appname" type="hidden" value="funding" />
            </div>
            <div class="fundingtitle">Open <span class="fundinggreen">Funding</span></div>
            <div>{% trans "helps you fund your <b>free software</b>." %}</div>
            <div>{% trans "<b>Start</b> you own project now!" %}</div>
            <div class="cleared"></div>
        </div></a>
    </div>
</div>
{% endif %}
{% endblock %}
{% block content %}
<div class="projectlisttitle">{% trans "Lastest projects" %}</div>
<div id="promoted_project">
    {% for project in object_list %}
        {% include 'funding/project_card.html' %}
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div class="prjlist" id="prjlist3">
    {% for project in user.get_profile.get_observed_projects.distinct %}
        {% include 'funding/project_card.html' %}
    {% endfor %}
</div>
{% endif %}
<div class="invisible prjlist" id="prjlist0">
    <form onsubmit="if(getValue('prjtitle')) addTask(getValue('prjtitle'), null, null,function(taskid){document.location = '/funding/'+taskid+'/edit'});return false" >
        {% trans "Please enter your project title :" %}
        <input id="prjtitle"/>
        <input type="image" src="/img/icons/ok-32.png" />
    </form>
</div>
<script>
    ajaxParams = document.location.hash;
    listid = ajaxParams.substring(1);
    if(listid) switchPrjList(listid);
</script>
<div class="cleared" style="width:100%"></div>
{% endblock %}
