{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "Fund your software!" %}{% endblock %}
{% block announcement %}
{% if user.is_anonymous %}
<div id="catcherbg">
    <div id="catcher">
        <div id="slider" class="slider" onmouseover="window.slide=false" onmouseout="if(event.target.id=='slider')window.slide=true">
            <div class="slidertext">
                <dl>
                    <div id="indexslide1" class="indexslide"><dt>{% trans "fund" %}</dt>
                        <dd>{% trans "your favorite free software" %}</dd>
                    </div>
                    <div class="slidertip">{% trans "Open Funding enables you to contribute to the funding of the free software you need." %}</div>
                    <div id="indexslide2" class="indexslide invisible"><dt>{% trans "follow" %}</dt>
                        <dd>{% trans "the evolution of the projects" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Find out the new features of each project and suggest your ideas." %}</div>
                    <div id="indexslide3" class="indexslide invisible"><dt>{% trans "Get involved" %}</dt>
                        <dd>{% trans "and make it happen" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Join the community supporting free software! Free software is never obscure anymore." %}</div>
                </dl>
            </div>
            <div class="clickable slidericons">
                <div id="slidericon1" class="slidericon slidericonselected" onclick="slideIndex(1)"></div>
                <div id="slidericon2" class="slidericon" onclick="slideIndex(2)"></div>
                <div id="slidericon3" class="slidericon" onclick="slideIndex(3)"></div>
            </div>
        </div>
        <script type="text/javascript">
            window.slide = true;
            window.sliding = false;
            window.setInterval(function (){if(window.slide) slideIndex()}, 8000);
        </script>
        <a id="preslink" href="/presentation#1"><div class="slidermore" onmouseover="this.style.color='#004f44'" onmouseout="this.style.color='white'">
            {% trans "Learn More" %}
        </div></a>
        <img id="sliderimg1" src="/img/funding1.png" class="sliderimg" />
        <img id="sliderimg2" src="/img/funding2.png" class="sliderimg invisible" />
        <img id="sliderimg3" src="/img/funding3.png" class="sliderimg invisible" />
    </div>
</div>
{% endif %}
{% endblock %}
{% block headersep %}
{% if user.is_anonymous %}
<div class="registerline">
    <a href="/user/accounts/register"><div class="registertext">{% trans "Register now!" %}</div></a>
</div>
{% endif %}
{% endblock %}
{% block actions %}
<div style="width:215px">
<div class="clickable actionbutton" onclick="$('#prjlist0').toggle(); $('#promoted_project').toggle(); $('#prjlist3').toggle()">
    <img style="margin-top:15px" class="actions" src="/img/icons/descriptionwhite.png" />
    <div>{% trans "submit" %}</div>
    {% trans "your project" %}
    <input id="appname" type="hidden" value="funding" />
</div></div>
{% endblock %}

{% comment %}
{% block related %}
<!--<div class="clickable actionbutton" onclick="switchPrjList(0)">-->
<!--    <img class="actions" src="/img/icons/descriptionwhite.png" />-->
<!--    <div><img src="/img/icons/add.png" /> {% trans "submit" %}</div>-->
<!--    {% trans "your project" %}-->
<!--    <input id="appname" type="hidden" value="funding" />-->
<!--</div>-->
{% endblock %}
{% endcomment %}

{% block content %}
<div class="linebar">
    <div class="actions">
        <div id="navhome">
            <div style="width: 200px;" class="navtitlehome">{% trans "Projects on Open Funding" %}</div>
            {% comment %}
            {% if user.is_authenticated %}
                <a href="#1" onclick="switchPrjList(1, 'listid_1')"><div id="listid_1" class="treetitlehome">{% trans "Our selection" %}</div></a>
                <a href="#2" onclick="switchPrjList(2, 'listid_2')"><div id="listid_2" class="treetitlehome">{% trans "Last projects" %}</div></a>
                <a href="#3" onclick="switchPrjList(3, 'listid_3')"><div id="listid_3" class="treetitlehome">{% trans "My projects" %}</div></a>
            {% endif %}
            {% endcomment %}
        </div>
    </div>
    <div class="cleared"></div>

    {% comment %}
    <div class="invisible prjlist" id="prjlist1">
        {% for project in object_list %}
            {% include 'funding/project_card.html' %}
        {% endfor %}
    </div>
    <div class="{% if user.is_authenticated %}invisible {% endif %}prjlist" id="prjlist2">
        {% for project in object_list %}
            {% include 'funding/project_card.html' %}
        {% endfor %}
    </div>
    {% endcomment %}
    <div id="promoted_project">
        {% for project in object_list %}
            {% include 'funding/project_card.html' %}
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <div class="prjlist" id="prjlist3">
            {% for project in user.get_profile.get_observed_projects.distinct %}
                {% include 'funding/project_card.html' %}
            {% endfor %}
        </div>
    {% endif %}
<!--</div>--> <!--the linebar show only without this end div-->
    
<div class="invisible prjlist" id="prjlist0">
    <form onsubmit="if(getValue('prjtitle')) addTask(getValue('prjtitle'), null, null,function(taskid){document.location = '/funding/'+taskid+'/edit'});return false" >
        {% trans "Please enter your project title :" %}
        <input id="prjtitle"/>
        <input type="image" src="/img/icons/ok-32.png" />
    </form>
</div>
<script>
    ajaxParams = document.location.hash;
    listid = ajaxParams.substring(1);
    if(listid) switchPrjList(listid);
</script>
<div class="cleared" style="width:100%"></div>
</div>
{% endblock %}
