{% extends "funding/base.html" %}
{% load i18n %}
{% load oifilters %}
{% block title %}{% trans "Fund your software!" %}{% endblock %}
{% block announcement %}
<div id="catcherbg">
    <div id="catcher">
        <div id="slider" class="slider" onmouseover="window.slide=false" onmouseout="if(event.target.id=='slider')window.slide=true">
            <div class="slidertext">
                <dl>
                    <div id="indexslide1" class="indexslide"><dt>{% trans "fund" %}</dt>
                        <dd>{% trans "together free software evolution" %}</dd>
                    </div>
                    <div class="slidertip">{% trans "By gathering, the Open Funding community makes improving free software possible. You wouldn't take it upon yourself, would you?" %}</div>
                    <div id="indexslide2" class="indexslide invisible"><dt>{% trans "contribute" %}</dt>
                        <dd>{% trans "to the projects brought by the developpers" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Easy! Support the evolutions you want and save time. The developpers are waiting for you, all you have to do is clicking on the feature you need!" %}</div>
                    <div id="indexslide3" class="indexslide invisible"><dt>{% trans "join" %}</dt>
                        <dd>{% trans "the community supporting free software!" %}</dd>
                    </div>
                    <div class="slidertip invisible">{% trans "Open Funding is the trust place bringing projects to life. You fund and validate the developments. Come make free software better with us!" %}</div>
                </dl>
            </div>
            <div class="clickable slidericons">
                <div id="slidericon1" class="slidericon slidericonselected" onclick="slideIndex(1)"></div>
                <div id="slidericon2" class="slidericon" onclick="slideIndex(2)"></div>
                <div id="slidericon3" class="slidericon" onclick="slideIndex(3)"></div>
            </div>
        </div>
        <script type="text/javascript">
            window.slide = true;
            window.sliding = false;
            window.setInterval(function (){if(window.slide) slideIndex()}, 8000);
        </script>
        <a id="preslink" href="/presentation#1"><div class="slidermore" onmouseover="this.style.color='#004f44'" onmouseout="this.style.color='white'">
            {% trans "Learn More" %}
        </div></a>
        <img id="sliderimg1" src="/img/funding1.png" class="sliderimg" />
        <img id="sliderimg2" src="/img/funding2.png" class="sliderimg invisible" />
        <img id="sliderimg3" src="/img/funding3.png" class="sliderimg invisible" />
    </div>
</div>
{% endblock %}
{% block headersep %}
{% if not user.is_authenticated %}
<div class="registerline">
    <a href="/user/accounts/register"><div class="registertext">{% trans "Register now!" %}</div></a>
</div>
{% endif %}

{% endblock %}
{% block content %}

    <div class="center">
        <a><div class="fundingdesc">
            <div class="actions clickable actionbutton" onclick="$('#prjlist0').fadeToggle(); $('#promoted_project').fadeToggle(); $('#prjlist3').fadeToggle(); $('#oi_last_project').fadeToggle();$('#details_create_task').fadeToggle()">
                <div>{% trans "submit" %}</div>
                {% trans "your project" %}
                <input id="appname" type="hidden" value="funding" />
            </div>
            <div class="fundingtitle">Open <span class="fundinggreen">Funding</span></div>
            <div>{% trans "helps you fund your <b>free software</b>." %}</div>
            <div>{% trans "<b>Start</b> you own project now!" %}</div>
            <div class="cleared"></div>
        </div></a>
    </div>
<div id="oi_last_project" class="projectlisttitle">{% trans "Latest projects" %}</div>
<div id="promoted_project">
    {% for project in object_list %}
        {% include 'funding/project_card.html' %}
    {% endfor %}
</div>
{% if user.is_authenticated %}
<div class="prjlist" id="prjlist3">
    {% for project in user.get_profile.get_observed_projects.distinct %}
        {% include 'funding/project_card.html' %}
    {% endfor %}
</div>
{% endif %}

<div style="background-color:white;border: 1px solid #D3CFCF;">
    <div class="invisible prjlist" id="prjlist0">
        <div class="projectlisttitle">{% trans "Submit your project" %}</div>
        <form class="form_center" onsubmit="if(getValue('prjtitle')) addTask(getValue('prjtitle'), null, null,function(taskid){document.location = '/funding/'+taskid+'/edit'});return false" >
            <p class="details_title">{% trans "You are about to start funding your free software project." %}</p>
            <p class="form_center details_title">{% trans "First enter your project title" %}</p>
            <input id="prjtitle"/>
            <p class="continuebtn" style="width: 7%;margin-left: auto;margin-right: auto;">
                <input class="nobtnstyle" type="submit" value="{% trans 'Create' %}" />
            </p>
        </form>
    </div>

    <div id="details_create_task" class="invisible">
        <div id="feature_by_feature" class="details_task">
            <h3>{% trans "Feature by feature" %}</h3>
            <p>
                {% trans "On Open Funding projects are funded feature by feature. That means once you have created the project you list the different features to develop, with a description on each to let people know what they're about. Plan the software and see what your users want!" %}
            </p>
        </div>
        <div id="results_engagement" class="details_task">
            <h3>{% trans "Results engagement" %}</h3>
            <p>
                {% trans "Open Funding proposes to fund a service delivery and not donations to the projects. Developers are committed to their results as the users validate the result of the development. You get paid, they get the feature, everyone's happy." %}
            </p>
        </div>
        <div id="reache_your_community" class="details_task">
            <h3>{% trans "Reach your community" %}</h3>
            <p>
                {% trans "Funding your project with Open Funding allows you to simply connect with your users and with a wider community interested in free software. But money won't come by itself. To achieve your goals, you'll have to "
"spread the word and let the people know about your project, by promoting it in any way that help you reach them so they can fund your work. If you need more guidance in this topic, we're" %} <a href="/contact">{% trans "here" %}</a> {% trans "to help." %}
            </p>
        </div>
        <div id="licence" class="details_task">
            <h3>{% trans "Licence" %}</h3>
            <p>
                {% trans "All the projects on Open Funding are distributed under a free license. It's up to each developer to specify the licence they use." %}
            </p>
        </div>
        <div id="reward" class="details_task">
            <h3>{% trans "Reward" %}</h3>
            <p>
                {% trans "On our platform users and developers exchange a product delivery, but developers also have the option to encourage their funders through bonus rewards. This can mean goodies (e.g. t-shirts of your project), technical support, or anything you imagine. Be creative to bring the attention in to your project." %}
            </p>
        </div>
        <div id="more_info" class="details_task">
            <h3>{% trans "More info" %}</h3>
            <p>
                {% trans "If you want to know more about Open Funding and project creation, visit our" %} <a href="/presentation">{% trans "presentation page" %}</a> {% trans "or contact us" %} <a href="mailto:contact@openinitiative.com?Subject={% trans 'Know%20more' %}" target="_top">{% trans "here" %}</a>.
            </p>
        </div>
    </div>
</div>

<script>
    ajaxParams = document.location.hash;
    listid = ajaxParams.substring(1);
    if(listid) switchPrjList(listid);
</script>
<div class="cleared" style="width:100%"></div>
{% endblock %}
