{% load i18n %}
{% load oifilters %}
{% load compress %}
<html>
    <head>
        {% compress css %}
<!--        <link rel="stylesheet" type="text/css" media="all" href="/css/oi.css" />-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/oiusers.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/oifunding.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/jquery-ui-1.9.1.custom.css" /> 
        {% endcompress %}
        {% compress js %}
        <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.9.1.custom.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/tinymce.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/advlist/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/autolink/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/link/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/image/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/lists/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/charmap/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/spellchecker/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/wordcount/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/visualblocks/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/media/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/plugins/paste/plugin.min.js"></script>
        <script type="text/javascript" src="/js/tiny_mce/themes/modern/theme.min.js"></script>
        <script type="text/javascript" src="/js/oijs.js"></script>
        <script type="text/javascript" src="/js/oiproject.js"></script>
        <script type="text/javascript" src="/js/oifunding.js"></script>
        <script>
            sites = {{Sites|safe}};
            prjsite = "http://" + sites["Open Initiative Projects"];
   
            function switchPrevFeature(){
                var prevFeature=$('.pluginfeature:visible').prev(".pluginfeature");
                $('.pluginfeature').animate({width: 'hide'});
                (prevFeature.length?prevFeature:$('.pluginfeature').last()).animate({width: 'show'});
            }
            function switchNextFeature(){
                var nextFeature=$('.pluginfeature:visible').next(".pluginfeature");
                $('.pluginfeature').animate({width: 'hide'});
                (nextFeature.length?nextFeature:$('.pluginfeature').first()).animate({width: 'show'});
            }
        </script>
        {% endcompress %}
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    </head>

    <body style="background-color: transparent;">
        <div id="messageoutput">
            <div><span id="output" class="info"></span></div>
        </div>
        {% if request.GET.type == "big" %}
        <div class="featuretitle">
            <a href="/" target="_blank"><img class="pluginlogo" src="/img/logo_funding.png"></a>
            <a href="/funding/{{object.id}}" target="_blank">{{object.title}}</a>
        </div>
        {% if object.all_not_started_tasks.count > 1 %}<img id="prevfeature" class="clickable plugin-arrow" src="/img/icons/previous.png" onclick="switchPrevFeature()"/>{% endif %}
        <div class="smallcolumn" style="width: 280px;">
            <ul class="features_manage" id="features_0">
                {% with linktitte="true" %}
                {% for task in object.all_not_started_tasks|filter_read:user %}
                
                    {% with position='absolute' %}
                    {% include 'funding/popup_budget.html' %}
                    {% endwith %}
                    
                    <li class="pluginfeature{% if not forloop.first %} invisible{% endif %}" id="task_{{task.id}}">
                        {% include 'funding/feature.html' %}
                    </li>
                {% endfor %}
                {% endwith %}
            </ul>
        </div>
        {% if object.all_not_started_tasks.count > 1 %}<img id="nextfeature" class="clickable plugin-arrow" src="/img/icons/next.png" onclick="switchNextFeature()"/>{% endif %}
        
        {% else %}{% if request.GET.type == "small" %}
        <a href="/funding/{{object.id}}" target="_blank" style="text-decoration: none !important;">
            <div class="pluginsmall">
                <img class="pluginlogo" src="/img/logo_funding.png">
                {% trans "Support " %}<br/>{{object.title}}
                {% with object.descendants|filter_read:user as descendants %}<div class="pluginsum">
                    {% blocktrans with amount=descendants.missingbid_sum|floatformat:"-2" %}
                        {{amount}} € <span class="plugin-nobold">to go!</span>
                    {% endblocktrans %}
                    <div class="progressbar">
                        <span id="progressbar_{{object.id}}" class="progress" style="width:{% widthratio descendants.allbid_sum|add:object.bid_sum object.get_selfbudget|default:descendants.allbudget 100 %}%;"></span>
                        <div id="progresslabel_{{object.id}}" class="progresstitle" >{% widthratio descendants.allbid_sum|add:object.bid_sum object.get_selfbudget|default:descendants.allbudget 100 %} %</div>
                    </div>
                </div>{% endwith %}
            </div>
        </a>

        {% else %}{% if request.GET.type == "tiny" %}
        <a href="/funding/{{object.id}}" target="_blank">
        <div class="plugintiny">
            <img class="pluginlogo" src="/img/logo_funding.png">
            {% with object.descendants|filter_read:user as descendants %}<div class="pluginsum">
                <div class="progressbar">
                    <span id="progressbar_{{object.id}}" class="progresstiny" style="width:{% widthratio descendants.allbid_sum|add:object.bid_sum object.get_selfbudget|default:descendants.allbudget 100 %}%;"></span>
                </div>
            </div>{% endwith %}
        </div>
        </a>

        {% endif %}{% endif %}{% endif %}
    </body>
</html>
