{% load oifilters %}
{% load i18n %}

<div id="featurebudget_{{task.id}}" class="featuredetail invisible" onclick="document.ignoreClosePopups = true;">
    <div id="prjdialogue_{{task.id}}" class="popup invisible"></div>
    {% include 'funding/feature_budget.html' %}
</div>

{% if task.state < 4 and task|can_bid:user or not user.is_authenticated %}

<div id="bidpopup_{{task.id}}" class="popup_spec invisible" onclick="document.ignoreClosePopups = true;">
    <img class="clickable actions" src="/img/icons/delete.png" alt="{% trans 'close' %}" title="{% trans 'close' %}" onclick="hidePopups()" />    
    
    <p>{% trans "Please indicate what you want to do:" %}</p>
    
    <form id="popup_budget_{{object.id}}" onsubmit="confirmBid({{object.id}});return false">
        
        <div class="help-funding">{% trans "By Co-funding this project you enable the developer to choose what feature to develop, so that the software on the whole makes better sense for you. Once the development is done, you will receive an e-mail to test the new feature and give your validation."%}</div>
        
        <div><input type=radio id="order_{{object.id}}" name="order" value="{{object.id}}" /><label for="order_{{object.id}}">{% trans "Back the project" %}</label></div>
        
        <div class="cleared funding_space"></div>
        
        
        <div class="help-funding">{% trans "By contributing to this order you will be delivered the professional quality feature you always wished for. Once the feature is developed, you will receive an e-mail to test it and give your validation."%}</div>
        
        <div>
            {% for feature in object.descendants|filter_read:user|dictsort:"priority" %}
            {% if feature.state < 4 %}
            <input type=radio id="order_{{feature.id}}" name="order" value="{{feature.id}}" /> <label for="order_{{feature.id}}">{% trans "Order the feature" %} {{feature.title}}</label>
            <br/>
            {% endif %}
            {% endfor %}
        </div>
        
        <div class="cleared"></div>
        
        <label for="bid_{{task.id}}">{% trans "Please enter the amount:" %}</label><br /><br />
        <input id="bid_{{object.id}}" name="bid_{{object.id}}" class="bidfeature" value="{% if not zero %}{{object.missing_bid|floatformat:"-2"}}{% else %}0{% endif %}" /> €
        <br /><br>
    </form>
    
    <p>{% trans "Thank you for joining community which makes" %} {{task.title}} {% trans "possible" %}</p>
    <p>{% trans "By continuing, you agree to the" %} <a href="/cgu" target="_blank">{% trans "Terms of Use" %}</a></p>
    <span class="fundingright continuebtn clickable" onclick="OIajaxCall('/project/confirmbid/{{task.id}}', 'bid='+getValue('bid_{{task.id}}'), 'output')">{% trans "Continue" %}</span>
</div>

{% endif %}
