{% extends "funding/base.html" %}
{% block title %}Presentation of Open Funding{% endblock %}
{% block pagetitle %}Presentation of Open Funding{% endblock %}
{% block nav %}
<div id="navhome">
    <a href="#1" onclick="slidePres('#1')"><div>What is Open Funding?</div></a>
    <a href="#2" onclick="slidePres('#2')"><div class="navitem">Follow the evolution of the projects</div></a>
    <a href="#3" onclick="slidePres('#3')"><div class="navitem">Give your opinion</div></a>
    <a href="#4" onclick="slidePres('#4')"><div class="navitem">Get involved</div></a>
</div>
{% endblock %}
{% block content %}
<div class="presslide" id="1">
<h2>What is Open Funding?</h2>
Open Funding is the funding platform for all your open source projects. Contribute to the projects, and see the progress you make. Be part of the project on the long run!
</div>
<div class="presslide invisible" id="2">
<h2>Follow the evolution of the projects</h2>
With Open Funding you can see the features that are proposed by or to the developers. You can see the progress made on them and know when they are coming.
</div>
<div class="presslide invisible" id="3">
<h2>Give your opinion</h2>
Propose new features, vote for the one you look forward to having, and foremost provide the money that enables them.
</div>
<div class="presslide invisible" id="4">
<h2>Get involved</h2>
Now you can have an influence on your open source project, and be part of the game. Open source is never obscure anymore.
</div>
<script>
    if(document.location.hash) slidePres(document.location.hash);
</script>
{% endblock %}
