{% extends "funding/base.html" %}
﻿﻿{% load oifilters %}
{% load i18n %}
{% block title %}{{object.title|default:_("Project")}}{% endblock %}
{% block breadcrumb %}
<div class="path-element">{{object.title}}</div>
{% endblock %}

{% block content %}
{% if object|can_read:user %}
<div class="prjbody">
    {% with object as project %}
    <div id="project_{{object.id}}" class="project">
        <div id="prjdialogue_{{object.id}}" class="popup invisible"></div>
        <div class="prjheader">
            <div>
                <div class="tasktitle" id="prjtitle_{{object.id}}" title="{{object.title}}">
                    {{object.title}}
                </div>
                <div class="prj-block-fav">
                    <img onclick="favProject(174)" src="/img/icons/starTrueFunding.png" alt="{% trans 'follow the project' %}" title="{% trans 'follow the project' %}" class="clickable followicon" id="fav_174" />
                    {{object.observer_set.count}} {% blocktrans count counter=object.observer_set.count %} subscriber {% plural %} subscribers {% endblocktrans %}
                </div>
            </div>
            <div class="cleared"></div>
        </div>
        <div id="specs_{{project.id}}" class="prjdesc">
            {% with spec=project.spec_set.all|filter_order:1 object=project %}
            <div style="position:relative; float:right" id="spec_{{object.id}}_{{spec.order}}" class="funding_space">
                {%include 'funding/spec/spec.html'%}
            </div>
            {% endwith %}
            
            {% with spec=project.all_specs_with_languages|filter_order:2 object=project %}
            <div style="position:relative;" id="spec_{{object.id}}_{{spec.order}}" class="funding_space">
                {%include 'funding/spec/spec.html'%}
            </div>
            {% endwith %}
            
            {% with spec=project.all_specs_with_languages|filter_order:3 object=project %}
            <div style="position:relative;" id="spec_{{object.id}}_{{spec.order}}" class="funding_space">
                {%include 'funding/spec/spec.html'%}
            </div>
            {% endwith %}
        </div>
    </div>
    
    <div class="cleared"></div>
    
    <h2 class="detail_subtitle">{% trans "Fund feature" %}</h2>
    
    
    <div class="">
    <div class="statebtns center_btn"> 
        {% if object.all_not_started_tasks %}<div onclick="featureShowHide('features_0')" id="featureid_proposed" class="clickable statebtn">{% trans "Proposed" %}</div>{% endif %}
        {% if object.all_progress_tasks %}<div onclick="featureShowHide('features_3')" id="featureid_progress" class="clickable statebtn">{% trans "In progress" %}</div>{% endif %}
        {% if object.all_finish_tasks %}<div onclick="featureShowHide('features_4')" id="featureid_finish" class="clickable statebtn">{% trans "Finished" %}</div>{% endif %}
        <div class="cleared"></div>
    </div>

        <ul class="features_manage" id="features_0">
            {% for task in object.all_not_started_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
        </ul>
        <div class="cleared"></div>

        <ul class="features_manage" id="features_3">
            {% for task in object.all_progress_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
            <div class="cleared"></div>
        </ul>

        <ul class="features_manage" id="features_4">
            {% for task in object.all_finish_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
            <div class="cleared"></div>
        </ul>
        
</div>
    {% endwith %}
</div>

{% with object as project %}

<div style="float: right;width: 29%;">
    <div>
    {% if object|can_write:user %}
        <a href="edit"><div class="bidaction funding_space">{% trans "Edit your project" %}</div></a>
        <div class="bidaction clickable" onclick="showPopup(document.getElementById('pluginpopup'))">{% trans "Integrate your project" %}</div>
        <div id="pluginpopup" style="width: 120%;" class="invisible popup" onclick="document.ignoreClosePopups = true;">
            <form>
                <textarea id="plugincode" class="norich" style="width:100%; float:right; height:65px"></textarea>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="big">{% trans "Big" %}<br>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="small">{% trans "Small" %}<br>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="tiny">{% trans "Tiny" %}<br>
            </form>
            <div id="plugin_preview"></div>
            
            {% comment %}it is for the popup plugin{% endcomment %}
            <div id="tiny_popup" class="invisible">
                <div class="featuretitle">
                    <img class="pluginlogo" src="/img/logo_funding.png">
                    <a href="/funding/{{object.id}}" target="_blank">{{object.title}}</a>
                    <div class="cleared"></div>
                    <span style="font-size:0.7em; color:#D3CFCF">{% trans 'Proposed by' %} {{object.author.get_profile|capfirst}}</span>
                </div>
                <p class="form_center no_p_style" style="color:#0094B5">{{object.allbid_sum}}€ {% trans 'funding' %}</p>
                <p class="form_center no_p_style" style="color:#0094B5">{{object.bid_set.count}} {% trans 'users' %}</p>
                {% for funding_user in object.bid_set.all %}
                    <img title="{{funding_user}}" alt="{{funding_user}}" src="/user/getpicture/{{funding_user}}"/>
                {% endfor %}
                <span class="prj-btn_green fundingright">{% trans 'Support' %}</span>
            </div>
            <div class="cleared"></div>
        </div>
    {% endif %}
    </div>
    
    <div class="myprofile column-right" style="margin-bottom: 10px;">
        <div class="clickable featuretitle funding_space">{% trans "Finance software" %}</div>
        {% with project.descendants|filter_read:user as descendants %}
        <div class="form_center">
            <span style="font-size: 16px; color:black"> {{descendants.allbid_sum|add:project.bid_sum|floatformat:"-2"}} € {% trans "funded" %}</span>
            <div class="progressbar">
                <span id="progressbar_{{object.id}}" class="progress" style="width:{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %}%;"></span>
                <span id="progresslabel_{{object.id}}" class="progresstitle" >{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %} %</span>
            </div>
            <div class="cleared"></div>
            <p class="editfeature">{{project.get_selfbudget|default:descendants.allbudget|floatformat:"-2"}} € {% trans "total" %}</p>
            <div class="cleared"></div>
        </div>
        {% endwith %}
        <div class="cleared"></div>
        <p><img alt="{% trans 'The number of all the funder' %}" title="{% trans 'The number of all the funder' %}" src="/img/logosmall.png" width="21px;" height="18px;"> {{project.count_all_funding_user}} {% trans "users" %}</p>
        {% if project.spec_set.all|filter_order:8 or object|can_manage:user %}
        <h4>{% trans "Project website" %}</h4>
            {% with spec=project.spec_set.all|filter_order:8 order=8 divid='software' %}{%include 'funding/project_detail_column_right.html'%}{% endwith %}
        {% endif %}
    </div>
    <div class="cleared"></div>
    
    <div class="myprofile" style="margin-bottom: 10px;">
        <div class="column-right">
            <div class="funding_space">{% trans "Project created by" %} <a href="/user/profile/{{project.author.username}}">{{project.author.get_profile}}</a></div>
            
            <div class="column profile_column">
                <img class="funding_profilepicture" src="/user/getpicture/{{project.author.username}}" />
                
                <div class="profile_info cleared">
                    <img src="/img/logosmall.png" class="column">
                    <div>{{project.author.get_profile.get_created_projects.count}} {% trans "Projects created" %}</div>
                    <div>{{project.author.get_profile.get_funded_projects.count}} {% trans "Projects funded" %}</div>
                </div>
            </div>
            <div>
                <div>{% autoescape off %}{% if project.author.get_profile.bio|length > 300 %} {{project.author.get_profile.bio|oiunescape|slice:":300"}}...{% else %}{{project.author.get_profile.bio|oiunescape}}{% endif %}{% endautoescape %}</div>
                </div>
                <div><a href="{{project.author.get_profile.personal_website}}">{{project.author.get_profile.personal_website}}</a></div>
                <div class="cleared"></div>
                <a style="text-align: right;display: block;" href="/user/profile/{{project.author.username}}">{% trans "Full bio" %}</a>
                <div class="cleared"></div>
            </div>
        </div>
    
        {% if object.reward_set.all or object|can_manage:user %}
        <div class="myprofile" style="margin-bottom: 10px;">
            <div class="column-right">
                <h2 class="detail_subtitle">{% trans "Reward" %} {% if object|can_manage:user %}<img class="clickable" title="{% trans 'Add a reward' %}" alt="{% trans 'Add a reward' %}" src="/img/icons/addgreen.png" onclick="showPopup(document.getElementById('newreward'));">{% endif %}</h2>
                
                <div id="newreward" class="invisible popup_reward" onclick="document.ignoreClosePopups = true;">
                    <form id="reward_form" method="post" enctype="multipart/form-data" action="{% url oi.projects.views.savereward object.id 0 %}" target="rewardimage_{{reward.id}}">
                        <span class="rewardtitle">{% trans "Edit your reward" %}</span>
                        <table>{{reward_form.as_table}}</table>
                        {% csrf_token %}
                        <input type="image" class="clickable fundingright" src="/img/icons/ok.png" onclick="document.getElementById('reward_form').submit();hidePopups()"/>
                    </form>
                </div>
                
                {% if object.reward_set.all %}
                <div id="blockreward">
                {% for reward in object.reward_set.all %}
                    <div id="blockreward_{{reward.id}}">
                        {% if object|can_manage:user %}<img alt="{% trans 'Delete the reward' %}" title="{% trans 'Delete the reward' %}" src="/img/icons/delete.png" class="fundingright clickable" onclick="deleteReward({{object.id}}, {{reward.id}})">{% endif %}
                        <h6 class="rewardtitle">{{reward.title}}</h6>
                        
                        <span class="fundingleft">
                            <img style="max-width:130px; margin-right:10px;" src="{% if reward.image %}{{reward.image.url}}{% endif %}" />
                        </span>
                        
                        <p><span id="descriptionreward_{{reward.id}}">{{reward.description|oiunescape}}</span></p>
                        
                        <div class="cleared"></div>
                        
                        {% if object|can_manage:user %}<img class="clickable fundingright" title="{% trans 'Edit the reward' %}" alt="{% trans 'Edit the reward description' %}" src="/img/icons/edit.png" onclick="showPopup(document.getElementById('newreward_{{reward.id}}'))"/>{% endif %}
                        
                    </div>
                    
                    <div id="newreward_{{reward.id}}" class="invisible popup_reward" onclick="document.ignoreClosePopups = true;">
                        <form id="reward_form_{{reward.id}}" method="post" enctype="multipart/form-data" action="{% url oi.projects.views.savereward object.id reward.id %}" target="rewardimage_{{reward.id}}">
                            <span class="rewardtitle">{% trans "Edit your reward" %}</span>
                            <table>{{reward_form.as_table}}</table>
                            {% csrf_token %}
                            <input type="image" class="clickable fundingright" src="/img/icons/ok.png" onclick="document.getElementById('reward_form_{{reward.id}}').submit();hidePopups()"/>
                        </form>
                    </div>
                    
                    <div id="reward_bottom_line_{{reward.id}}" class="reward_bottom_line cleared"></div>
                {% endfor %}
                </div>
                {% endif %}
                <div class="cleared"></div>
            </div>
        </div>
        {% endif %}
        
        {% if project.spec_set.all|filter_order:5 or project.spec_set.all|filter_order:6 or object|can_manage:user %}
        <div class="column-right myprofile">
            <h3>{% trans "Developper's corner" %}</h3>
            
            {% if project.spec_set.all|filter_order:5 or object|can_manage:user %}
            <h4>{% trans "Deposite" %}</h4>
            {% with spec=project.spec_set.all|filter_order:5 order=5 divid='deposite' %}{%include 'funding/project_detail_column_right.html'%}{% endwith %}
            {% endif %}
            
            {% if project.spec_set.all|filter_order:6 or object|can_manage:user %}
            <h4>{% trans "Licence" %}</h4>
            {% with spec=project.spec_set.all|filter_order:6 order=6 divid='licence' %}
            
                <input name="spectype" id="type_desc_{{divid}}" value="1" type="hidden"/>
                <input name="specid" id="specid_desc_{{divid}}" value="{{spec.id|default:0}}" type="hidden"/>
                <input name="projectid" id="projectid_desc_{{divid}}" value="{{project.id}}" type="hidden"/>
                <input name="specorder" id="specorder_desc_{{divid}}" value="{{order}}" type="hidden"/>
                
                <p>
                    <a id="desc_{{divid}}" href="{% if spec.url %}{{spec.url}}{% endif %}">{% if spec.text %}{{spec.text|oiunescape}}{% else %}{% trans "No description given" %}{% endif %}</a> 
                    {% if object|can_manage:user %}<img class="clickable" title="{% trans 'Edit the licence description' %}" alt="{% trans 'Edit the licence description' %}" src="/img/icons/edit.png" onclick="showPopup(document.getElementById('licencedescription_{{spec.id}}'))"/>{% endif %}
                </p>
                
                <div class="popup_reward invisible" id="licencedescription_{{spec.id}}" onclick="document.ignoreClosePopups = true;">
                    <span class="rewardtitle">{% trans "Edit the licence description" %}</span>
                    <div class="cleared"></div>
                    <textarea id="text_desc_{{divid}}" style="width:300px; height:70px;" class="norich">{{spec.text|oiunescape}}</textarea>
                    <div class="cleared"></div>
                    <img title="{% trans 'Save the description' %}" class="clickable fundingright" src="/img/icons/ok.png" onclick="saveSpec('desc_{{divid}}',{{project.id}},getValue('specorder_desc_{{divid}}'),{{spec.id|default:0}});hidePopups()"/>
                </div>
                {%include 'funding/project_detail_column_right.html'%}
            {% endwith %}
            {% endif %}
          
        </div>  
        {% endif %} 
    
    </div>
</div>

<div class="cleared"></div>

<div>
    {% if object|can_manage:user %}
    <div class="bordertitledetails credittip">
        <p class="navtitlehome no_p_style">{% trans "What you have to do :" %}</p>
        <p>
            {% trans "You can create and edit new developments for your projects. Specify the title, make a description that explains its characteristics and determine the expected price for each. Your users can suggest other developments on the project page, you can accept / rephrase if you wish." %}
        </p>
    </div>
    <div class="blockfeatureheight column">
        <div>
            <form onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, getValue('offer_{{object.id}}'), function(taskid){OIajaxCall('/funding/'+taskid+'/task', null, newDiv('features_0'))}); document.getElementById('offer_{{object.id}}').value = ''; return false">
                <input type="text" class="fieldfeature" id="newtask_title_{{object.id}}" value="{% trans 'insert a title' %}" onfocus="if(this.value)this.value=''">
                <div class="cleared"></div>
                
                <input type="text" style="text-align: right;" class="fieldfeature" id="offer_{{object.id}}" value="{% trans 'Feature price' %}" onfocus="if(this.value)this.value=''">  €
                <div class="cleared"></div>
                <p>{% trans "By adding this change you acknowledge <br/> that you have read and accepted the" %} <a href="/cgu">{% trans "Terms of Use" %}</a></p>
                        
                <p class="continuebtn fundingright clickable no_p_style" style="padding:1.5%">
                    <input class="nobtnstyle" type="submit" value="{% trans 'Propose' %}">
                </p>
            </form>
            <div class="cleared"></div>
        </div>
    </div>
    {% else %}
    <div class="bordertitledetails credittip">
        <p class="navtitlehome no_p_style">{% trans "Propose a new feature" %}</p>
        <p>
            {% trans "You can propose to the developer a new feature for this project. If it is accepted by the developer, the feature will be included in the project." %}
        </p>
    </div>
    <div class="blockfeatureheight column">
        <div>
            <form onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, null,function(taskid){OIajaxCall('/funding/'+taskid+'/task', null, newDiv('features_0','featurebox'))}); return false" id="newtask_{{object.id}}">
                <input type="text" class="fieldfeature" id="newtask_title_{{object.id}}" value="{% trans 'insert a title' %}" onfocus="if(this.value)this.value=''">
                <div class="cleared"></div>
                <p class="continuebtn fundingright clickable no_p_style" style="padding:1.5%">
                    <input class="nobtnstyle" type="submit" value="{% trans 'Propose' %}">
                </p>
            </form>
            <div class="cleared"></div>
        </div>
    </div>
    {% endif %}

</div>

<div class="discussion_column">
    {% if project|can_answer:user %}
        <a style="margin-top: 20px; display: block" class="clickable op_larger" onclick="addMessage(null, {{project.id}})">
            {% if not project|can_answer:user %}{% trans "Create a discussion" %}{% else %}{% trans "Add a comment" %}{% endif %}
        </a>
    {% endif %}
    <div id="discussions_{{project.id}}" class="discussions">
        {% for message in project.message_set.all %}
        <div id="message_{{message.id}}_box">{% include 'messages/message.html' %}</div>
        {% empty %}
        {% if project|can_answer:user %}{% trans "Discuss" %} {{object.title}}{% endif %}
        {% endfor %}
    </div>
</div>
{% endwith %}

<script>
    currentTask = {{object.id}};
    if(document.getElementById("features_0")){
        featureShowHide('features_0');
    }else if(document.getElementById("features_3")){
        featureShowHide('features_3');
    }else if(document.getElementById("features_4")){
        featureShowHide('features_4');
    }
    {% if object|can_manage:user %}
    jQuery(".features_manage").sortable({update: function(event,ui){
        var params = jQuery(this).sortable("toArray").map(function(id,index) {return id+"="+index}).join("&");
        OIajaxCall("/project/{{object.id}}/sort", params, "output");
    }})
    {% endif %}
</script>
{% else %}
{% trans "Forbidden" %}
{% endif %}
{% endblock %}
