{% load i18n %}
{% load oifilters %}
<div style="position:relative">
    <div class="prjcard prjcard_comingsoon">
        <div class="prjtitle funding_space">{{project.title}}</div>
        <div class="prjcardauthor">
            {% trans "Project created by" %}
            {{project.author.get_profile}}
            </div>
        <div class="cleared"><br/></div>
        {% with spec=project.spec_set.all|filter_order:1 %}
        <div class="cardspec">{% include 'funding/spec/minispec.html' %}</div>
        {% endwith %}
    </div>
    <span class="prjcard_comingsoon_tag">{% trans "Coming Soon" %}</span>
</div>
