{% extends "funding/base.html" %}
﻿﻿{% load oifilters %}
{% load i18n %}
{% block title %}{{object.title|default:_("Project")}}{% endblock %}
{% block breadcrumb %}
<div class="path-element">{{object.title}}</div>
{% endblock %}

{% block content %}
{% if object|can_read:user %}

{% with object as project %}

{% if object|can_write:user %}
<div id="pluginpopup" class="invisible popup" onclick="document.ignoreClosePopups = true;">
    <p>{% trans "If you want to see the feature in your website, you have to" %} <span class="rewardtitle">{% trans "copy and paste the code" %}</span></p>
    <form>
        <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="big"/>{% trans "Big" %}
        <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="small"/>{% trans "Small" %}
        <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="tiny"/>{% trans "Tiny" %}
        <textarea readonly id="plugincode" style="width:100%; float:right; height:65px"></textarea>
    </form>
    <div id="plugin_preview"></div>
    
    {% comment %}it is for the popup plugin{% endcomment %}
    <div id="tiny_popup" class="invisible">
        <div class="featuretitle">
            <img class="pluginlogo" src="/img/logo_funding.png"/>
            <a href="/funding/{{object.id}}" target="_blank">{{object.title}}</a>
            <div class="cleared"></div>
            <span style="font-size:0.7em; color:#D3CFCF">{% trans 'Proposed by' %} {{object.author.get_profile|capfirst}}</span>
        </div>
        <div class="form_center" style="color:#0094B5">{{object.allbid_sum}}€ {% trans 'funding' %}</div>
        <div class="form_center" style="color:#0094B5">{{object.bid_set.count}} {% trans 'users' %}</div>
        {% for funding_user in object.bid_set.all %}
            <img title="{{funding_user}}" alt="{{funding_user}}" src="/user/getpicture/{{funding_user}}"/>
        {% endfor %}
        <span class="prj-btn_green fundingright">{% trans 'Support' %}</span>
    </div>
    <div class="cleared"></div>
</div>
{% endif %}

<div class="block_shrinkrelated">
    <div style="position:relative; float: right;">
        <img id="btn_extend_open" class="btn_extend" src="/img/icons/openbtn.png" onclick="$('#shrinkrelated').animate({'width': '260px'}, 300);$('#btn_extend_close').removeClass('invisible');$('#btn_extend_open').addClass('invisible');" />    
            
        <img id="btn_extend_close" class="invisible btn_extend" src="/img/icons/closebtn.png" onclick="document.getElementById('shrinkrelated').style.cssText='';$('#btn_extend_open').removeClass('invisible');$('#btn_extend_close').addClass('invisible');" />
        <div id="shrinkrelated">
            <div id="related">
                {% include 'funding/related.html' %}
            </div>
        </div>
    </div>
</div>

{% comment %} website developpeur popup {% endcomment %}
{% with spec=project.spec_set.all|filter_order:8 order=8 divid='software' %}
{%include 'funding/project_detail_column_right.html'%}
{% endwith %}

{% comment %} reward popup {% endcomment %}
<div id="newreward" class="invisible popup_reward" onclick="document.ignoreClosePopups = true;">
    {% include 'funding/rewardblock.html' %}
</div>

{% for reward in object.reward_set.all %}
<div id="newreward_{{reward.id}}" class="invisible popup_reward" onclick="document.ignoreClosePopups = true;">
    {% for key, value in forms.items %}
        {% with reward_form=value %}
            {% with "reward_form_"|int_to_string:reward.id as form %}
                {% if form == key %}
                    {% include 'funding/rewardblock.html' %}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endfor %}
    </div>
{% endfor %}

{% comment %} for corner developpeur popup {% endcomment %}
{% with spec=project.spec_set.all|filter_order:5 order=5 divid='deposit' %}{%include 'funding/project_detail_column_right.html'%}{% endwith %}

{% with spec=project.spec_set.all|filter_order:6 order=6 divid='licence' spec_divid='spec__6_content' %}
<div class="popup_corner invisible" id="licencedescription_{{spec.id}}" onclick="document.ignoreClosePopups = true;">
                
    <div class="cleared"></div>
    
    <input name="spectype" id="type_{{spec_divid}}" value="3" type="hidden"/>
    <input name="specid" id="specid_{{spec_divid}}" value="{{spec.id|default:0}}" type="hidden"/>
    <input name="projectid" id="projectid_{{spec_divid}}" value="{{project.id}}" type="hidden"/>
    <input name="specorder" id="specorder_{{spec_divid}}" value="{{order}}" type="hidden"/>
    
    <form onsubmit="saveSpec('{{spec_divid}}',{{project.id}},getValue('specorder_{{spec_divid}}'),{{spec.id|default:0}});hidePopups(); return false">
        <span class="rewardtitle">{% trans "Indicate the license used to distribute software" %}</span><br/>
        <input id="text_{{spec_divid}}" type="text" value="{{spec.text|oiunescape}}">
        <div class="cleared"></div><br/>
        <span class="rewardtitle">{% trans "Url licence repository" %}</span><br/>
        <input id="url_{{spec_divid}}" type="text" value="{{spec.url|default:"http://"}}">
        <div class="cleared"></div>
    <input id="divid_{{spec_divid}}" name="divid" type="hidden" value="{{spec_divid}}" />
    <input alt="{% trans 'Save the description' %}" title="{% trans 'Save the description' %}" class="fundingright" type="image" src="/img/icons/ok-32.png">
    </form>
</div>
{% endwith %}


{% endwith %}

<div class="prjbody">
    {% with object as project %}
    <div id="project_{{object.id}}" class="project">
        <div id="prjdialogue_{{object.id}}" class="popup invisible"></div>
        <div class="prjheader">
            <div class="tasktitle" id="prjtitle_{{object.id}}" title="{{object.title}}">
                {{object.title}}
            </div>
            <div class="prj-block-fav">
                <img onclick="favProject({{object.id}}, 'Funding')" src="/img/icons/star{{object|is_following:user}}Funding.png" alt="{% trans 'follow the project' %}" title="{% trans 'follow the project' %}" class="clickable followicon" id="fav_{{object.id}}" />
                {{object.observer_set.count}} {% blocktrans count counter=object.observer_set.count %} subscriber {% plural %} subscribers {% endblocktrans %}
            </div>
            {% with spec=project.spec_set.all|filter_order:1 object=project %}
            <div style="position:relative; float:right" id="spec_{{object.id}}_{{spec.order}}" class="funding_space">
                {%include 'funding/spec/spec.html'%}
            </div>
            {% endwith %}
        </div>
        <div id="specs_{{project.id}}" class="prjdesc">
            {% for spec in project.all_specs_with_languages %}
                <div style="position:relative;" id="spec_{{object.id}}_{{spec.order}}" class="funding_space">
                    {% with project as object %}{%include 'funding/spec/spec.html'%}{% endwith %}
                </div>
            {% endfor %}
        </div>
        <div class="cleared"></div>
    </div>
    
    <div class="cleared"></div>
     
    {% comment %} popup for the project funding {% endcomment %}        
            
    {% with task=project zero='0' %}
        {% include 'funding/popup_budget.html' %}
    {% endwith %}
    
    {% with object.descendants|filter_read:user as tasks %}
    <div class="project">
    
        <div class="tabs_project">
            <a id="features" class="tab_project" href="#features" onclick="project_content('featuresproject')">{% trans "Features" %}</a>
            <a id="community" class="tab_project" href="#community" onclick="project_content('communityproject')">{% trans "Community" %}</a>
            <a id="discussions" class="tab_project" href="#discussions" onclick="project_content('discussionsproject')">{% trans "Discussions" %}</a>
        </div>
        <div class="cleared"></div>
    
        <div id="featuresproject" class="invisible">
            <div id="featureid_blockHead"> 
                {% if object.all_not_started_tasks %}<div onclick="featureShowHide('features_0')" id="featureid_proposed" class="clickable statebtn invisible">{% trans "Proposed" %}</div>{% endif %}
                {% if object.all_progress_tasks %}<div onclick="featureShowHide('features_3')" id="featureid_progress" class="clickable statebtn invisible">{% trans "In progress" %}</div>{% endif %}
                {% if object.all_finish_tasks %}<div onclick="featureShowHide('features_4')" id="featureid_finished" class="clickable statebtn invisible">{% trans "Finished" %}</div>{% endif %}
                <div class="cleared"></div>
            </div>

            <ul class="features_manage" id="features_0">
                {% for task in object.all_not_started_tasks|filter_read:user %}
                    <li id="task_{{task.id}}">
                    {% include 'funding/feature.html' %}
                    </li>
                {% empty %}
                    <p>{% trans "No features yet" %}</p>
                {% endfor %}
            </ul>
            
            <div class="cleared"></div>

            <ul class="features_manage" id="features_3">
                {% for task in object.all_progress_tasks|filter_read:user %}
                    <li id="task_{{task.id}}">
                    {% include 'funding/feature.html' %}
                    </li>
                {% endfor %}
                <div class="cleared"></div>
            </ul>

            <ul class="features_manage" id="features_4">
                {% for task in object.all_finish_tasks|filter_read:user %}
                    <li id="task_{{task.id}}">
                    {% include 'funding/feature.html' %}
                    </li>
                {% endfor %}
                <div class="cleared"></div>
            </ul>
            
            {% if object|can_manage:user or object|can_answer:user %}
            <div class="submit_feature">
                {% if object|can_manage:user %}
                <div class="column maxwidth50">
                    <div class="bordertitledetails">
                        <div class="navtitlehome oigreen">{% trans "What you have to do :" %}</div>
                        <p>
                            {% trans "You can create and edit new developments for your projects. Specify the title, make a description that explains its characteristics and determine the expected price for each. Your users can suggest other developments on the project page, you can accept / rephrase if you wish." %}
                        </p>
                    </div>
                </div>
                <div class="column maxwidth50">
                    <div class="blockfeatureheight">
                        <form id="submit_title_price_{{object.id}}" onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, getValue('newtask_offer_{{object.id}}'), function(taskid){OIajaxCall('/funding/'+taskid+'/task', null, newDiv('features_0'))}); document.getElementById('offer_{{object.id}}').value = ''; return false">
                            <table>
                                <tr>
                                    <td>
                                    <label class="loginlabel oigreen" for="newtask_title_{{object.id}}">{% trans "insert a title" %}</label>
                                <input type="text" class="fieldfeature" id="newtask_title_{{object.id}}" onkeyup="focusInOut('newtask_title_{{object.id}}')">
                                <div class="cleared"></div>
                                        </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="loginlabel oigreen" for="newtask_offer_{{object.id}}">{% trans "Feature price" %}</label>
                                        <input type="text" class="fieldfeature" id="newtask_offer_{{object.id}}" onkeyup="focusInOut('newtask_offer_{{object.id}}')">  €
                                        <div class="cleared"></div>
                                    </td>
                                </tr>
                            </table>
                            <p>{% trans "By adding this change you acknowledge that you have read and accepted the" %} <a href="/cgu">{% trans "Terms of Use" %}</a></p>
                            <input type="image" hidden>
                        </form>
                        <div class="cleared"></div>
                    </div>
                    <span class="clickable continuebtn fundingright" onclick="$('#submit_title_price_{{object.id}}').submit()">{% trans 'Propose' %}</span>
                </div>
                {% else %}
                    {% if object|can_answer:user %}
                    <div class="column maxwidth50">
                        <div class="bordertitledetails">
                            <div class="navtitlehome oigreen">{% trans "Propose a new feature" %}</div>
                            <p>
                                {% trans "You can propose to the developer a new feature for this project. If it is accepted by the developer, the feature will be included in the project." %}
                            </p>
                        </div>
                    </div>
                    <div class="column maxwidth50">
                        <div class="blockfeatureheight">
                            <form id="submit_title_{{object.id}}" onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, null,function(taskid){OIajaxCall('/funding/'+taskid+'/task', null, newDiv('features_0'))}); return false" id="newtask_{{object.id}}">
                                <table>
                                    <tr>
                                        <td>
                                        <label class="loginlabel oigreen" for="newtask_title_{{object.id}}">{% trans "insert a title" %}</label>
                                        <input type="text" class="fieldfeature" id="newtask_title_{{object.id}}" onkeyup="focusInOut('newtask_title_{{object.id}}')">
                                        </td>
                                    </tr>
                                </table>
                                <p>{% trans "By adding this change you acknowledge that you have read and accepted the" %} <a href="/cgu">{% trans "Terms of Use" %}</a></p>
                                <input type="image" hidden>
                            </form>
                            <div class="cleared"></div>
                        </div>
                        <span class="continuebtn fundingright clickable" onclick="$('#submit_title_{{object.id}}').submit()">{% trans 'Propose' %}</span>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="cleared"></div>
            </div>
            {% endif %}
        </div>
        <div id="communityproject" class="invisible">
        
            <div class="follow_project clickable" onclick="favProject({{object.id}}, 'Funding')">{% trans "Follow the project" %}</div>
        
            <h3>{{object.bid_set.count}} {% trans "Bids" %} : {{object.allbid_sum}} €</h3>
            
            <p style="color:#0094B5;margin-top: 24px;">{% trans "Here is the community that makes" %} {{object.title}} {% trans "possible. Are you a part of it? If not : <u>ORDER THE FEATURE</u> or <u>BACK THE PROJECT</u>" %}</p>
            
            
            {% regroup object.all_funding_user by user as user_list %}
            
            <div id="bids_{{object.id}}">
                {% for person in user_list %}
                
                <div class="participant">
                    <div class="fundingleft"><img class="contactpicture" src="/user/getpicture/{{person.grouper}}"><b style="border-right: 1px solid #0094B5; padding-right: 10px;">{{person.grouper}}</b></div>
                    <div class="fundingleft" style="margin-left: 20px;">
                        {% for bid in person.list|dictsort:"project" %}
                        <div class="line_featureuser">
                            {% trans "ordered" %} <u>{{bid.project.title}}</u> {% trans "with" %} {{bid.amount}} €
                            {% if user == bid.user and task.state < 3 %}
                            <div class="cleared"></div>
                            <img class="clickable" src="/img/icons/add.png" onclick="showPopup(document.getElementById('bidpopup_{{object.id}}'));hide('featurebudget_{{task.id}}')" /> {% trans "Add a new bid" %}
                            <div class="cleared"></div>
                            <img class="clickable" src="/img/icons/delete.png" onclick="cancelBid({{bid.project.id}}, {% if task.state > 1 %}true{% else %}false{% endif %})" alt="{% trans "Cancel your bid on this task" %}" title="{% trans "Cancel your bid on this task" %}" /> {% trans "Cancel my bid" %}
                            {% endif %}
                        </div>
                        <div class="cleared"></div>
                        {% endfor %}
                    </div>
                    <div class="cleared"></div>
                </div>    
                {% empty %}
                    {% trans "No bid on this project" %}
                {% endfor %}
            </div>
        </div>
        <div id="discussionsproject" class="invisible">
            {% with object as project %}
            <div class="cleared"></div>
            <div class="discussion_column">
                {% if project|can_answer:user %}
                    <a style="margin-top: 20px; display: block" class="clickable op_larger" onclick="addMessage(null, {{project.id}})">
                        {% if not project|can_answer:user %}{% trans "Create a discussion" %}{% else %}{% trans "Add a comment" %}{% endif %}
                    </a>
                {% endif %}
                <div id="discussions_{{project.id}}" class="discussions">
                    {% for message in project.message_set.all %}
                    <div id="message_{{message.id}}_box">{% include 'messages/message.html' %}</div>
                    <div class="cleared"></div>
                    {% empty %}
                    {% if project|can_answer:user %}{% trans "Discuss" %} {{object.title}}{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
    
    {% endwith %}
    {% endwith %}
    
</div>

<script>
    currentTask = {{object.id}};
    allFeatureFunction(); 
    project_content('featuresproject');
    project_oncload_page();
    follow = {% if object|is_following:user %}true{%else%}false{%endif%};
    {% if object|can_manage:user %}
    sortFeature({{object.id}});
    {% endif %}
</script>
{% else %}
{% trans "Forbidden" %}
{% endif %}
{% endblock %}
