{% load i18n %}
{% load oifilters %}
<div class="prjcard">
    <a href="/funding/{{project.id}}"><div class="prjtitle funding_space">{{project.title}}</div></a>
    <div class="prjcardauthor">
        {% trans "Project created by" %}
        <a href="/user/profile/{{project.author.username}}">{{project.author.get_profile}}</a>
        </div>
    <div class="cleared"><br/></div>
    {% with project.spec_set.all|dictsort:"order" as specs%}
    {% with spec=project.spec_set.all|filter_order:1 %}<a href="/funding/{{project.id}}"><div class="cardspec">{% include 'funding/spec/minispec.html' %}</div></a>{% endwith %}
    {% with spec=project.spec_set.all|filter_order:1 %}<div class="cardspec" style="height: 8.5em;overflow:hidden">{% include 'funding/spec/minispec.html' %}</div>{% endwith %}
    {% endwith %}
    {% with project.descendants|filter_read:user as descendants %}
    <div class="fundingprogress">
        <div class="progressbar prjcard_margin_bottom">
            <span id="progressbar_{{project.id}}" class="progress" style="width:{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %}%;"></span>
            <span id="progresslabel_{{project.id}}" class="progresstitle" >{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %} %</span>
        </div>
        <div class="cleared"></div>
        {{descendants.allbid_sum|add:project.bid_sum|floatformat:"-2"}} € {% trans "funded out of" %}
        {{project.get_selfbudget|default:descendants.allbudget|floatformat:"-2"}} €
    </div>
    {% endwith %}
</div>

