{% extends "funding/base.html" %}
﻿﻿{% load oifilters %}
{% load i18n %}
{% block title %}{{object.title|default:_("Project")}}{% endblock %}
{% block breadcrumb %}
<div class="path-element">{{object.title}}</div>
{% endblock %}

{% block content %}
{% if object|can_read:user %}
<div class="prjbody">
    {% with object as project %}
    <div id="project_{{object.id}}" class="project">
        <div id="prjdialogue_{{object.id}}" class="popup invisible"></div>
        <div class="prjheader">
            <div>
                <div class="tasktitle" id="prjtitle_{{object.id}}" title="{{object.title}}">
                    {{object.title}}
                </div>
                <div class="prj-block-fav">
                    <img onclick="favProject(174)" src="/img/icons/starTrueFunding.png" alt="{% trans 'follow the project' %}" title="{% trans 'follow the project' %}" class="clickable followicon" id="fav_174" />
                    {{object.observer_set.count}} {% blocktrans count counter=object.observer_set.count %} subscriber {% plural %} subscribers {% endblocktrans %}
                </div>
            </div>
            <div class="cleared"></div>
        </div>
        <div id="specs_{{project.id}}" class="prjdesc">
            {% for spec in project.spec_set.all|dictsort:"order" %}
                {% if spec.order < 2 %}
                <div style="position:relative" id="spec_{{project.id}}_{{spec.order}}" class="cleared funding_space">
                    {% with project as object %}{%include 'funding/spec/spec.html'%}{% endwith %}
                </div>
                {% endif %}
            {% endfor %}
            {%for spec in project.all_specs_with_languages|dictsort:"order"%}
                <div style="position:relative" id="spec_{{project.id}}_{{spec.order}}" class="cleared funding_space">
                    {% with project as object %}{%include 'funding/spec/spec.html'%}{% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="cleared"></div>
    
    <h2 class="detail_subtitle">{% trans "Fund feature" %}</h2>
    
    
    <div class="">
    <div class="statebtns center_btn"> 
        {% if object.all_not_started_tasks %}<div onclick="featureShowHide('features_0')" id="featureid_proposed" class="clickable statebtn">{% trans "Proposed" %}</div>{% endif %}
        {% if object.all_progress_tasks %}<div onclick="featureShowHide('features_3')" id="featureid_progress" class="clickable statebtn">{% trans "In progress" %}</div>{% endif %}
        {% if object.all_finish_tasks %}<div onclick="featureShowHide('features_4')" id="featureid_finish" class="clickable statebtn">{% trans "Finished" %}</div>{% endif %}
        <div class="cleared"></div>
    </div>

        <ul class="features_manage" id="features_0">
            {% for task in object.all_not_started_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
        </ul>
        <div class="cleared"></div>

        <ul class="features_manage" id="features_3">
            {% for task in object.all_progress_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
            <div class="cleared"></div>
        </ul>

        <ul class="features_manage" id="features_4">
            {% for task in object.all_finish_tasks|filter_read:user %}
                <li class="featurebox" id="task_{{task.id}}">
                {% include 'funding/feature.html' %}
                </li>
            {% endfor %}
            <div class="cleared"></div>
        </ul>
        
</div>
    {% endwith %}
</div>

{% with object as project %}

<div style="float: right;width: 29%;">
    <div>
    {% if object|can_write:user %}
        <a href="edit"><div class="bidaction funding_space">{% trans "Edit your project" %}</div></a>
        <a href="manage"><div class="bidaction">{% trans "Manage your features" %}</div></a>
        <div class="bidaction clickable" onclick="showPopup(document.getElementById('pluginpopup'))">{% trans "Integrate your project" %}</div>
        <div id="pluginpopup" class="invisible popup" onclick="document.ignoreClosePopups = true;">
            <form>
                <textarea id="plugincode" class="norich" style="width:70%; float:right; height:10%"></textarea>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="big">{% trans "Big" %}<br>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="small">{% trans "Small" %}<br>
                <input type="radio" name="plugintype" onclick="selectplugin({{object.id}}, this.value)" value="tiny">{% trans "Tiny" %}<br>
            </form>
            <div id="plugin_preview"></div>
            
            {% comment %}it is for the popup plugin{% endcomment %}
            <div id="tiny_popup" class="invisible">
                <div class="featuretitle">
                    <img class="pluginlogo" src="/img/logo_funding.png">
                    <a href="/funding/{{object.id}}" target="_blank">{{object.title}}</a>
                    <div class="cleared"></div>
                    <span style="font-size:0.7em; color:#D3CFCF">{% trans 'Proposed by' %} {{object.author.get_profile|capfirst}}</span>
                </div>
                <p class="form_center no_p_style" style="color:#0094B5">{{object.allbid_sum}}€ {% trans 'funding' %}</p>
                <p class="form_center no_p_style" style="color:#0094B5">{{object.bid_set.count}} {% trans 'users' %}</p>
                {% for funding_user in object.bid_set.all %}
                    <img title="{{funding_user}}" alt="{{funding_user}}" src="/user/getpicture/{{funding_user}}"/>
                {% endfor %}
                <span class="prj-btn_green fundingright">{% trans 'Support' %}</span>
            </div>
            <div class="cleared"></div>
        </div>
    {% endif %}
    </div>
    
    <div class="myprofile column-right" style="margin-bottom: 10px;">
        <div class="clickable featuretitle funding_space">{% trans "Finance software" %}</div>
        {% with project.descendants|filter_read:user as descendants %}
        <div class="form_center">
            <span style="font-size: 16px; color:black">{{project.get_selfbudget|default:descendants.allbudget|floatformat:"-2"}} € {% trans "funded" %}</span>
            <div class="progressbar">
                <span id="progressbar_{{object.id}}" class="progress" style="width:{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %}%;"></span>
                <span id="progresslabel_{{object.id}}" class="progresstitle" >{% widthratio descendants.allbid_sum|add:project.bid_sum project.get_selfbudget|default:descendants.allbudget 100 %} %</span>
            </div>
            <div class="cleared"></div>
            <p class="editfeature">{{descendants.allbid_sum|add:project.bid_sum|floatformat:"-2"}} € {% trans "total" %}</p>
            <div class="cleared"></div>
        </div>
        {% endwith %}
        <div class="cleared"></div>
        <p><img src="/img/logosmall.png" width="21px;" height="18px;"> {{project.count_all_funding_user}} {% trans "users" %}</p>
    </div>
    <div class="cleared"></div>
    
    <div class="myprofile" style="margin-bottom: 10px;">
        <div class="column-right">
            <div class="funding_space">{% trans "Project created by" %} <a href="/user/profile/{{project.author.username}}">{{project.author.get_profile}}</a></div>
            
            <div class="column profile_column">
                <img class="funding_profilepicture" src="/user/getpicture/{{project.author.username}}" />
                
                <div class="profile_info cleared">
                    <img src="/img/logosmall.png" class="column">
                    <div>{{project.author.get_profile.get_created_projects.count}} {% trans "Projects created" %}</div>
                    <div>{{project.author.get_profile.get_funded_projects.count}} {% trans "Projects funded" %}</div>
                </div>
            </div>
            <div>
                <div>{% autoescape off %}{% if project.author.get_profile.bio|length > 300 %} {{project.author.get_profile.bio|oiunescape|slice:":300"}}...{% else %}{{project.author.get_profile.bio|oiunescape}}{% endif %}{% endautoescape %}</div>
                </div>
                <div><a href="{{project.author.get_profile.personal_website}}">{{project.author.get_profile.personal_website}}</a></div>
                <div class="cleared"></div>
                <a style="text-align: right;display: block;" href="/user/profile/{{project.author.username}}">{% trans "Full bio" %}</a>
                <div class="cleared"></div>
            </div>
        </div>
    
    {% if object.reward_set.all or object|can_manage:user %}
    <div class="myprofile">
        <div class="column-right">
            <h2 class="detail_subtitle">{% trans "Reward" %} {% if object|can_manage:user %}<img class="clickable" title="{% trans 'Add a reward' %}" alt="{% trans 'Add a reward' %}" src="/img/icons/addgreen.png" onclick="addReward({{object.id}})">{% endif %}</h2>
            {% if object.reward_set.all %}
            {% for reward in object.reward_set.all %}
                <div>
                    <h6 class="rewardtitle">{{reward.title}}</h6>
                    
                    <span class="fundingleft">
                        <iframe id="rewardimage_{{reward.id}}" name="rewardimage_{{reward.id}}" class="filedest"></iframe>
                        <img style="max-width:130px" src="{% if reward.image %}{{reward.image.url}}{% endif %}" />
                        
                        {% if object|can_manage:user %}<img class="clickable" title="{% trans 'Edit the reward image' %}" alt="{% trans 'Edit the reward image' %}" src="/img/icons/edit.png" onclick="showPopup(document.getElementById('rewardpicture_{{reward.id}}'))"/>{% endif %}
                    </span>
                    
                    <p>
                        <span id="descriptionreward_{{reward.id}}">{{reward.description|oiunescape}}</span> 
                        {% if object|can_manage:user %}<img class="clickable" title="{% trans 'Edit the reward description' %}" alt="{% trans 'Edit the reward description' %}" src="/img/icons/edit.png" onclick="showPopup(document.getElementById('rewarddescription_{{reward.id}}'))"/>{% endif %}
                    </p>
                    
    <!--                les parties cachées-->
                    
                    <div class="popup_reward invisible" id="rewarddescription_{{reward.id}}" onclick="document.ignoreClosePopups = true;">
                        <span class="rewardtitle">{% trans "Edit the reward description" %}</span>
                        <textarea id="fieldreward_{{reward.id}}">{{reward.description|oiunescape}}</textarea>
                        <img class="clickable fundingright" src="/img/icons/ok.png" onclick="editRewardDescription({{object.id}}, {{reward.id}})"/>
                    </div>
                    
                    <div class="popup_reward invisible" id="rewardpicture_{{reward.id}}" onclick="document.ignoreClosePopups = true;">
                        <span class="rewardtitle">{% trans "Change the reward picture" %}</span>
                        <form id="reward_picture_form_{{reward.id}}" method="post" enctype="multipart/form-data" action="/project/{{object.id}}/uploadpicturereward/{{reward.id}}" target="rewardimage_{{reward.id}}">
                            {% csrf_token %}
                            <input id="picturereward_{{reward.id}}" name="file" type="file" size="1" onchange="document.getElementById('reward_picture_form_{{reward.id}}').submit();hide('rewardpicture_{{reward.id}}')" />
                        </form>
                        <img class="clickable fundingright" src="/img/icons/ok.png" onclick=""/>
                    </div>
                </div>
                <div class="reward_bottom_line cleared"></div>
            {% endfor %}
            {% endif %}
            <div class="cleared"></div>
        </div>
    </div>
    {% endif %}
    
    </div>
</div>

<div class="cleared"></div>

<div>
    <div class="bordertitledetails credittip">
        <p class="navtitlehome no_p_style">{% trans "Propose a new feature" %}</p>
        <p>
            {% trans "You can propose to the developer a new feature for this project. If it is accepted by the developer, the feature will be included in the project." %}
        </p>
    </div>

    <div class="blockfeatureheight column">
        <div>
            <form onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, null,function(taskid){OIajaxCall('/funding/'+taskid+'/task', null, newDiv('features_0','featurebox'))}); return false" id="newtask_{{object.id}}">
                <input type="text" class="fieldfeature" class="newtask_title" id="newtask_title_{{object.id}}" value="{% trans 'insert a title' %}" onfocus="if(this.value)this.value=''">
                <div class="cleared"></div>
                <p class="continuebtn fundingright clickable no_p_style" style="padding:1.5%">
                    <input class="nobtnstyle" type="submit" value="{% trans 'Propose' %}">
                </p>
            </form>
            <div class="cleared"></div>
        </div>
    </div>
</div>

<div class="discussion_column">
    {% if project|can_answer:user %}
        <a style="margin-top: 20px; display: block" class="clickable op_larger" onclick="addMessage(null, {{project.id}})">
            {% if not project|can_answer:user %}{% trans "Create a discussion" %}{% else %}{% trans "Add a comment" %}{% endif %}
        </a>
    {% endif %}
    <div id="discussions_{{project.id}}" class="discussions">
        {% for message in project.message_set.all %}
        <div id="message_{{message.id}}_box">{% include 'messages/message.html' %}</div>
        {% empty %}
        {% if project|can_answer:user %}{% trans "Discuss" %} {{object.title}}{% endif %}
        {% endfor %}
    </div>
</div>
{% endwith %}

<script>
    currentTask = {{object.id}};
    if(document.getElementById("features_0")){
        featureShowHide('features_0');
    }else if(document.getElementById("features_3")){
        featureShowHide('features_3');
    }else if(document.getElementById("features_4")){
        featureShowHide('features_4');
    }
</script>
{% else %}
{% trans "Forbidden" %}
{% endif %}
{% endblock %}
