{% load oifilters %}{% load i18n %}

<div id="corner_{{divid}}" class="invisible popup_corner" onclick="document.ignoreClosePopups = true;">
    <input name="spectype" id="type_{{divid}}" value="3" type="hidden"/>
    <input name="specid" id="specid_{{divid}}" value="{{spec.id|default:0}}" type="hidden"/>
    <input name="projectid" id="projectid_{{divid}}" value="{{project.id}}" type="hidden"/>
    <input name="specorder" id="specorder_{{divid}}" value="{{order}}" type="hidden"/>
    <input type="hidden" id="text_{{divid}}">
    <span class="rewardtitle">{% trans "Enter here the link to the project website" %}</span>
    <form method="post" onsubmit="saveSpec('{{divid}}',{{project.id}},getValue('specorder_{{divid}}'),{{spec.id|default:0}}, '');hidePopups(); return false">
        <input id="url_{{divid}}" type="text" value="{{spec.url|default:"http://"}}">
        <div class="cleared"></div>
        <input class="fundingright" type="image" src="/img/icons/ok-32.png">
        {% csrf_token %}
    <input id="divid_{{divid}}" name="divid" type="hidden" value="{{divid}}" />
    </form>
</div>
