{% extends "funding/base.html" %}
﻿﻿{% load oifilters %}
{% load i18n %}
{% block title %}{{object.title|default:_("Project")}}{% endblock %}
{% block breadcrumb %}
<div class="path-element">{{object.title}}</div>
{% endblock %}
{% block content %}
{% if object|can_write:user %}
<div class="pagebody">
    {% with object as project %}
    <div id="project_{{object.id}}" class="project">
        <div id="prjdialogue_{{object.id}}" class="popup invisible"></div>
        <div class="prjheader">
            <div class="prjauthor">{% trans "Project created by" %} {{object.author.get_profile}}</div>
            <div>
                <div class="tasktitle" id="prjtitle_{{object.id}}" title="{{object.title}}">
                    {{object.title}}
                    {% if object|can_write:user and object.state < 2 %}
                    <img onclick="document.getElementById('prjtitle_{{object.id}}').innerHTML = document.getElementById('edittitle').innerHTML" class="clickable" src="/img/icons/edit.png" alt="{% trans 'Edit the title' %}" title="{% trans 'Edit the title' %}" />
                </div>
                <div id="edittitle" class="invisible">
                    <form onsubmit="confirmEditTitle({{object.id}}, getValue('title_{{object.id}}'));return false">
                        <input id="title_{{object.id}}" type="text" value="{{object.title}}" />
                        <input type="image" class="clickable" src="/img/icons/ok-32.png"/>
                        <img class="clickable" src="/img/icons/del-32.png" onclick="resetProjectTitle({{object.id}},'{{object.title}}')" />
                    </form>
                    {% endif %}
                </div>
                <div class="prj-block-fav">
                    <img onclick="favProject(174)" src="/img/icons/starTrueFunding.png" alt="{% trans 'follow the project' %}" title="{% trans 'follow the project' %}" class="clickable followicon" id="fav_174">
                    {{object.observer_set.count}} {% blocktrans count counter=object.observer_set.count %} subscriber {% plural %} subscribers {% endblocktrans %}
                </div>
            </div>
            <div class="cleared"></div>
        </div>
        <div id="specs_{{project.id}}" class="presslide">
            <div class="bordertitlemanage">
                <p class="navtitlehome">{% trans "What you have to do :" %}</p>
                <p>
                    {% trans "You can create and edit new developments for your projects. Specify the title, make a description that explains its characteristics and determine the expected price for each. Your users can suggest other developments on the project page, you can accept / rephrase if you wish." %}
                </p>
            </div>

            {% if object|can_answer:user %}            
                <div class="featureblock fundingright" style="width:45%;">
                    <div id="feature_{{object.id}}" class="featuretitle">{% trans "Propose a new feature" %}</div>
                    <form id="newtask_{{object.id}}" onsubmit="addTask(getValue('newtask_title_{{object.id}}', true), {{object.id}}, getValue('offer_{{object.id}}'), function(taskid){OIajaxCall('/funding/'+taskid+'/task', 'manage='+'manage', newDiv('features_0','width:32%; float:left;margin-left: 3px; margin-right: 3px;'))}); document.getElementById('offer_{{object.id}}').value = ''; return false">
                     
                        <label class="inputnewtask" for="newtask_title_{{object.id}}">{% trans 'Feature name' %}</label>
                        <div class="cleared"></div>
                        <input type="text" id="newtask_title_{{object.id}}" class="newtask_title boderline"/>
                        
                        <br/><br/>
                        
                        <label class="inputnewtask" for="offer_{{object.id}}">{% trans 'Feature price' %}</label>
                        <div class="cleared"></div>
                        <input style="width: 50px;text-align: right;" type="text" id="offer_{{object.id}}" class="newtask_title boderline"/> €
                        
                        <p>{% trans "By adding this change you acknowledge that you have read and accepted the" %} <a href="/cgu">{% trans "Terms of Use" %}</a></p>
                        
                        <input type="image" class="fundingright" src="/img/icons/ok-32.png" class="clickable">
                   
                    </form>
                </div>   
            {% endif %}         
            
            <br/>
            <div class="cleared"></div>
            <div class="statebtns"> 
                {% if object.all_not_started_tasks %}<div onclick="featureShowHide('features_0')" id="featureid_proposed" class="clickable statebtn">{% trans "Proposed" %}</div>{% endif %}
                {% if object.all_progress_tasks %}<div onclick="featureShowHide('features_3')" id="featureid_progress" class="clickable statebtn">{% trans "In progress" %}</div>{% endif %}
                {% if object.all_finish_tasks %}<div onclick="featureShowHide('features_4')" id="featureid_finish" class="clickable statebtn">{% trans "Finished" %}</div>{% endif %}
                <div class="cleared"></div>
            </div>

            {% if not object.all_not_started_tasks %}<div class="features_manage" id="features_0"><div id="nofeatures"></div></div>{% endif %}  
            {% if object.all_not_started_tasks %}
                <ul class="features_manage" id="features_0">
                    {% for task in object.all_not_started_tasks %}
                        {% include 'funding/feature_manage.html' %}
                    {% endfor %}
                </ul>
                <div class="cleared"></div>
            {% endif %}

            {% if object.all_progress_tasks %}
                <ul class="features_manage" id="features_3">
                    {% for task in object.all_progress_tasks %}
                        {% include 'funding/feature_manage.html' %}
                    {% endfor %}
                </ul>
                <div class="cleared"></div>
            {% endif %}

            {% if object.all_finish_tasks %}
                <ul class="features_manage" id="features_4">
                    {% for task in object.all_finish_tasks %}
                        {% include 'funding/feature_manage.html' %}
                    {% endfor %}
                </ul>
                <div class="cleared"></div>
            {% endif %}
            

            <div class="cleared"></div>

            <a href="/funding/{{object.id}}/edit" class="fundingleft"><div class="funding_btn">{% trans "Edit your project" %}</div></a>
            <a href="/funding/{{object.id}}" class="fundingright"><div class="prj-btn">{% trans "Done" %}</div></a>
            <div class="cleared"></div>

        </div>
    </div>
    {% endwith %}
</div>
<script>
    if(!document.getElementById("nofeatures")){
        featureShowHide('features_0');
    }else if(document.getElementById("features_3")){
        featureShowHide('features_3');
    }else if(document.getElementById("features_4")){
        featureShowHide('features_4');
    }
    function test(event, ui) {
        alert(ui.item);
        alert(ui.originalPosition.top);
    }
    jQuery(".features_manage").sortable({update: function(event,ui){
        var params = jQuery(this).sortable("toArray").map(function(id,index) {return id+"="+index}).join("&");
        OIajaxCall("/project/{{object.id}}/sort", params, "output");
    }})
</script>
{% else %}
{% trans "Forbidden" %}
<script>document.location.href="/funding/{{object.id}}";</script>
{% endif %}
{% endblock %}
