{% load i18n %}
﻿﻿{% load oifilters %}

<div class="cleared sepsearch"></div>
<input name="spectype" id="type_{{project.id}}_2_{{lang|default:'default'}}" value="1" type="hidden"/>
<input name="specid" id="specid_2_{{lang|default:'default'}}" value="{{spec2.id|default:0}}" type="hidden"/>
<input name="projectid" id="projectid_2_{{lang|default:'default'}}" value="{{project.id}}" type="hidden"/>
<input name="specorder" id="specorder_2_{{lang|default:'default'}}" value="2" type="hidden"/>
<input name="speclang" id="lang_2_{{lang|default:'default'}}" value="{{lang|default:'default'}}" type="hidden"/>

<b>{% trans "A short description of your project and why it is great" %}</b>  
{% with default='default' %}
<img class="invisible flag" src="/img/{% if lang == default %}en{% else %}{{lang|default:'en'}}{% endif %}.png"/>
<div class="help-funding">{% trans "This description is 200 characters maximum and will be shown in the home page, try to be specific." %}</div>

<div id="{{project.id}}_2_{{lang|default:'default'}}" style="max-width: 500px">
    <input id="text_{{project.id}}_2_{{lang|default:'default'}}" class="projectbaseline" value="{{spec2.text|oiunescape}}" maxlength="200" />
</div>
{% endwith %}
<div class="cleared sepsearch"></div>

<input name="spectype" id="type_{{project.id}}_3_{{lang|default:'default'}}" value="1" type="hidden"/>
<input name="specid" id="specid_3_{{lang|default:'default'}}" value="{{spec3.id|default:0}}" type="hidden"/>
<input name="projectid" id="projectid_3_{{lang|default:'default'}}" value="{{project.id}}" type="hidden"/>
<input name="specorder" id="specorder_3_{{lang|default:'default'}}" value="3" type="hidden"/>
<input name="speclang" id="lang_3_{{lang|default:'default'}}" value="{{lang|default:'default'}}" type="hidden"/>

<b>{% trans "A long description including : who you are, why you do it, how it can be used..." %}</b>
<div class="help-funding">{% trans "Explain the details of your project: why you do it, how can it be used, and the information you found important to attract the backers. Be as specific as you can." %}</div>
<div id="{{project.id}}_3_{{lang|default:'default'}}" style="max-width: 500px;clear:both;">
    <textarea id="text_{{project.id}}_3_{{lang|default:'default'}}" class="editable">{{spec3.text|oiunescape}}</textarea>
</div>


