{% load i18n %}
{% load oifilters %}
{% if spec.type == 5 %}
<a href="{{spec.file.url}}"><img src="/img/icons/dlspec.png" alt="{% trans 'Download the desciption' %}" title="{% trans 'Download the desciption' %}"/></a>
{% endif %}
<div id="spec_{{object.id}}_{{spec.order}}_content">

    <input type="hidden" id="specid_{{object.id}}_{{spec.order}}" value="{{spec.id}}" />
    
    {% if spec.type == 2 or spec.type == 6 and spec.file %}
    <img style="max-width:200px; max-height:200px" src="{% if spec.file %}{{spec.file.url}}{% endif %}" />
    {% endif %}
    {% if spec.type == 4 %}
    <iframe width="450" height="350" src="{{spec.url}}" frameborder="0" allowfullscreen>
    </iframe><br/>
    {% endif %}
    {% if spec.type == 3 or spec.type == 6 and spec.url != "http://" %}
    <a target= "_blank" href="{{spec.url}}" > {{spec.text|oiunescape|default:spec.url}} </a>
    {% else %}
        <div id="visible_{{object.id}}_{{spec.order}}_desc">
            {% if spec.order == 2 %}<p class="funding_short">{% endif %}
                {% if spec.text|length > 500 and spec.order == 3 %}
                    {{spec.text|oiunescape|summarize_html}}
                    <span class="clickable" onclick="seeMore('visible_{{object.id}}_{{spec.order}}_desc', 'invisible_{{object.id}}_{{spec.order}}_desc')"><a class="btn_feature fundingright bluesky">{% trans "See more" %}</a></span>
                {% else %}
                    {{spec.text|oiunescape}}
                {% endif %}
            {% if spec.order == 2 %}</p>{% endif %}
        </div> 
        {% if spec.text|length > 500 %}
            <div id="invisible_{{object.id}}_{{spec.order}}_desc" class="invisible">
                {{spec.text|oiunescape}}
                <span class="clickable" onclick="seeMore('visible_{{object.id}}_{{spec.order}}_desc', 'invisible_{{object.id}}_{{spec.order}}_desc')"><a class="btn_feature fundingright bluesky">{% trans "See less" %}</a></span>
            </div>
        {% endif %}
    {% endif %}
</div>

<input type="hidden" value="{{spec.order}}" />

